html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
#container{
    
    padding:10px 10px;
    
    font:normal 13px/1.6 "Helvetica Neue", Helvetica, Arial,sans-serif;
    color:#444;
}
a{
    color:#49A7F3;
    text-decoration:none;
}
#header {
    font-size:10px;
    text-align:right;
    overflow:auto;
    margin-bottom:10px;
    font-family: arial, helvetica, sans-serif;
    font-weight:bold;
    color:#888;
}
#header img{
    float:left;
}
h1{
    font-size: 18px;
  	color:#777;
  	font-weight:normal;
  	line-height:1.2;
  	text-shadow: 0 1px 1px #FFF;
    margin:5px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
h3{
    font-size:12px;
    color:#888;
    font-weight:normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom:5px;
}

.bold{
    font-weight:bold;
    color:#888;
    margin-bottom:5px;
}
#streamList{
	width:100%;
    margin:5px 0;
    overflow:auto;
    max-height:260px;
}
#streamList li{
	list-style:none;
	float:left;
	width:46%;
	margin:0 2% 2% 0;
}
#streamList a{
    display:inline-block;
	color:#666;
	font:normal 12px/16px "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding-left:18px;
	background:transparent url(/site_media/img/radio.png) no-repeat 0px -37px;
}
#streamList a:hover{}
#streamList a.selected{
	background:transparent url(/site_media/img/radio.png) no-repeat 0px 1px;
}
#streamList a.loading{
	background:transparent url(/site_media/img/small-load.gif) no-repeat 0px 1px;
}
#streamList a.loading:hover{
    cursor:busy;
}