.button
{
	background: #ededed;
	background: -moz-linear-gradient(top,#ededed 0%,#c4c4c4 100%);
	background: -o-linear-gradient(top,#ededed 0%,#c4c4c4 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ededed),color-stop(100%,#c4c4c4));
	border: 1px solid #b6b6b6;
	border-radius: 3px;
	color: #666;
	cursor: pointer;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EDEDED',endColorstr='#C4C4C4',GradientType=0);
	moz-border-radius: 3px;
	padding: 0;
	padding: 5px 25px;
	text-align: center;
	text-decoration: none;
	text-shadow: rgba(255,255,255,0.597656) 0px 1px 0px;
	webkit-border-radius: 3px;
	webkit-box-shadow: rgba(255,255,255,0.597656) 0px 1px 0px 0px inset;
	font-size: 12px;
}
.button:hover
{
	border: 1px solid #9d9d9d;
	text-decoration: none;
	webkit-box-shadow: rgba(0,0,0,0.148438) 0px 0px 8px, rgba(255,255,255,0.796875) 0px 1px 0px inset;
}
.button:hover span
{
	color: #313131;
}
.button:active
{
	background: #b9e0f5;
	background: -moz-linear-gradient(top,#b9e0f5 0%,#92bdd6 100%);
	background: -o-linear-gradient(top,#b9e0f5 0%,#92bdd6 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#b9e0f5),color-stop(100%,#92bdd6));
	border: 1px solid #7096ab;
	color: #1c4257;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B9E0F5',endColorstr='#92BDD6',GradientType=0);
	outline: none;
	webkit-box-shadow: rgba(255,255,255,0.597656) 0px 1px 0px 0px inset;
}
.button span
{
	font-family: Helvetica,Arial,sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}
