label{
    display:block;
    margin:10px 0 5px;
    font-size:16px;
    color:#444;
}

select, textarea, input[type=text], input[type=password]{
    font-size:13px;
    width:300px;
    padding:5px 5px 6px;
    border:1px solid #CCC;
    /*box-shadow: 0 6px 18px -10px rgba(0, 0, 0, 0.5);*/
}
textarea:focus,input[type=text]:focus, input[type=password]:focus{
    outline:none;
    border: 1px solid #777;
}