html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
b, strong{
    font-weight:bold;
}


html, body {
	height: 100%;
	background:transparent url(../img/pg-bg.png) repeat 0 0;
}
#header-sep{
	height:5px;
	/*background:transparent url(../img/header-top-1.png) repeat-x 0 0;*/
	background-color:#266799;
	box-shadow:1px 0 4px #555;
}
#wrap {min-height: 100%;background: whitesmoke url('/site_media/img/big-fade.png') repeat-x 0 0;}

#main {overflow:auto;
	padding-bottom: 100px;}  /* must be same height as the footer */

#footer {
	position: relative;
	margin-top: -100px; /* negative value of footer height */
	height: 99px;
	border-top:1px solid #ddd;
	background-color:#FFF;
	color:#888;
	clear:both;
} 
.container{width:960px;margin:0 auto;}
/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}
a{
	text-decoration:none;
	color:#19A9E5;
}
body{
    font-family: Helvetica, Arial, sans-serif;
    font-size:13px;
    line-height:1.6;
	color:#434950;
}
#header{
	padding:22px 0 25px;
	overflow:auto;
}
#header h1{
    float:left;
    margin-top:4px;
}
#header h1 a{
	display:block;
	background: transparent url(../img/logo1.png) no-repeat 0 0;
	width:177px;
	height:52px;
	overflow:hidden;
	text-indent:-1000px;
	position:relative;
}
ul.nav{
	line-height:52px;
	font-size:16px;
	font-weight:bold;
	float:right;
}
ul.nav li{
	display:inline-block;
	padding:0 20px;
}
ul.nav li:last-child{
	padding-right:0;
}
ul.nav a{
	color:#266699;
}
ul.nav a:hover{
	border-bottom:1px solid #fff;
}
.hide{
	display:none;
}

h3{
	font-size:20px;
	color: #333;
}
.right40{
	width:380px;
	float:right;
}
.social blockquote{
	font-family: Georgia, Serif;
	
}
.social blockquote em{
	font-weight:bold;
	
}
.left60{
	margin-right:400px;
}
.testonomials p.tweet{
	font-size:15px;
	color:#555;
	margin:5px 0;
	padding-left:24px;
	background:transparent url(../img/icon-tweet16.png) no-repeat 0 4px;
}

.testonomials a.user{
	font-size:12px;
	color:#0084B4;
	text-align:right;
}/*
.follow_us{
	clear:both;
	float:none;
	margin:40px 0;
	text-align:center;
}
.follow_us fieldset{
	border-top: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	padding:15px 0;
}
.follow_us legend{
	text-align:center;
	font-family: 'Times New Roman', Times, serif;
	font-size:21px;
	color:#333;
	text-shadow:1px 0 0 #fff;
}*/

/*   Home Page Styling */
.white_box{
	border: 1px solid #CCC;
	border-radius:5px;
	padding:15px;
	background-color:#FFF;
	-webkit-box-shadow:0 0 15px rgba(5, 5, 5, 0.1) inset;
	-moz-box-shadow:0 0 15px rgba(5, 5, 5, 0.1) inset;
	box-shadow:0 0 15px rgba(5, 5, 5, 0.1) inset;
}
.center_box{
	width:500px;
	margin:20px auto;
	padding:30px auto;
}
.error{
	background-color: #DE4C5B;
	color: white;
	font-size: 12px;
	font-weight: bold;
	padding: 5px 10px;
	margin: 10px 0;
	border: 1px solid #C64F4B;
}
.info{
	background-color: #FEEFB3;
	color: #000;
	font-size: 12px;
	font-weight: bold;
	padding: 5px 10px;
	margin: 10px 0;
	border: 1px solid #DDAA01;
}
#slide_content{
	height:380px;
	position:relative;
	overflow:hidden;
}
#slide_content .slide{
	width:930px;
	height:370px;
	display:inline-block;
	position:absolute;
	display:none;
	background-color:#fff;
}
.slide img.slide_image{
	margin-top:5px;
	float:right;
	width:580px;
}
.slide img.slide_image.left{
    float:left;
}
.in_slide_div{
    width:33%;
    height:100%;
    float:left;
}
.in_slide_div.border{
    border-left:1px solid #EEE;
    border-right:1px solid #EEE;
}
.in_slide_div .slide_c{
    margin:0px 10px;
}
.in_slide_div img{
    float:left;
    margin-right:10px;
}
div.slide-nav-cont{
	padding:15px 0;
	height:20px;
	background:transparent url(../img/slide-shodow.png) no-repeat 0 -20px;
}
.slide-nav{
	margin:0 auto;
	width:74px;
}
.slide-nav li{
	display:inline-block;
	padding:0 5px;
}
.slide-nav li a{
	display:inline-block;
	width:12px;
	height:12px;
	background:transparent url(../img/slideshow-button.png) no-repeat -28px -2px;
}
.slide-nav li a.active{
	background-position:-3px -2px;
}


div.get_account{
	margin:20px 5px 40px;
	background-color:#ebf9ff;
	border-radius:5px;
	border:1px solid #b4ddf2;
	color:#266899;
	text-shadow:1px 0 1px #fff;
	font-size:22px;
	line-height:1.3;
	padding:15px;
	-webkit-box-shadow:0 0 10px #b4ddf2, 0 0 15px rgba(93, df, ff, 0.1) inset;
	-moz-box-shadow:0 0 10px rgba(5, 5, 5, 0.1) inset;
	box-shadow:0 0 10px #b4ddf2, 0 0 15px rgba(93, 233, 255, 0.1) inset;
	overflow:auto;
}
a.get_account{
	display:block;
	width:152px;
	height:34px;
	float:right;
	margin:10px;
	text-indent:-1000px;
	overflow:hidden;
	position:relative;
	background:transparent url(../img/get_free_account.png) no-repeat 0 0;
}
a.get_account:hover{
	background-position:0 -50px;
}
a.get_account:active{
	background-position:0 -100px;
}

.block_title{
	font-family: Gill Sans / Gill Sans MT, sans-serif;
	font-size: 32px;
	color:#89C900;
	line-height:1;
	margin:5px 0 10px;
	font-weight:100;
}
.block_text{
	font-size:17px;
	color:#999;
	font-family: 'Open Sans', arial, serif;
	font-weight:400;
	
}
.slide_left{
	width:300px;
	padding-left:10px;
	float:left;
}
.slide_right{
	width:300px;
	padding-right:20px;
	float:right;
}

.footerCount{
	text-align:left;
	width:160px;
	
}
.footerCount img{
	float:left;
	margin:-6px 10px 0 0;
}
.footerCount span{
	font-size:17px;
	font-weight:bold;
	color:#333;
	line-height:20px;
}
.footerLinks{
	margin-top:30px;
	margin-right:200px;
	font-size:12px;
}
.footerLinks a{
	color:#777;
	font-weight:bold;
}
.footerLinks a:hover{
	color:#19A9E5;
}
.footerLinks ul{
	margin-bottom:3px;
	
}
.footerLinks li{
	display:inline-block;
	padding-right:10px;
}
.follow_us{
	width:320px;
	float:right;
	margin-top:-4px;
}
.follow_us a.follow{
	width:48px;
	height:48px;
	display:inline-block;
	text-indent:-1000px;
	overflow:hidden;
	position:relative;
	margin-right:20px;
}
.follow_us a.twitter{background:transparent url(../img/in-twitter.png) no-repeat 0 0;}
.follow_us a.twitter:hover{background:transparent url(../img/in-twitter-1.png) no-repeat 0 0;}
.follow_us a.facebook{background:transparent url(../img/in-facebook.png) no-repeat 0 0;}
.follow_us a.facebook:hover{background:transparent url(../img/in-facebook-1.png) no-repeat 0 0;}
.follow_us a.rss{background:transparent url(../img/in-rss.png) no-repeat 0 0;}
.follow_us a.rss:hover{background:transparent url(../img/in-rss-1.png) no-repeat 0 0;}

/*
div.get_account{
	margin:20px 5px 40px;
	
background: #77af42;
background: -moz-linear-gradient(top, #77af42 0%, #629733 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#77af42), color-stop(100%,#629733));
background: -webkit-linear-gradient(top, #77af42 0%,#629733 100%);
background: -o-linear-gradient(top, #77af42 0%,#629733 100%);
background: -ms-linear-gradient(top, #77af42 0%,#629733 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77AF42', endColorstr='#629733',GradientType=0 );
background: linear-gradient(top, #77af42 0%,#629733 100%);



	border-radius:5px;
	border:1px solid #6B9D3B;
	color:#fff;
	text-shadow:1px 0 1px #6B9D3B;
	font-size:24px;
	line-height:1.3;
	padding:15px;
	-webkit-box-shadow:0 0 10px #6B9D3B, 0 0 15px rgba(93, df, ff, 0.1) inset;
	-moz-box-shadow:0 0 10px #6B9D3B, 0 0 10px rgba(5, 5, 5, 0.1) inset;
	box-shadow:0 0 10px #6B9D3B, 0 0 15px rgba(107, 157, 59, 0.1) inset;
	overflow:auto;
}
a.get_account{
	display:block;
	width:199px;
	height:47px;
	float:right;
	margin:5px;
	overflow:hidden;
	position:relative;
	font-size:14px;
	text-align:center;
	color:#fff;
	line-height:47px;
	border-radius:25px;
	border:1px solid #608C35;
background: #5c8433;
background: -moz-linear-gradient(top, #5c8433 0%, #406020 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5c8433), color-stop(100%,#406020));
background: -webkit-linear-gradient(top, #5c8433 0%,#406020 100%);
background: -o-linear-gradient(top, #5c8433 0%,#406020 100%);
background: -ms-linear-gradient(top, #5c8433 0%,#406020 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5C8433', endColorstr='#406020',GradientType=0 );
background: linear-gradient(top, #5c8433 0%,#406020 100%);
}*/




/*						Form Button 					*/
input[type='button'], input[type="submit"]{
	background:transparent url(../img/web-buttons.png) no-repeat -185px 0;
	width:152px;
	height:34px;
	color:#eee;
	text-shadow:1px 0 1px #000;
	font-weight:bold;
	font-size:13px;
	outline:none;
	border:none;
	cursor:pointer;
}
input[type='button']:hover, input[type="submit"]:hover{
	background-position:-185px -54px;
	color:#fff;
}
input[type='button']:active, input[type="submit"]:active{
	background-position:-185px -108px;
	color:#fff;
}



.sidebar{
    float:right;
    width:300px;
    margin-top:5px;
}
.sidebar ul{
    line-height:1.2;
    color:#AAA;
}
.sidebar ul li{
    list-style:disc outside;
    
    margin:4px 0 4px 15px;
}
.sidebar h4{
    font-size:12px;
    font-weight:bold;
    color:#888;
    border-bottom:1px solid #EEE;
    padding-bottom:5px;
    margin-bottom:10px;
}
.box_content label{
    width:87px;
    display:inline-block;
    font-size:13px;
    font-weight:bold;
    color:#555;
}
.box_content p:first-child{
    margin-top:0;
}
.box_content p{
    margin-top:10px;
}
.box_content .help_text {
    padding-left:91px;
}
ul.tab{
    font-size:11px;
    font-weight:bold;
    margin-top:15px;
}
ul.tab li{
    display:inline-block;
    
}
ul.tab a{
    display:inline-block;
    width:100px;
    text-align:center;
    line-height:2;
    color:#888;
    background-color:#f5f5f5;
    border:1px solid #CCC;
    border-bottom:none;
}
ul.tab a.selected{
    background-color:#F4FEFF;
    color:#333;
    border:1px solid #CBF2EF;
    border-bottom:none;
    padding-bottom:1px;
}
div.div_bg{
    border:1px solid #CBF2EF;
    background-color:#F4FEFF;
    width:500px;
    padding:20px 25px;
    margin-top: -1px;
}
