/*.light-bg{
    position:absolute;
    top:0;
    left:0;
    z-index:9;
    width:100%;
    height:100%;
    background-color:#000000;
    opacity:0.7;
    display:none;
}
.light-content{
    position:absolute;
    top:0;
    z-index:10;
    background-color:#FFFFFF;
    overflow:hidden;
    display:none;
    left: 50%; 
    padding:10px;
    box-shadow:0 0 5px #000;
}*/

.light-bg{background:rgba(0, 0, 0, .5);display:none;height:100%;left:0;overflow-x:auto;overflow-y:scroll;position:fixed;top:0;width:100%;z-index:10;zoom:1}
.light-content{box-shadow:0 0 5px #000;background:rgba(255, 255, 255, 1);height:90%;left:50%;margin-left:-470px;position:absolute;top:0;width:940px;padding:10px;}
.theaterMode {
    overflow: hidden;
}
.theaterMode .light-bg{display:block;}

/************************************************************/
/*              Modal Box                                   */
/************************************************************/
.modalBox{
    padding:2px; 
    width:450px;
    margin:0 auto;
    position:relative;
    top:-500px;
    border:2px solid #8DEDFC;
    box-shadow:0px 0px 5px #000;
    border-radius:5px;
    background:white;
}
.modal_head{
    background-color:#EEE;
    padding:8px 15px;
}
.modal_foot{
    padding:8px 17px;
    background-color:#EEE;
    text-align:right;
}
.modal_content{
    margin:10px 15px 30px;
}
.modal_content label{
    margin-top:25px;
    display:inline-block;
    width:100px;
	text-align: right;
}
.help_text{
    padding-left:105px;
    color:#999;
}
.modal_content h4{
    font-size:12px;
    color:#999;
}
.modalBox img.modal-close{
    position: absolute;
    right: 0px;
    margin: -12px -12px 0 0;
}
.modalBox .message{
	background: #89C900;
	line-height: 2;
	padding: 0 20px;
	color: black;
	font-weight: bold;
	text-align: center;
}
.modalBox .loader{
	margin-bottom: -7px;
	margin-right: 10px;
}
.facetip {
    position:relative;
    padding:5px 10px;
    color:#000;
    background:#f3961c; /* default background for browsers without gradient support */
    /* css3 */
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c));
    background:-moz-linear-gradient(#f9d835, #f3961c);
    background:-o-linear-gradient(#f9d835, #f3961c);
    background:linear-gradient(#f9d835, #f3961c);
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    z-index:11;
    font-size:11px;
    font-family:Verdana, Arial, Serif;
}
.facetip:after {
    content:"";
    position:absolute;
    bottom:-5px; /* value = - border-top-width - border-bottom-width */
    left:15px; /* controls horizontal position */
    border-width:5px 5px 0; /* vary these values to change the angle of the vertex */
    border-style:solid;
    border-color:#f3961c transparent;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}
/*
.facetip {
    background-color: #333;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    padding: 6px;
    -moz-border-radius: 1px;
    z-index:11;
}

.facetip-arrow-down {
    position: absolute;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
}*/
