html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* Some Change */
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
b, strong{
    font-weight:bold;
}


html, body {
	height: 100%;
	background: whiteSmoke;
	color: #4D4D4D;
    background-image:url(/site_media/img/brushed_alu_preview.jpg);
}

/*body{background:transparent url(/site_media/img/bg.png) repeat-x center 0;}*/

#wrap{
	height: auto; min-height: 100%;
	height: 100%;
	width:960px;
	margin:0px auto;
}
#container{
	padding-top:10px;
	padding-bottom:50px;
}
#content{
	background:white;
	padding:10px 10px 30px;
	box-shadow:0px 1px 5px #CCC;
}

#footer{
	clear: both;
 	position: relative;
 	z-index: 10;
 	height: 20px;
 	margin-top: -20px;
}

#footer{
    width:960px;
    margin-left:auto;
    margin-right:auto;
}
#header{
    background-color:#f2f2f2;
    padding:5px 20px 5px 15px;
    margin-bottom:20px;
	overflow:auto;
}

body{
    font-family: Helvetica, Arial, sans-serif;
    font-size:13px;
    line-height:1.6;
}
a{
    text-decoration:none;
    color:#49A7F3;
    
}
#header h1{
    float:left;
    margin-top:8px;
}
#header h1 a {
    font-size:28px;
    font-weight:bold;
    color:#777777;
    text-shadow: 0px 0px 1px #F6F6F6;
    line-height:52px;
    padding-left:42px;
    text-indent:-1000px;
    overflow:hidden;
    position:relative;
    display:block;
    width:120px;
    background:transparent url(/site_media/img/collaboration-grey.png) no-repeat 0 0;
    background:transparent url(/site_media/img/logo1.png) no-repeat 0 -3px;
}

#header .vr {
    border-left: 1px solid #040404;
    border-right: 1px solid #2F2F2F;
    height: 26px;
    display: block;
    float: right;
    margin: 6px 3px 1px 3px;
}


strong{
    font-weight:bold;
}
em{
    font-style:italic;
}
blockquote{
    margin:10px 0 10px 30px;
    padding:10px;
    border:1px dotted #CCC;
}

/************************************************************************************************/
/*                                      User Home                                               */
/************************************************************************************************/

h2{
    font-size:24px;
    color:#333;
    text-shadow:1px 1px 1px #EEE;
}
h2.head{
    margin-bottom:10px;
}
input[type=text].searchBox{
	outline:none;
	float:right;
	padding:4px 28px 6px 5px;
	border:1px solid #CCC;
	width:250px;
	box-shadow:0 0 4px #CCC;
	background:transparent url('/site_media/img/1303408635_search.png') no-repeat 259px 4px;
	color:#777;
    background-color:white;
    margin:0px 0 0 5px;
}
input[type=text].searchBox:focus{
	box-shadow:0 0 4px #29A9E3;
	border:1px solid #29A9E3;
}
a.bookmark:visited{
    color:#444;
}
.leftSidebar{
    width:200px;
    margin-right:20px;
    float:left;
}
.sidebar h4{
	font-size:13px;
	color:#777;
	line-height:1;
	padding:6px 0 9px;
	border-bottom:1px solid #eee;
	margin-bottom:4px;
	font-family:Helvetica, Arial, Serif;
    font-weight:bold;
    padding-left:22px;
}
.sidebar h4.context{
	/*background-color:#55C5D1;*//*#b5deff;82C7FF;*/
    background:transparent url(/site_media/img/head-icon.png) no-repeat 0 5px;
    
}
.sidebar h4.friends{
	/*background-color:#A6CE39;*//*#AEEE00;*/
    background:transparent url(/site_media/img/head-icon.png) no-repeat 0 -392px;
}
.sidebar h4.add{
    background:transparent url(/site_media/img/settings.png) no-repeat 0 4px;
}
.addBookmark{
    background:transparent url(/site_media/img/bookmark.png) no-repeat 0 -1px;
    padding-left:22px;
}
.addContext{
    background:transparent url(/site_media/img/plus.png) no-repeat 0 -1px;
    padding-left:22px;
}
.sidebar ul{
	margin-bottom:20px;
}
.sidebar ul li{
	padding:2px 0px;
}
.sidebar li em{
    float:right;
    font-style:normal;
    margin:3px 0 0 0;
    font-size:11px;
    display:block;
    padding:0px 5px;
    background-color:#f2f2f2;
    color:#999;
    border-radius:2px;
    text-shadow:0 1px 1px #FFF;
}
.sidebar a{
	color:#888;	
}
.sidebar a:hover{
	color:#111;
}
.sidebar a.button{
	margin:10px 0 40px;
	display:block;
	border:1px solid #a4d6ff;
	text-align:center;
	border-radius:9px;
	color:#60b8ff;
}
.right{
    float:right;
}
.rightContent{
    margin-left:216px;
    padding-left:16px;
    border-left:1px solid #eee;
}
.entry:first-child{
    border-top:none;
}
.entry:last-child{
    border-bottom:none;
}
.entry{
    padding:15px 0;
	border-bottom:1px solid #f4f4f4;
}
.entry h3{
	font-family:Helvetica, Arial, Serif;
    font-size:16px;
	margin-bottom:3px;
    line-height:1.2;
}
.entry h3 em{
    font-size:12px;
    vertical-align:baseline;
    font-style:normal;
    color:#999;
}
.subtext{
	color:#999;
	font-size:11px;
    font-family:Gotham, Verdana, Arial, Serif;
    
}
.subtext a{
	color:#555;
}
.entry h4{
	line-height:1;
	font-size:13px;
	margin-bottom:5px;
	color:#999;
}
.favicon{
	height:12px;
	width:12px;
	margin-top:-3px;
	vertical-align:bottom;
}
.favi{
    vertical-align:middle;
    width:16px;
    height:16px;
    margin:-4px 2px 0 0;
}
a.edit_link{
    color:#222;
    padding:2px 8px 3px 6px;
    background-color:#f3f3f3;
    border-radius:3px;
    opacity:0;
    filter:alpha(opacity=00);
}
a.edit_link:hover{
    background-color:#AEEE00;
}
.add_context, .add_friend{
    width:16px;
    height:16px;
    float:right;
    display:block;
    text-indent:-999px;
    overflow:hidden;
    margin-top:-1px;
}
.add_context{
    
    background:transparent url(/site_media/img/1304754670_129.png) no-repeat 0 0;
    background:transparent url(/site_media/img/add_blue.png) no-repeat 0 0;
    background:transparent url(/site_media/img/add1.png) no-repeat 0 0;
}
.add_friend{
    background:transparent url(/site_media/img/add_green.png) no-repeat 0 0;
}


ul.nav{
    display:block;
    margin-left:100px;
    text-align:right;
    margin-top:13px;
}
ul.nav li{
    vertical-align:middle;
    display:inline-block;
    color:#BABABA;
}
ul.nav li:last-child{
    padding-right:0px;
}
ul.nav a.head_icon{
    color:#BABABA;
    padding:8px 6px;
}
ul.nav a.head_icon:hover{
    color:#888;
}
.head_icon{
    display:block;
    width:16px;
    height:16px;
    text-indent:999px;
    overflow:hidden;
    background:transparent url(/site_media/img/head-icon.png) no-repeat 0 0;
}
li.li_head .head_icon:hover{
    background-color:#f9f9f9;
}

.head_icon.comments{
    background-position:6px -190px;
}
li.li_head.active .head_icon.comments, .head_icon.comments:hover{
    background-position:6px -124px;
}
.head_icon.contexts{
    background-position:6px  -58px;
}
li.li_head.active .head_icon.contexts, .head_icon.contexts:hover{
    background-position:6px 8px;
}
.head_icon.friends{
    background-position:6px -454px;
}
li.li_head.active .head_icon.friends, .head_icon.friends:hover{
    background-position:6px -388px;
}
.head_icon.settings{
    background-position:6px -322px;
}
li.li_head.active .head_icon.settings, .head_icon.settings:hover{
    background-position:6px -256px;
}
/*
.head_icon.comments{
    background-position:6px -124px;
}
li.li_head.active .head_icon.comments, .head_icon.comments:hover{
    background-position:6px -190px;
}
.head_icon.contexts{
    background-position:6px 8px;
}
li.li_head.active .head_icon.contexts, .head_icon.contexts:hover{
    background-position:6px  -58px;
}
.head_icon.friends{
    background-position:6px -388px;
}
li.li_head.active .head_icon.friends, .head_icon.friends:hover{
    background-position:6px -454px;
}
.head_icon.settings{
    background-position:6px -256px;
}
li.li_head.active .head_icon.settings, .head_icon.settings:hover{
    background-position:6px -322px;
}*/
ul.nav li a.head_icon{
    border:1px solid #f3f3f3;
    border-bottom:none;
}
ul.nav li.active a.head_icon{
    border:1px solid #CCC;
    border-bottom:none;
    background-color:white;
    position:relative;
    z-index:10;
    box-shadow:0 -2px 4px #CCC;
}
.head_username{
    text-align:right;
    margin-bottom:10px;
    color:#999;
    font-size:11px;
}
.head_username a{
    color:#666;
}
.subhead{
    margin:-1px 0 0 0;
    position:absolute;
    background:white;
    border:1px solid #CCC;
    z-index:9;
    padding:5px 8px;
    display:none;
    box-shadow:0 0 4px #CCC;
}
li.li_head.active .subhead{display:block;}
ul.nav .subhead li{
    display:block;
    text-align:left;
    padding:3px 0;
    border-bottom:1px solid #f5f5f5;
    min-width:200px;
    color:#777;
}
ul.nav .subhead li:last-child{
    border-bottom:none;
}
ul.nav .subhead li.heading{
    font-size:11px;
    font-weight:bold;
    color:#555;
    border-bottom:1px solid #999;
    margin-bottom:4px;
}
ul.nav.textLink{
    margin-top:7px;
    color:#777;
}
.head_textLink{
    color:#444;
    text-shadow:0 1px 0 #fff;
}
/****************************************************************/
/*                  Form Styling                                */
/****************************************************************/

.left60{
    width:58%;
    margin:0 1%;
    float:left;
}
.right40{
    width:38%;
    margin:0 1%;
    float:right;
}

.clearfix{
    float:none;
    clear:both;
}


/***********************************************************************************************************************/
/*              Comments Page                                                                                          */
/***********************************************************************************************************************/
h3{
    font-size:16px;
	margin-bottom:3px;
    line-height:1.2;
    /*font-family:"Droid Sans", Arial, Serif;*/
}
div.leftContent h3{
    padding-bottom:5px;
}
h2.pageTitle{
    /*font-family:"Droid Sans", Arial, Serif;*/
}
h4{
    /*font-family:"Droid Sans", Arial, Serif;*/
    font-size:14px;
    color:#555;
}
h5{
    font-weight:bold;
    margin:5px 0;
}
h4.subhead, h4.subhead a{
    color:#BBB;
    font-size:11px;
    margin:10px 0 20px;
    line-height:1;
}
a.external{
    background:transparent url('/site_media/img/external-small.png') no-repeat -3px 1px;
    padding-left:14px;
}
.rightContentDiv{
    float:right;
    width:300px;
}

.streamList{
	width:100%;
    margin:5px 0;
}
.streamList li{
	list-style:none;
    float:left;
    width:46%;
	margin:5px 2% 5px 0;
}
.streamList a{
	color:#666;
	padding:2px 0 2px 22px;
	background:transparent url(/site_media/img/radio-off.png) no-repeat 0px center;
}
.streamList a:hover{}
.streamList a.selected{
	background:transparent url(/site_media/img/radio-on.png) no-repeat 0px center;
}
.streamList a.loading{
	background:transparent url(/site_media/img/8.gif) no-repeat 0px center;
}
.streamList a.noedit{
    background:transparent url(/site_media/img/1303821038_OK.png) no-repeat 0px center;
    cursor:text;
}
.streamList a.loading:hover{
    cursor:busy;
}

.streamList a.checkbox{
    background:transparent url(/site_media/img/checkbox_no.png) no-repeat 0px center;
}
.streamList a.checkbox.selected{
    background:transparent url(/site_media/img/checkbox_yes.png) no-repeat 0px center;
}

.leftContent{
    margin-right:320px;
}
.commentContainer{
    margin:10px 0 20px;
}
.commentBody{
    padding:10px;
    background:#f7f7f7;
    margin:10px 0;
}
.commentBody.blue{ background-color:#f2fcfd; border-bottom:1px solid #d5f6f8;}
.commentBody.ash { background-color:#f5f8f9;  border-bottom:1px solid #e0e9eb;}
.commentBody.blue .ash{
    border-top:2px solid #e0e9eb;
}
.commentBody.ash .blue{
    border-top:2px solid #d5f6f8;
}
.commentBody h5 a{
    font-weight:bold;
    font-size:13px;
}
.commentBody h5, .commentBody div.timestamp{
    display:inline;
    margin-bottom:10px;
    text-shadow:0px 1px 0px #FFF;
}
.commentBody div.timestamp{
    font-style:italic;
    font-size:11px;
}
div.timestamp .contexts{
    font-weight:bold;
}
.divReply a{
    font-size:12px;
}
.divReply form{
    
}
.divReply textarea{
    width:80%;
    height:80px;
    border:1px solid #AAA;
    border-radius:5px;
    padding:5px;
    outline:none;
}
.divReply select{
    border:1px solid #AAA;
    border-radius:5px;
    outline:none;
    font-size:13px;
    vertical-align:top;
}
p.commentText{
    margin:8px 0;
}
.divReply p{
    font-size:12px;
    color:#999;
    margin:5px 0;
}
.hide{
    display:none !important;
}
.contextList{
    margin:5px 0;
}
.contextSpan{
    padding:2px 0 3px 5px;
    background:#f2f2f2;
    border-radius:0 10px 10px 0;
    margin-right:15px;
    font-size:11px;
    line-height:1;
}
.contextSpan a{
    color:#555;
}
.contextSpan em{
    font-style:normal;
    background:#f8f8f8;
    padding:2px 8px 3px 5px;
    margin-left:5px;
    border-radius:0 10px 10px 0;
    color:#888;
}


.manageChannel{
    width:200px;
}
.manageChannel li{
    background-color:#555;
    margin-right:25px;
    border-bottom:1px solid #888;
}
.manageChannel li a{
    color:#EEE;
    display:block;
    padding: 5px 15px 6px;
}
.manageChannel li:hover{
    background-color:#444;
}
.manageChannel li.selected::after{
    content:"";
	position:absolute;
	border-style:solid;
	/* reduce the damage in FF3.0 */
    display:block; 
    width:0;
    top: 0px;
    right: -22px;
    bottom: auto;
    left: auto;
    border-width: 15px 0 15px 22px;
    border-color: transparent #333;
    
}
.manageChannel li.selected{
    color:#FFF;
    position: relative;
    padding: 8px 15px 9px;
    background: #F3961C;
    margin-right: 25px;
    background: #333;
    line-height:1;
}
.left250{
    float:left;
    width:220px;
}
.right250{
    margin-left:220px;
}
.right250 p{
    margin:8px 0;
}
.width150{
    display:inline-block;
    width:100px;
}
h3.impact{
    font-family:Helvetica, Arial, Serif;
    font-size:22px;
    color:#333;
}
h4.impact{
    font-family:Helvetica, Arial, Serif;
    font-size:16px;
    color:#222;
    margin-top:20px;
}
div.gray_bg{
    margin:10px 0 20px;
    background-color:#f2f2f2;
    border-radius:5px;
    color:#333;
    padding:10px 15px;
}
div.tip.smallText, div.gray_bg.smallText{
    padding:5px 10px;
    line-height:1.4;
}
.smallText{
    font-size:12px;
}
.smallText p{
    margin:5px 0 10px;
}
.tip{
    background-color:#fefedb;/*#FEFED0;*/
    border-radius:5px;
}
div.smallText h5{
    font-weight:bold;
    margin:5px 0;
    color:#222;
    font-size:13px;
}
div.smallText a{
    color:#111;
    font-weight:bold;
}
#txt_link{
    margin:10px 0 15px;
}
li.title{
    margin:5px 0;
}
a#addLink{
    display:block;
    padding-left:20px;
    background:transparent url(/site_media/img/ul_contacts.png) no-repeat left center;
    margin-top:10px;
}



.full_form label{
    display:inline-block;
    width:150px;
    clear:both;
}






/****************************************************/
/*              Account Settings                    */
/****************************************************/
p.clearfix{
	overflow:auto;
}
a.connect{
    display:block;   
    width:202px;
    height:27px;
    text-indent:-1000px;
    position:relative;
    overflow:hidden;
	float:left;
    background:transparent url(/site_media/img/social-connect.png) no-repeat 0 0;
}
a.connect.facebook{
    background-position:0 0;
}
a.connect.twitter{
    background-position:0 -26px;
}
a.connect.instapaper{
    background-position:0 -54px;
}
#table_notification{
    margin:10px 0;
    border:1px solid #555;
    border-right:none;
    border-left:none;
    width:100%;
}
#table_notification tr{
    border-bottom:1px solid #eee;
}
#table_notification tr:hover{
    background-color:#F8FBFF;
}
#table_notification th{
    padding:6px;
    text-align:left;
    font-weight:bold;
    background-color:#f5f5f5;
    border-bottom:1px solid #DDD;
}
#table_notification td{
    padding:6px;
}


.rightSideBar{
    float:right;
    width:300px;
    margin-top:5px;
}
.rightSideBar ul{
    line-height:1.2;
    color:#AAA;
}
.rightSideBar ul li{
    list-style:disc outside;
    
    margin:4px 0 4px 15px;
}
.rightSideBar h4{
    font-size:12px;
    font-weight:bold;
    color:#888;
    border-bottom:1px solid #EEE;
    padding-bottom:5px;
    margin-bottom:10px;
}


.load_more{
    display:block;
    padding:4px 0;
    width:98%;
    border:1px solid #CCC;
    border-radius:5px;
    font-size:13px;
    font-weight:bold;
    color:#888;
    text-align:center;
    margin-top:20px;
    background: #f4f4f4;
    background: -moz-linear-gradient(top, #f4f4f4 1%, #dbdbdb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f4f4f4), color-stop(100%,#dbdbdb));
    background: -webkit-linear-gradient(top, #f4f4f4 1%,#dbdbdb 100%);
    background: -o-linear-gradient(top, #f4f4f4 1%,#dbdbdb 100%);
    background: -ms-linear-gradient(top, #f4f4f4 1%,#dbdbdb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#dbdbdb',GradientType=0 );
    background: linear-gradient(top, #f4f4f4 1%,#dbdbdb 100%);
}
.load_more img{
    display:none;
}
.load_more span{
    display:inline;
}
.load_more.loading img{
    display:inline;
    margin-bottom:-5px;
}
.load_more.loading span{
    display:none;
}