/* @group Global Settings */

body{
	font: normal normal 13px/1.5 "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin: 0px;
}
::-webkit-scrollbar {
width: 6px;
height: 6px;
position:absolute;
z-index:2;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
height: 0px;
display: block;
background-color: transparent;
}
::-webkit-scrollbar-track-piece  {
background-color: #eee;
-webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical {
height: 30px;
background-color: #ccc;
-webkit-border-radius: 6px;
}
#container{
	width: 390px;
	min-height: 350px;
	background: transparent url(/site_media/img/22.gif) no-repeat center 30px;
	padding:5px;
}
#status{
    position:absolute;
    left:0px;
    bottom:0px;
    padding:1px 7px 3px;
    color:black;
    background:#FFF1A8;
}
#status.success{
    background:#080;
    color:white;
}

.hide{
    display:none;
}
#login{
	width: 360px;
	min-height: 280px;
	display: none;
	padding:15px 10px;
}
.clearfix{
	clear: both;
	float: none;
}
/* @end */

/* @group Head */
a{
	color: #8cd0f5;
}
a.icon{
	width: 25px;
	height: 25px;
	display: block;
	text-indent: -900px;
	overflow: hidden;
	margin: 3px 0;
	float: left;
}
a.icon.tag{
	height:16px;
	width:25px;
	background: transparent url('/site_media/img/used/tags.png') no-repeat 2px -29px;
}
a.icon.tag:hover{
	background: transparent url('/site_media/img/used/tags.png') no-repeat 2px -59px;
}
#head{
	overflow: auto;
	margin-bottom: 5px;
	margin-top: 5px;
}
#head a.icon.inactive{
	margin: 1px 0 1px;
	background: transparent url('/site_media/img/used/heart-icon.png') no-repeat left bottom;
}
#head a.icon.active{
	margin: 2px 0;
	background: transparent url('/site_media/img/used/heart-icon.png') no-repeat left top;
}
#head a.icon.settings{
	background: transparent url('/site_media/img/settings.png') no-repeat left top;
}
#head h1{
	font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
	color: #333;
	font-size: 24px;
	line-height: 28px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: normal;
	float: left;
	width: 330px;
	margin: 0 6px;
}
#tags{
	overflow: auto;
}
#view_tags{
    color:#999;
    margin-left:25px;
    border:1px solid white;
    padding:0px 4px;
    font-size:15px;
}
/*#view_tags:hover{
    border:1px dashed orange;
    background-color:#FFFBD7;
}*/
#input_tag{
	margin-left: 9px;
	width: 290px;
	padding: 3px 5px;
	border: 1px solid #333;
	outline:none;
	margin-right: 9px;
	font-size: 13px;
}
#input_tag.loading{
    background:transparent url(/site_media/img/load.gif) no-repeat 290px center;
}
/* @end */

/* @group Context Selection */
#searchBox{
	height: 29px;
}
ul.context{
	margin: 10px 0 0;
	padding: 0;
	max-height:231px;
	overflow:auto;
}
ul.context .indicator{
	float: left;
	width: 12px;
	height: 11px;
	/*border: 5px solid #B6FFB9;
	border-radius: 5px;
	*/
	display: block;
	margin: 5px 7px;
	background:transparent url(/site_media/img/used/green-dot.png) no-repeat 0 0;
}
ul.context .subtext{
	font-size: 12px;
    color: #CCC;
    float: right;
    width: 100px;
    text-align: right;
    padding-right: 5px;
    margin-top: 1px;
    text-overflow: ellipsis;
    overflow: hidden;
}
ul.context li{
	list-style: none;
	padding: 5px 0;
	height:23px;
	margin: 0;
	line-height: 20px;
	background-color:#fff;
}
ul.context li.odd{
	background-color:#f6f6f6;
}
ul.context li.inactive:hover{

}
ul.context li.active:hover{
	background: #faffef;
	cursor: pointer;
}
ul.context li.focus{
	background: #f4ffdd;
}
ul.context h3{
	color: #333;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: normal;
    margin: 0 100px 3px 25px;
    width: 210px;
}
ul.context li.inactive{
	color:#777;
}
div#contexts, #no-context{
	margin-top: 20px;
}

#input_context{
	margin: 0px;
	padding: 5px 5px 6px 21px;
	width: 352px;
	border: 1px solid #BBB;
	font-size: 13px;
	outline: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	background: transparent url(/site_media/img/used/search_glyph.png) no-repeat 6px 7px;
	-webkit-box-shadow:  0 0 2px #BBB;
	-moz-box-shadow:  0 0 2px #BBB;
	box-shadow: 0 0 2px #BBB; 
	margin: 0 3px;
}
#no-context-filtered{
    color:#555;
    padding:0 10px;
}
/* @end */

