body,html{
    min-width:500px;
}
#w {min-height: 100%;background-color:#fff;}

#m {overflow:auto;
	padding-bottom: 50px;}  /* must be same height as the footer */

#f {position: relative;
	margin-top: -50px; /* negative value of footer height */
    padding-top:8px;
	height: 42px;
	clear:both;
    background-color:#F2F2F2;
} 

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}


.h_image{
    margin-top:10px;
    float:right;
    height:37px;
}
.c{
    max-width:960px;
    min-width:500px;
    
    margin:0px auto;
}
.p{
    padding:0 15px;
}