html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {height: 100%;}

body{background:transparent url(/site_media/img/bg.png) repeat-x 0 0;}


#top-bar-bg{z-index:1;width:100%;height:40px;position:absolute;top:0;left:0;background:#111;background:-webkit-gradient(linear,left top,left bottom,from(#333),to(#111));background:-moz-linear-gradient(top,#333,#111);background:transparent\9;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333',endColorstr='#111111');box-shadow:0 1px 2px rgba(0,0,0,0.5);-moz-box-shadow:0 1px 2px rgba(0,0,0,0.5);-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.5);}

#wrap {
    min-height: 100%;
}

#main {overflow:auto;
	padding-bottom: 60px;}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -20px; /* negative value of footer height */
	height: 20px;
	clear:both;} 

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}

#wrap, #footer{
    width:960px;
    margin-left:auto;
    margin-right:auto;
}
#header{
    position:relative;
    z-index:3;
    height:40px;
    margin-bottom:40px;
}
body{
    color: #333333;
    font-family: Helvetica, Arial, sans-serif;
    font-size:13px;
    line-height:1.6;
}
a{
    text-decoration:none;
    color:#0063DC;
}


#header h1, #header h1 a{
    font-size:22px;
    font-weight:normal;
    color:#f6f6f6;
    text-shadow: 0px 0px 2px #FFF;
    line-height:40px;
    float:left;
}

#header .vr {
    border-left: 1px solid #040404;
    border-right: 1px solid #2F2F2F;
    height: 26px;
    display: block;
    float: right;
    margin: 6px 3px 1px 3px;
}

ul.nav{
    display:block;
    margin-left:100px;
    text-align:right;
}
ul.nav li.sep{
    padding:0px;
}
ul.nav li.sep span{
    border-left: 1px solid #040404;
    border-right: 1px solid #2F2F2F;
    height: 30px;
    display: block;
    float: right;
    margin-top:0px;
}
ul.nav li{
    display:inline-block;
    padding:10px 20px;
    color:#EEE;
    height:20px;
}
ul.nav a{
    color:#BABABA;
}
ul.nav a:hover{
    color:#FFF;
}
strong{
    font-weight:bold;
}
em{
    font-style:italic;
}
blockquote{
    margin:10px 0 10px 30px;
    padding:10px;
    border:1px dotted #CCC;
}
/****************************************************************************/
/*                          Index Page Styling                              */
/****************************************************************************/
h1, h2, h3, h4, h5{
    font-family: Arial, sans-serif;
    font-weight:bold;
    color:#555;
}
.thing{
    padding:15px 0;
    border-bottom:1px solid #EEE;
}
.thing.implemented{
    background-color:#EFEFEF;
    background:#f3f3f3 url(/site_media/img/notification_done.png) no-repeat 96% center;
}
.entry{
    margin-left:40px;
}
h3.title, h3.title a{
    font-family: 'Droid Sans', arial, serif;
    font-size:18px;
    line-height:1;
    margin-bottom:4px;
    color:#333;
}
.subtext{
    color:#888;
    font-size:11px;
}
.subtext a{
    color:#555;
}
.subtext a:hover{
    text-decoration:underline;
}
div.description, p.description{
    font-family: 'Droid Sans', arial, serif;
    font-size:13px;
    width:590px;
}

/****************************************************************************/
/*                           Idea Page Styling                              */
/****************************************************************************/
h2{
    font-family: 'Droid Sans', arial, serif;
    font-size:24px;
    line-height:30px;
    margin-bottom:5px;
}
h2 em{
    font-weight:normal;
    font-size:14px;
}
h3{
    font-size:18px;
    margin-bottom:10px;
}
h4{
    font-size:14px;
    margin-bottom:5px;
}
input:focus, textarea:focus{
    outline-width:0;
}
input[type="text"]{
    border:1px solid #999;
    border-radius:5px;
    padding:4px;
    width:400px;
}
textarea{
    border:1px solid #999;
    border-radius:5px;
    height:80px;
    width:400px;
    padding:4px;
}
ul.comments{
    margin:10px 0 20px;
    border-bottom:1px solid #eee;
}
ul.comments li{
    padding: 15px 15px 15px 0;
    border-top: 1px solid #EEEEEE;
    overflow: visible;
}
div.author{
    color: #3151A2;
    display: inline;
    font: bold 1.2em Helvetica,Arial,Helvetica,sans-serif;
    margin: 3px 3px 0 0;
    text-decoration: none;
}
.inline{
    display:inline;
}
div.sidebar{
    float:right;
    width:350px;
    margin-left:20px;
}
div.content{
    margin-right:370px;
}
div.sidebar h3{
    font-weight:normal;
    border-bottom:1px solid #eee;
    padding-bottom:6px;
}
div.sidebar li{
    margin:5px 0 5px 15px;
    list-style:disc;
}

div.description ul, .wmd-preview ul{
    list-style-type: disc;
	list-style-image: inherit;
	list-style-position: inside;
}
div.description ol, .wmd-preview ol{
    list-style-type: decimal;
	list-style-position: inside;
}
div.description p, .wmd-preview p{
    margin:5px 0;
}
div.description h1, .wmd-preview h1{
    font-size:18px;
    font-weight:bold;
}
div.description h2, .wmd-preview h2{
    font-size:14px;
    font-weight:bold;
}
div.comment_text{
    font-size:13px;
    line-height:1.5;
}
div.comment_text p{
    margin:8px 0;
}
div.votes{
    margin:10px 0;
    font-size:11px;
}
div.votes .up{
    color:#080;
    font-weight:bold;
}
div.votes .down{
    color:#800;
    font-weight:bold;
}
/****************************************************************************/
/*                          New Idea Submission                             */
/****************************************************************************/
div.error{
    color: #D8000C;
    background-color: #FFBABA;
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
}
fieldset{
    border-top:1px solid #EEE;
}
legend{
    font-size:22px;
    padding-right:10px;
}
p label{
    display:block;
    font-weight:bold;
    margin:10px 0 5px;
}
p label em{
    font-size:11px;
    font-weight:normal;
}
.wmd-preview{
    border:1px dotted #DDD;
    padding:10px;
    width:600px;
    margin-bottom:20px;
}
/****************************************************************************/
/*                          Profile Page Settings                           */
/****************************************************************************/
.input_field[type="text"]{
    width:200px;
}
.message{   
    background-color:#E5ECF9;
    border:1px solid #36C;
    margin:15px 0;
    padding:10px;
}
/****************************************************************************/
/*                          Vote Count Styling                              */
/****************************************************************************/
div.vote{
    float:left;
    width:30px;
    margin-right:10px;
}
div.vote div{
    width:30px;
    text-align:center;
}
div.vote a{
    margin:0px auto;
    width:16px;
    height:16px;
    display:block;
    background:transparent url(/site_media/img/vote.png) no-repeat 0 0;
}
a.vote.up{
    background-position:0 -32px;
}
a.vote.up.active{
    background-position:0 0;
}
a.vote.up.inactive{
    background-position:0 -16px;
}
a.vote.down{
    background-position:-16px -32px;
}
a.vote.down.active{
    background-position:-16px 0;
}
a.vote.down.inactive{
    background-position:-16px -16px;
}




.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}
.bigrounded {
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}
.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}
/* gray */
.gray {
    color: #e9e9e9;
    border: solid 1px #555;
    background: #6e6e6e;
    background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
    background: -moz-linear-gradient(top,  #888,  #575757);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}
.gray:hover {
    background: #616161;
    background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
    background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}
.gray:active {
    color: #afafaf;
    background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
    background: -moz-linear-gradient(top,  #575757,  #888);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}

/* white */
.white {
    color: #606060;
    border: solid 1px #b7b7b7;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background: -moz-linear-gradient(top,  #fff,  #ededed);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
    background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active {
    color: #999;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
    background: -moz-linear-gradient(top,  #ededed,  #fff);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

#id_honeypot{display:none;}
.spinner {
	position: absolute;
	opacity: 0.9;
	filter: alpha(opacity=90);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
	z-index: 999;
	background: #fff;
}
.spinner-msg {
	text-align: center;
	font-weight: bold;
}

.spinner-img {
	background: url(/site_media/img/spinner.gif) no-repeat;
	width: 24px;
	height: 24px;
	margin: 0 auto;
}


.home_image{
    background:transparent url(/site_media/img/ideas.jpg) no-repeat 0 0;
    width:100%;
    height:555px;
}
.home_image h1{
    font-size:30px;
    font-weight:bold;
    line-height:1;
    font-family: 'Droid Sans', arial, serif;
    margin-left:350px;
    padding-top:30px;
    color:#00B5D5;
}
.home_image p.description{
    font-size:18px;
    color:#000;
    margin-top:300px;
}