.tourBox{
    padding:15px 20px; 
    width:760px;
    margin:0 auto;
    position:relative;
    top:110px;
    border-radius:4px;
    min-height:280px;
}
.tourBox p{
    font-size:13px !important;
    font-weight:normal !important;
    margin:5px 0;
    line-height:1.4;
}
.sample_context{
    margin:10px 0;
}
.sample_context li{
    /*212 px */
    width: 154px;
    padding: 3px 4px 3px 27px;
    margin: 5px 12px 5px 0;
    display: inline-block;
    border: 1px solid #EEE;
    background: transparent url(/site_media/img/checkbox.png) no-repeat 8px 7px;
    cursor: pointer;
    border-radius:4px;
    -moz-border-radius:4px;
}
.sample_context li:hover{
    background-color:#e9fbff;
    background-position:8px -39px;
}
.sample_context li.selected{
    background-position:8px -81px;
}
.text-right{
    text-align:right;
}
.light-text{
    font-size:11px;
    color:#999;
}
.tourBox p.social-icons-24{
    margin:15px 0 10px;
}
.social-icons-24 img{
    margin-right:10px;
}
.margin15{
    margin-top:15px;
}
i{
    font-style: italic;
}
.final_ol{
    margin:10px 0;
}
.final_ol li{
    padding:10px 0;
    border-bottom:1px solid #ccc;
}