/* AutoSuggest CSS - Version 1.2 */

ul.as-selections {
    width: 340px;
    list-style-type: none;
    border: 1px solid #aaa;
    padding: 0 3px;
    overflow: auto;
    background-color: #fff;
    margin: 0 0 0 9px;
    float: left;
}

ul.as-selections.loading {
    background-color: #eee;
}

ul.as-selections li {
    float: left;
    margin: 2px 4px 2px 0;
}

ul.as-selections li.as-selection-item {
    color: #2b3840;
    font-size: 11px;
    font-family: "Lucida Grande", arial, sans-serif;
    text-shadow: 0 1px 1px #fff;
    background-color: #ddeefe;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddeefe), to(#bfe0f1));
    border: 1px solid #acc3ec;
    border-top-color: #c0d9e9;
    padding: 0px 4px 0px 8px;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 12px;
    box-shadow: 0 1px 1px #e4edf2;
    -webkit-box-shadow: 0 1px 1px #e4edf2;
    -moz-box-shadow: 0 1px 1px #e4edf2;
}

ul.as-selections li.as-selection-item:last-child {
    margin-left: 30px;
}

ul.as-selections li.as-selection-item a.as-close {
    float: right;
    margin: -1px 0 0 1px;
    padding: 0 2px;
    cursor: pointer;
    color: #5491be;
    font-family: "Helvetica", helvetica, arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-shadow: 0 1px 1px #fff;
    -webkit-transition: color .1s ease-in;
line-height: 18px;}

ul.as-selections li.as-selection-item.blur {
    color: #666666;
    background-color: #f4f4f4;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f4f4), to(#d5d5d5));
    border-color: #bbb;
    border-top-color: #ccc;
    box-shadow: 0 1px 1px #e9e9e9;
    -webkit-box-shadow: 0 1px 1px #e9e9e9;
    -moz-box-shadow: 0 1px 1px #e9e9e9;
}

ul.as-selections li.as-selection-item.blur a.as-close {
    color: #999;
}

ul.as-selections li:hover.as-selection-item {
    color: #2b3840;
    background-color: #bbd4f1;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bbd4f1), to(#a3c2e5));
    border-color: #6da0e0;
    border-top-color: #8bb7ed;
}

ul.as-selections li:hover.as-selection-item a.as-close {
    color: #4d70b0;
}

ul.as-selections li.as-selection-item.selected {
    border-color: #1f30e4;
}

ul.as-selections li.as-selection-item a:hover.as-close {
    color: #1b3c65;
}

ul.as-selections li.as-selection-item a:active.as-close {
    color: #4d70b0;
}

ul.as-selections li.as-original {
    margin-left: 0;
}

ul.as-selections li.as-original input {
    border: none;
    outline: none;
    font-size: 11px;
    width: 120px;
    height: 18px;
}

ul.as-list {
    position: absolute;
    list-style-type: none;
    margin: 2px 0 0 0;
    padding: 0;
    font-size: 14px;
    color: #000;
    font-family: "Helvetica Neue", Helvetica, "Lucida Grande", arial, sans-serif;
    background-color: #fff;
    background-color: rgba(255,255,255,0.95);
    z-index: 2;
    box-shadow: 0 2px 12px #222;
    -webkit-box-shadow: 0 2px 12px #222;
    -moz-box-shadow: 0 2px 12px #222;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    max-height: 250px;
    overflow-y: auto;
}

li.as-result-item, li.as-message {
    margin: 0 0 0 0;
    /*padding: 3px 12px;
    background-color: transparent;
    border: 1px solid #fff;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;*/
    
    font-size:13px;
    
    padding: 1px 4px 3px;
    background-color: #fff;
    /*background-image: -webkit-gradient(linear, left top, left bottom, from(#F8F8F8), to(#F3F3F3));*/
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fcfcfc;
    color: #555;
}

li:first-child.as-result-item {
    margin: 0;
}

li.as-message {
    margin: 0;
    cursor: default;
}

li.as-result-item.active {
    /*background-color: #3668d9;
        background-image: -webkit-gradient(linear, 0% 0%, 0% 64%, from(rgb(110, 129, 245)), to(rgb(62, 82, 242)));
        border-color: #3342e8;
        color: #fff;
        text-shadow: 0 1px 2px #122042;*/
    background-color: #6483F7;
    background-image: -moz-linear-gradient(top, #648bF5, #2465f3); /* FF3.6 */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#648bF5), to(#2465f3)); /* Saf4+, Chrome */
    background-image: linear-gradient(top, #648bF5, #2465f3);
    border-top: 1px solid #5b83ec;
    border-bottom: 1px solid #1459e9;
    
    color: #555;
    
    background: #faffef; /* Old browsers */
    background: -moz-linear-gradient(top,  #faffef 0%, #f4ffdd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#faffef), color-stop(100%,#f4ffdd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #faffef 0%,#f4ffdd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #faffef 0%,#f4ffdd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #faffef 0%,#f4ffdd 100%); /* IE10+ */
    background: linear-gradient(top,  #faffef 0%,#f4ffdd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faffef', endColorstr='#f4ffdd',GradientType=0 ); /* IE6-9 */

    border-top: 1px solid #f5ffde;
    border-bottom: 1px solid #efffcc;
}

li.as-result-item em { 
    font-style: normal; 
    background: #444;  
    padding: 0 2px;
    color: #fff;
}

li.as-result-item.active em { 
    background: #253f7a;  
    color: #fff;
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {  
    ul.as-selections li.as-selection-item {
        padding-top: 0px;
        padding-bottom: 1px;
    }
    ul.as-selections li.as-selection-item a.as-close {
        margin-top: -1px;
    }
    ul.as-selections li.as-original input {
        height: 16px;
    }
}

/* Opera Hacks  */
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
    ul.as-list {
        border: 1px solid #888;
    }
    ul.as-selections li.as-selection-item a.as-close {
        margin-left: 4px;
        margin-top: 0;
    }
}

/* IE Hacks  */
ul.as-list {
    border: 1px solid #888\9;
}
ul.as-selections li.as-selection-item a.as-close {
    margin-left: 4px\9;
    margin-top: 0\9;
}

/* Firefox 3.0 Hacks */
ul.as-list,  x:-moz-any-link, x:default { 
    border: 1px solid #888;
}
BODY:first-of-type ul.as-list, x:-moz-any-link, x:default { /* Target FF 3.5+ */
    border: none;
}
