.hide{display:none;}
.text-left{text-align:left;}
.text-center{text-align:center;}
.text-right{text-align:right;}
.favi{width:16px;height:16px;}
.left{float:left;}
.right{float:right;}
.left70{width:70%;float:left;}
.right30{width:30%;float:right;}
.left60{width:60%;float:left;}
.right40{width:40%;float:none;margin-left:60%;}
.left80{width:80%;float:left;}
.right20{width:20%;float:none;margin-left:80%;}
.left50{width:50%;float:left;}
.right50{width:50%;float:none;margin-left:50%;}
.big-text-black{font-size:18px;color:#333;text-shadow:0 0 1px #fff;}
.display-inline{display:inline-block;zoom:1;*display:inline;}
.clearfloat{float:none;clear:both;}
.font-family-narow{font-family:"Arial Narrow","Helvetica Neue",Helvetica,Arial,sans-serif;}
.container{width:960px;margin:0 auto;zoom:1;position:relative;}.container:before,.container:after{display:table;content:"";zoom:1;}
.container:after{clear:both;}
.hide-overflow{overflow:hidden;}
.ie_css3{behavior:url(/site_media/ie-css3.htc);}
html,body{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,cite,code,del,dfn,em,img,q,s,samp,small,strike,strong,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,button,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:normal;font-style:normal;font-size:100%;line-height:1;font-family:inherit;text-align:left;}
table{border-collapse:collapse;border-spacing:0;}
ol,ul{list-style:none;}
q:before,q:after,blockquote:before,blockquote:after{content:"";}
html,body{height:100%;}
#wrap{min-height:100%;}
#main{padding-bottom:60px;}
#footer{position:relative;margin-top:-22px;height:22px;text-align:center;clear:both;}#footer a{color:#111;}
body:before{content:"";height:100%;float:left;width:0;margin-top:-32767px;}
body{color:#555;text-rendering:optimizeLegibility;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:13px;font-weight:normal;line-height:1.6;}
#header{background:#999999 url('/site_media/img/header_bg.png') repeat-x left top;margin-bottom:30px;color:white;width:100%;top:0px;}#header a{color:white;}
#header h1{width:90px;float:left;margin-top:2px;vertical-align:middle;}#header h1 a#beta{width:9px;line-height:7px;font-size:9px;float:left;color:#CCC;text-align:center;margin-top:2px;margin-left:1px;}
#header h1 a#headerLogo{margin-top:2px;color:white;font-size:24px;display:block;width:63px;float:left;text-indent:-900px;overflow:hidden;background:transparent url('/site_media/img/used/logo.png') no-repeat 0 0;}
#header .twitter-link{width:130px;padding-top:8px;float:left;}
#header .smallIcons{width:23px;overflow:hidden;}
a,a:visited{color:#3ae0ff;text-decoration:none;}a:hover,a:visited:hover{color:#07d8ff;}
.modal-backdrop{background-color:#000;position:fixed;top:0;left:0;right:0;bottom:0;z-index:10000;}.modal-backdrop.fade{opacity:0;}
.modal-backdrop,.modal-backdrop.fade.in{filter:alpha(opacity=80);-khtml-opacity:0.8;-moz-opacity:0.8;opacity:0.8;}
.fade{-webkit-transition:opacity 0.15s linear;-moz-transition:opacity 0.15s linear;-ms-transition:opacity 0.15s linear;-o-transition:opacity 0.15s linear;transition:opacity 0.15s linear;opacity:0;}.fade.in{opacity:1;}
.modal{position:fixed;top:50%;left:50%;z-index:11000;max-height:500px;overflow:auto;width:560px;margin:-250px 0 0 -280px;background-color:#fff;border:1px solid #999;border:1px solid rgba(0, 0, 0, 0.3);*border:1px solid #999;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);-webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box;}.modal .close{margin-top:7px;}
.modal.fade{-webkit-transition:opacity .3s linear, top .3s ease-out;-moz-transition:opacity .3s linear, top .3s ease-out;-ms-transition:opacity .3s linear, top .3s ease-out;-o-transition:opacity .3s linear, top .3s ease-out;transition:opacity .3s linear, top .3s ease-out;top:-25%;}
.modal.fade.in{top:50%;}
.modal-header{border-bottom:1px solid #eee;padding:5px 15px;}.modal-header h3{line-height:36px;font-size:22px;color:#404040;}
.modal-body{padding:15px;}.modal-body p{margin:5px 0;line-height:1.6;}
.modal-body label{width:100px;display:inline-block;zoom:1;*display:inline;}
.modal-body .help_text{margin:5px 0 0 105px;color:#999;}
.modal-body form{margin-bottom:0;}
.modal-footer{background-color:#f5f5f5;padding:14px 15px 15px;border-top:1px solid #ddd;-moz-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px;-webkit-box-shadow:inset 0 1px 0 #ffffff;-moz-box-shadow:inset 0 1px 0 #ffffff;box-shadow:inset 0 1px 0 #ffffff;zoom:1;margin-bottom:0;}.modal-footer:before,.modal-footer:after{display:table;content:"";zoom:1;}
.modal-footer:after{clear:both;}
.modal-footer .button{float:right;margin-left:5px;}
.modal .popover,.modal .twipsy{z-index:12000;}
.close{float:right;color:#000 !important;font-size:20px;font-weight:bold;line-height:14px;text-shadow:0 1px 0 #ffffff;filter:alpha(opacity=25);-khtml-opacity:0.25;-moz-opacity:0.25;opacity:0.25;}.close:hover{text-decoration:none;filter:alpha(opacity=40);-khtml-opacity:0.4;-moz-opacity:0.4;opacity:0.4;}
input[type="text"],input[type="password"],textarea{-webkit-transition:border linear 0.2s, box-shadow linear 0.2s;-moz-transition:border linear 0.2s, box-shadow linear 0.2s;-ms-transition:border linear 0.2s, box-shadow linear 0.2s;-o-transition:border linear 0.2s, box-shadow linear 0.2s;transition:border linear 0.2s, box-shadow linear 0.2s;-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);height:18px;padding:4px;font-size:13px;line-height:18px;color:#808080;border:1px solid #ccc;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
input[type="text"]:focus,input[type="password"]:focus,textarea:focus{outline:0;border-color:#7aeaff;-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 5px rgba(82, 168, 236, 0.6);-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 5px rgba(82, 168, 236, 0.6);box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 5px rgba(82, 168, 236, 0.6);}
input[type="text"].uneditable-input,input[type="password"].uneditable-input,textarea.uneditable-input{border-color:#CCC;-webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.025) !important;-moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.025) !important;box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.025) !important;background-color:whiteSmoke;cursor:not-allowed;}
input[type="text"].error,input[type="password"].error,textarea.error{margin-bottom:0.3em !important;}
:-moz-placeholder{color:#bfbfbf;}
::-webkit-input-placeholder{color:#bfbfbf;}
.bigNormalText{font-size:16px;text-shadow:0 0 1px #fff;}
.smallNormalText{font-size:13px;font-family:Arial Narrow,Arial,Sans-Serif;color:#999;}
.bg-text{background-color:#f4f4f4;font-size:14px;color:#888;margin:10px 0;padding:0 5px;}.bg-text b{color:#444;}
.subHeadText{font-size:14px;color:#333;margin:10px 0;}
.home a{color:#24cefb;}
.heart_container .heart{font-size:26px;text-shadow:0 1px 1px rgba(80, 80, 80, 0.5);font-weight:bold;color:#D51A3A;line-height:13px;display:inline-block;zoom:1;*display:inline;margin-top:-3px;}
.green{color:green;}
#wrap,#footer{width:100%;}
input[type="submit"],.button{display:inline-block;background-color:#66c8f0;background-repeat:repeat-x;background-image:-khtml-gradient(linear, left top, left bottom, from(#6fd4fe), to(#66c8f0));background-image:-moz-linear-gradient(#6fd4fe, #66c8f0);background-image:-ms-linear-gradient(#6fd4fe, #66c8f0);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #6fd4fe), color-stop(100%, #66c8f0));background-image:-webkit-linear-gradient(#6fd4fe, #66c8f0);background-image:-o-linear-gradient(#6fd4fe, #66c8f0);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6fd4fe', endColorstr='#66c8f0', GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#6fd4fe', endColorstr='#66c8f0', GradientType=0)";background-image:linear-gradient(#6fd4fe, #66c8f0);padding:4px 15px 5px;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);color:#ffffff;font-size:13px;-moz-border-radius:4px;border-radius:4px;border:1px solid #999999;-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),inset 0 -1px 0 rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),inset 0 -1px 0 rgba(0, 0, 0, 0.05);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),inset 0 -1px 0 rgba(0, 0, 0, 0.05);cursor:pointer;-webkit-transition:0.1s linear all;-moz-transition:0.1s linear all;-ms-transition:0.1s linear all;-o-transition:0.1s linear all;transition:0.1s linear all;border-color:#66C8F0 #0064cd #62C0E6;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);vertical-align:middle;}input[type="submit"]:hover,.button:hover{background-position:0 -15px;color:#ffffff;}
input[type="submit"]:active,.button:active{-webkit-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.25);-moz-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.25);box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.25);}
input[type="submit"].secondary,.button.secondary{display:inline-block;background-color:#eeeeee;background-repeat:repeat-x;background-image:-khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));background-image:-moz-linear-gradient(#ffffff, #eeeeee);background-image:-ms-linear-gradient(#ffffff, #eeeeee);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #eeeeee));background-image:-webkit-linear-gradient(#ffffff, #eeeeee);background-image:-o-linear-gradient(#ffffff, #eeeeee);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0)";background-image:linear-gradient(#ffffff, #eeeeee);padding:4px 15px 5px;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);color:#333333;font-size:13px;-moz-border-radius:4px;border-radius:4px;border:1px solid #cccccc;-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),inset 0 -1px 0 rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),inset 0 -1px 0 rgba(0, 0, 0, 0.05);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),inset 0 -1px 0 rgba(0, 0, 0, 0.05);cursor:pointer;-webkit-transition:0.1s linear all;-moz-transition:0.1s linear all;-ms-transition:0.1s linear all;-o-transition:0.1s linear all;transition:0.1s linear all;font-size:13px;}input[type="submit"].secondary:hover,.button.secondary:hover{background-position:0 -15px;color:#333333;}
input[type="submit"].secondary:active,.button.secondary:active{-webkit-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.25);-moz-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.25);box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.25);}
input[type="submit"].primary,.button.primary{font-size:13px;}
.button::-moz-focus-inner,input[type=submit].button::-moz-focus-inner{padding:0;border:0;}
#header.home{background:transparent url('/site_media/img/used/header-bg.png') repeat-x left top;height:38px;overflow:hidden;}#header.home .head-login-link{color:#fff;display:block;margin-top:13px;font-size:14px;text-shadow:0 1px 2px #444;}
#header.home #div-login-header{margin-top:8px;right:-540px;position:relative;float:right;}#header.home #div-login-header input[type="submit"]{margin-top:-1px;}#header.home #div-login-header input[type="submit"]:focus{outline:none;}
#header.home #div-login-header a.close{float:none;}
#header.home .head-links{float:right;padding:10px 0 6px;color:#444;}#header.home .head-links a{color:#444;display:inline;text-shadow:0 0 2px #BBB;font-weight:bold;}
.home_page{}.home_page .early_invite{position:relative;top:-49px;text-align:center;width:300px;left:350px;}.home_page .early_invite a{background-color:rgba(0, 0, 0, 0.8);border:1px solid #FFF;-moz-border-radius:3px;border-radius:3px;padding:5px 60px 5px 60px;color:#fff;-webkit-box-shadow:0 0 5px #888888;-moz-box-shadow:0 0 5px #888888;box-shadow:0 0 5px #888888;}
.home_page .early_invite img{position:absolute;top:-25px;left:15px;vertical-align:middle;margin-right:5px;}
.home_page h2,.home_page h3{position:relative;font-family:"Arial Narrow",Arial,Verdana,sans-serif;font-weight:normal;}
.home_page h2{height:44px;font-size:38px;color:#000;}
.home_page h3{margin:4px auto 30px;font-size:28px;color:#999;}
.home_page .div-plugin-download{position:relative;z-index:1;float:right;width:220px;margin-top:-60px;margin-bottom:20px;text-align:center;}.home_page .div-plugin-download a.plugin-button{border:2px solid #75EDFF;-moz-border-radius:3px;border-radius:3px;display:block;padding:10px 6px 10px 24px;text-align:center;color:#555;margin-bottom:4px;font-size:15px;background:white url(/site_media/img/download-icon.png) no-repeat 10px center;margin:3px;-webkit-transition:all linear 0.2s;-moz-transition:all linear 0.2s;-ms-transition:all linear 0.2s;-o-transition:all linear 0.2s;transition:all linear 0.2s;}.home_page .div-plugin-download a.plugin-button:hover{-webkit-box-shadow:0 0 4px #75EDFF;-moz-box-shadow:0 0 4px #75EDFF;box-shadow:0 0 4px #75EDFF;}
.home_page .div-plugin-download a{color:#888;}
.bookmarklet_botton{padding:10px 50px;border:1px dashed #CCC;font-size:18px;background-color:#efe;display:inline-block;zoom:1;*display:inline;color:#555;-webkit-transition:0.2s linear all;-moz-transition:0.2s linear all;-ms-transition:0.2s linear all;-o-transition:0.2s linear all;transition:0.2s linear all;margin-bottom:10px;}.bookmarklet_botton:hover{border:1px dashed #aaa;background-color:#bfb;color:#111;cursor:move;}
.bookmarklet_botton:active,.bookmarklet_botton:link,.bookmarklet_botton:visited{color:#555;}
.modal-body h4{font-size:18px;color:#444;}
.modal .loader{float:right;margin-top:4px;margin-right:10px;}
.modal .message{text-align:center;padding:7px 0;background-color:#DDF4FB;color:#333;border:1px solid #C6EDF9;}.modal .message.error{background-color:#FDDFDE;border-color:#FBC7C6;}
.modal .modal-footer a{line-height:31px;color:#111;margin:0 15px 0 0;}
div.slideshow{font-family:"Arial Narrow",sans-serif;border:1px solid #eee;-webkit-box-shadow:inset 0 0 20px rgba(180,180,180,0.1), 0 0 5px rgba(90,90,90,0.1);-moz-box-shadow:inset 0 0 20px rgba(180,180,180,0.1), 0 0 5px rgba(90,90,90,0.1);box-shadow:inset 0 0 20px rgba(180,180,180,0.1), 0 0 5px rgba(90,90,90,0.1);background-color:#fcfcfc;background-repeat:repeat-x;background-image:-khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#fcfcfc));background-image:-moz-linear-gradient(#ffffff, #fcfcfc);background-image:-ms-linear-gradient(#ffffff, #fcfcfc);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #fcfcfc));background-image:-webkit-linear-gradient(#ffffff, #fcfcfc);background-image:-o-linear-gradient(#ffffff, #fcfcfc);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fcfcfc', GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fcfcfc', GradientType=0)";background-image:linear-gradient(#ffffff, #fcfcfc);overflow:hidden;position:relative;}div.slideshow .slideshowContainer{width:10000px;overflow:hidden;height:348px;position:relative;}
div.slideshow .slide{width:918px;height:308px;display:inline-block;zoom:1;*display:inline;padding:20px;}
div.slideshow .leftBox,div.slideshow .rightBox{width:359px;float:left;padding-left:50px;padding-right:50px;}
div.slideshow .leftBox h4{font-size:30px;font-weight:300;color:#000;}
div.slideshow .leftBox h5{font-size:20px;color:#999;margin:5px 0 10px;font-weight:300;}
div.slideshow .leftBox p{line-height:1.4;font-size:18px;text-shadow:0 0 1px #fff;}
div.slideshow .leftBox blockquote{text-shadow:0 0 1px #fff;margin-top:15px;font-size:15px;color:#888;font-style:italic;line-height:1.3;text-align:justify;}div.slideshow .leftBox blockquote em{margin-top:4px;font-size:15px;font-weight:bold;display:block;text-align:right;}
div.slideshow .rightBox{text-align:center;}div.slideshow .rightBox img.img-blue{border:1px solid #33DBFE;-webkit-box-shadow:0 0 2px rgba(0, 0, 0, 0.4);-moz-box-shadow:0 0 2px rgba(0, 0, 0, 0.4);box-shadow:0 0 2px rgba(0, 0, 0, 0.4);-moz-border-radius:5px;border-radius:5px;padding:4px;background:#fff;}
div.slideshow #slide1 .leftBox{padding-top:15px;}
div.slideshow #slide2 .leftBox{padding-top:40px;}
div.slideshow #slide2 .rightBox{padding-top:25px;}
div.slideshow #slide3 .rightBox{padding:30px 0 0 0;width:520px;overflow:hidden;}
div.slideshow #slide3 .leftBox{width:276px;padding-top:20px;}
.tabs{width:70%;margin:20px auto;font-family:"Arial Narrow",Arial,sans-serif;}.tabs td{width:33%;text-align:center;}
.tabs div{text-align:center;cursor:pointer;}.tabs div h5{font-size:24px;color:#111;text-align:center;-webkit-transition:color linear 0.2s;-moz-transition:color linear 0.2s;-ms-transition:color linear 0.2s;-o-transition:color linear 0.2s;transition:color linear 0.2s;}
.tabs div h6{font-size:18px;color:#999;margin:5px 0 8px;text-align:center;}
.tabs div span{width:10px;height:10px;margin:0px auto 5px;-moz-border-radius:5px;border-radius:5px;background-color:#77FF92;display:inline-block;zoom:1;*display:inline;visibility:hidden;}
.tabs div.selected{cursor:default;}
.tabs div.selected span{visibility:visible;}
.tabs div.selected:hover h5{color:#111;}
.tabs div:hover h5{color:#22d8fe;}
.tabs div.middle{margin:0 109px;}
.center_box{border:1px solid #8FCDEE;margin:0px auto;padding:20px 40px 18px;text-align:center;width:330px;margin-top:20px;background-color:white;-moz-border-radius:5px;border-radius:5px;}.center_box p{margin:10px 0;}
.center_box .input_box{width:320px;margin-bottom:25px;font-size:16px;}
.text_align{text-align:center;}
label.error{font-size:10px;line-height:1.3em;color:#F60;margin:0 0 0 0 !important;position:relative;top:-2px;}
.error-msg{color:#F60;margin:-15px 0 15px;}
.thanks_note{font-family:"Arial Narrow","Helvetica Neue",Helvetica,Arial,sans-serif;color:#666;font-size:29px;font-weight:normal;line-height:37px;margin-bottom:45px;text-align:center;text-shadow:0 1px 1px rgba(0, 0, 0, 0.5);}
h2.bigHeadOverCenterBox{color:#111111;font-family:'Arial Narrow',sans-serif;font-size:38px;font-weight:bold;line-height:1.1;margin-bottom:25px;text-shadow:0 0 3px #FFFFFF;}
#first_name{width:145px;}
#last_name{width:145px;}
.common{margin-bottom:5px;}
.home_form .input_box{text-align:center;margin-bottom:15px;height:28px !important;}
.center_content{text-align:center;margin-top:30px;}.center_content h2.focus_head{background-color:#DDF4FB;border:1px solid #C6EDF9;padding:15px;width:60%;margin:0px auto;-moz-border-radius:5px;border-radius:5px;font-size:20px;margin-bottom:35px;text-align:center;}.center_content h2.focus_head u{text-decoration:none;color:#45c3e9;}
.center_content .context_name h3{font-size:42px;color:#333;font-family:Arial Narrow;font-weight:normal;text-shadow:0 0 1px #fff;letter-spacing:1px;margin-bottom:5px;}
.center_content .context_name p{font-size:18px;color:#888;}
.center_content .join_context{text-align:right;margin-bottom:30px;padding:15px 0;}.center_content .join_context input#join_button{font-size:18px;height:42px;padding:0px 38px;position:relative;}
.center_content h4{color:#888;margin-bottom:10px;}
.center_content .green-bg{background-color:#f5fdef;border:1px solid #D9F7C2;-moz-border-radius:5px;border-radius:5px;padding:10px 15px;}.center_content .green-bg a{color:#000;}
.center_content .green-bg img{vertical-align:bottom;margin-right:4px;}
.center_content .green-bg ul.left80{border-right:1px solid #D9F7C2;-webkit-box-shadow:1px 0 0 #ffffff;-moz-box-shadow:1px 0 0 #ffffff;box-shadow:1px 0 0 #ffffff;}
.center_content .green-bg ul.right20{padding-left:10px;border-left:1px solid white;}
.center_content .green-bg li{margin:15px 0;}
.center_content .green-bg span{color:#888;}
.center_content p.tagline{font-size:18px;margin:30px 0;text-align:center;color:#888;text-shadow:0 0 1px #fff;}.center_content p.tagline span{font-weight:bold;color:#333;}
.center_content p.action{font-size:16px;text-align:center;margin-bottom:20px;}
.center_content #hidden_buttons{text-align:left;width:215px;height:38px;padding-top:4px;right:-215px;position:relative;opacity:0;filter:alpha(opacity=0);display:none;}.center_content #hidden_buttons input[type="button"].signup,.center_content #hidden_buttons input[type="button"].signin{height:35px;font-size:16px;display:inline-block;background-color:#222222;background-repeat:repeat-x;background-image:-khtml-gradient(linear, left top, left bottom, from(#666666), to(#222222));background-image:-moz-linear-gradient(#666666, #222222);background-image:-ms-linear-gradient(#666666, #222222);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #666666), color-stop(100%, #222222));background-image:-webkit-linear-gradient(#666666, #222222);background-image:-o-linear-gradient(#666666, #222222);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#222222', GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#222222', GradientType=0)";background-image:linear-gradient(#666666, #222222);padding:5px 25px 6px;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);color:#ffffff;font-size:14px;-moz-border-radius:4px;border-radius:4px;border:1px solid #111111;-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),inset 0 -1px 0 rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),inset 0 -1px 0 rgba(0, 0, 0, 0.05);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),inset 0 -1px 0 rgba(0, 0, 0, 0.05);cursor:pointer;-webkit-transition:0.1s linear all;-moz-transition:0.1s linear all;-ms-transition:0.1s linear all;-o-transition:0.1s linear all;transition:0.1s linear all;}.center_content #hidden_buttons input[type="button"].signup:hover,.center_content #hidden_buttons input[type="button"].signin:hover{background-position:0 -15px;color:#ffffff;}
.center_content #hidden_buttons input[type="button"].signup:active,.center_content #hidden_buttons input[type="button"].signin:active{-webkit-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.25);-moz-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.25);box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.25);}
.box_content label{display:inline-block;width:80px;color:#555;text-shadow:0 0 1px #fff;}.box_content label.error{display:block;padding-left:85px;width:150px;}
.box_content p{padding:10px 0;}.box_content p input{margin-right:20px;}
.box_content .help_text{font-size:12px;color:#999;margin-left:85px;margin-top:-3px;}
.box_content .big-textbox{width:250px;}
