.hide{display:none;}
.text-left{text-align:left;}
.text-center{text-align:center;}
.text-right{text-align:right;}
.favi{width:16px;height:16px;}
.left{float:left;}
.right{float:right;}
.left70{width:70%;float:left;}
.right30{width:30%;float:right;}
.left60{width:60%;float:left;}
.right40{width:40%;float:none;margin-left:60%;}
.left80{width:80%;float:left;}
.right20{width:20%;float:none;margin-left:80%;}
.left50{width:50%;float:left;}
.right50{width:50%;float:none;margin-left:50%;}
.big-text-black{font-size:18px;color:#333;text-shadow:0 0 1px #fff;}
.display-inline{display:inline-block;zoom:1;*display:inline;}
.clearfloat{float:none;clear:both;}
.font-family-narow{font-family:"Arial Narrow","Helvetica Neue",Helvetica,Arial,sans-serif;}
.container{width:960px;margin:0 auto;zoom:1;position:relative;}.container:before,.container:after{display:table;content:"";zoom:1;}
.container:after{clear:both;}
.hide-overflow{overflow:hidden;}
.ie_css3{behavior:url(/site_media/ie-css3.htc);}
html,body{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,cite,code,del,dfn,em,img,q,s,samp,small,strike,strong,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,button,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:normal;font-style:normal;font-size:100%;line-height:1;font-family:inherit;text-align:left;}
table{border-collapse:collapse;border-spacing:0;}
ol,ul{list-style:none;}
q:before,q:after,blockquote:before,blockquote:after{content:"";}
html,body{height:100%;}
#wrap{min-height:100%;}
#main{padding-bottom:60px;}
#footer{position:relative;margin-top:-22px;height:22px;text-align:center;clear:both;}#footer a{color:#111;}
body:before{content:"";height:100%;float:left;width:0;margin-top:-32767px;}
body{color:#555;text-rendering:optimizeLegibility;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:13px;font-weight:normal;line-height:1.6;}
#header{background:#999999 url('/site_media/img/header_bg.png') repeat-x left top;margin-bottom:30px;color:white;width:100%;top:0px;}#header a{color:white;}
#header h1{width:90px;float:left;margin-top:2px;vertical-align:middle;}#header h1 a#beta{width:9px;line-height:7px;font-size:9px;float:left;color:#CCC;text-align:center;margin-top:2px;margin-left:1px;}
#header h1 a#headerLogo{margin-top:2px;color:white;font-size:24px;display:block;width:63px;float:left;text-indent:-900px;overflow:hidden;background:transparent url('/site_media/img/used/logo.png') no-repeat 0 0;}
#header .twitter-link{width:130px;padding-top:8px;float:left;}
#header .smallIcons{width:23px;overflow:hidden;}
a,a:visited{color:#3ae0ff;text-decoration:none;}a:hover,a:visited:hover{color:#07d8ff;}
.modal-backdrop{background-color:#000;position:fixed;top:0;left:0;right:0;bottom:0;z-index:10000;}.modal-backdrop.fade{opacity:0;}
.modal-backdrop,.modal-backdrop.fade.in{filter:alpha(opacity=80);-khtml-opacity:0.8;-moz-opacity:0.8;opacity:0.8;}
.fade{-webkit-transition:opacity 0.15s linear;-moz-transition:opacity 0.15s linear;-ms-transition:opacity 0.15s linear;-o-transition:opacity 0.15s linear;transition:opacity 0.15s linear;opacity:0;}.fade.in{opacity:1;}
.modal{position:fixed;top:50%;left:50%;z-index:11000;max-height:500px;overflow:auto;width:560px;margin:-250px 0 0 -280px;background-color:#fff;border:1px solid #999;border:1px solid rgba(0, 0, 0, 0.3);*border:1px solid #999;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);-webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box;}.modal .close{margin-top:7px;}
.modal.fade{-webkit-transition:opacity .3s linear, top .3s ease-out;-moz-transition:opacity .3s linear, top .3s ease-out;-ms-transition:opacity .3s linear, top .3s ease-out;-o-transition:opacity .3s linear, top .3s ease-out;transition:opacity .3s linear, top .3s ease-out;top:-25%;}
.modal.fade.in{top:50%;}
.modal-header{border-bottom:1px solid #eee;padding:5px 15px;}.modal-header h3{line-height:36px;font-size:22px;color:#404040;}
.modal-body{padding:15px;}.modal-body p{margin:5px 0;line-height:1.6;}
.modal-body label{width:100px;display:inline-block;zoom:1;*display:inline;}
.modal-body .help_text{margin:5px 0 0 105px;color:#999;}
.modal-body form{margin-bottom:0;}
.modal-footer{background-color:#f5f5f5;padding:14px 15px 15px;border-top:1px solid #ddd;-moz-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px;-webkit-box-shadow:inset 0 1px 0 #ffffff;-moz-box-shadow:inset 0 1px 0 #ffffff;box-shadow:inset 0 1px 0 #ffffff;zoom:1;margin-bottom:0;}.modal-footer:before,.modal-footer:after{display:table;content:"";zoom:1;}
.modal-footer:after{clear:both;}
.modal-footer .button{float:right;margin-left:5px;}
.modal .popover,.modal .twipsy{z-index:12000;}
.close{float:right;color:#000 !important;font-size:20px;font-weight:bold;line-height:14px;text-shadow:0 1px 0 #ffffff;filter:alpha(opacity=25);-khtml-opacity:0.25;-moz-opacity:0.25;opacity:0.25;}.close:hover{text-decoration:none;filter:alpha(opacity=40);-khtml-opacity:0.4;-moz-opacity:0.4;opacity:0.4;}
input[type="text"],input[type="password"],textarea{-webkit-transition:border linear 0.2s, box-shadow linear 0.2s;-moz-transition:border linear 0.2s, box-shadow linear 0.2s;-ms-transition:border linear 0.2s, box-shadow linear 0.2s;-o-transition:border linear 0.2s, box-shadow linear 0.2s;transition:border linear 0.2s, box-shadow linear 0.2s;-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);height:18px;padding:4px;font-size:13px;line-height:18px;color:#808080;border:1px solid #ccc;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
input[type="text"]:focus,input[type="password"]:focus,textarea:focus{outline:0;border-color:#7aeaff;-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 5px rgba(82, 168, 236, 0.6);-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 5px rgba(82, 168, 236, 0.6);box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 5px rgba(82, 168, 236, 0.6);}
input[type="text"].uneditable-input,input[type="password"].uneditable-input,textarea.uneditable-input{border-color:#CCC;-webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.025) !important;-moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.025) !important;box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.025) !important;background-color:whiteSmoke;cursor:not-allowed;}
input[type="text"].error,input[type="password"].error,textarea.error{margin-bottom:0.3em !important;}
:-moz-placeholder{color:#bfbfbf;}
::-webkit-input-placeholder{color:#bfbfbf;}
.bigNormalText{font-size:16px;text-shadow:0 0 1px #fff;}
.smallNormalText{font-size:13px;font-family:Arial Narrow,Arial,Sans-Serif;color:#999;}
.bg-text{background-color:#f4f4f4;font-size:14px;color:#888;margin:10px 0;padding:0 5px;}.bg-text b{color:#444;}
.subHeadText{font-size:14px;color:#333;margin:10px 0;}
