.register_center_box {
    background-color: white;
    border: 1px solid #D7D7D7;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 1px #D2E7EA inset;
    margin: 10px auto 0;
    padding: 25px 40px 18px;
    width: 370px;
}

.label{
	font-size:17px;
	color:#333;
	margin-bottom:15px;
}
.text_align{
	text-align:center;
}

label.error {
	font-size: 10px;
	line-height: 1.3em;
	color: #F60;
	margin: 0 0 0 0 !important;
	position: relative;
	top: -2px;
}

.error-msg{
	color:#F60;
}
.thanks_note{
	 color: #999999;
    font-size: 29px;
    font-weight: bold;
    line-height: 37px;
    margin-bottom: 15px;
    text-align: center;
    text-shadow: 0 0 1px #F1F1F1;
}
.signUp{
	color: #111111;
    font-family: 'Arial Narrow',sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 20px;
    text-shadow: 0 0 3px #FFFFFF;
}
#first_name{
	width:160px;

}
#last_name{
	margin-left: 5px;
    width: 160px;
}

.common{
	margin-bottom:5px;
}
input.error[type="text"], input.error[type="password"] {
    color: #6D6D6D;
}

.register_input_box {
	background-color: #FFFFFF;
    border: 1px solid #C8C8C8;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 1px #D3D3D3 inset;
    color: #666666;
    margin: 0 0 15px;
    padding: 8px;
	text-align: center;
	width:352px;
}


div.error{
	margin:-10px 0 10px;
	text-align:center;
}

#submitbutton {
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #F0F0F0), color-stop(100%, white));
	background: -webkit-linear-gradient(#F0F0F0, white);
	background: -moz-linear-gradient(#F0F0F0, white);
	background: -o-linear-gradient(#F0F0F0, white);
	background: -ms-linear-gradient(#F0F0F0, white);
	background: linear-gradient(#F0F0F0, white);
	border: 1px solid #BFBFBF;
	box-shadow: 0 0 1px #C9C9C9 inset;
	color: #777;
	font-weight: normal;
	text-shadow: white 0 2px 0px;
	border-radius: 4px;
}
#submitbutton:hover{
	background: -moz-linear-gradient(#E3E3E3, #F1F1F1) repeat scroll 0 0 transparent;
	box-shadow: 0 1px 2px #817F7F inset;
}