html, body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
  text-align: left;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol, ul {
  list-style: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
/*
  Bootstrap v1.1
  Variables and mixins to bootstrap any new web development project.
*/
/* Variables
-------------------------------------------------- */
/*#49A7F3*/
/* Mixins
-------------------------------------------------- */
.clearfix {
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.center-block {
  display: block;
  margin: 0 auto;
}
.vertical-middle {
  vertical-align: middle;
  margin-top: -4px;
}
.container {
  width: 940px;
  margin: 0 auto;
  zoom: 1;
  position: relative;
}
.container:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
#flexbox .display-box {
  display: -moz-box;
  display: -webkit-box;
  display: box;
}
#reset .global-reset html,
#reset .global-reset body,
#reset .global-reset div,
#reset .global-reset span,
#reset .global-reset applet,
#reset .global-reset object,
#reset .global-reset iframe,
#reset .global-reset h1,
#reset .global-reset h2,
#reset .global-reset h3,
#reset .global-reset h4,
#reset .global-reset h5,
#reset .global-reset h6,
#reset .global-reset p,
#reset .global-reset blockquote,
#reset .global-reset pre,
#reset .global-reset a,
#reset .global-reset abbr,
#reset .global-reset acronym,
#reset .global-reset address,
#reset .global-reset big,
#reset .global-reset cite,
#reset .global-reset code,
#reset .global-reset del,
#reset .global-reset dfn,
#reset .global-reset em,
#reset .global-reset img,
#reset .global-reset ins,
#reset .global-reset kbd,
#reset .global-reset q,
#reset .global-reset s,
#reset .global-reset samp,
#reset .global-reset small,
#reset .global-reset strike,
#reset .global-reset strong,
#reset .global-reset sub,
#reset .global-reset sup,
#reset .global-reset tt,
#reset .global-reset var,
#reset .global-reset b,
#reset .global-reset u,
#reset .global-reset i,
#reset .global-reset center,
#reset .global-reset dl,
#reset .global-reset dt,
#reset .global-reset dd,
#reset .global-reset ol,
#reset .global-reset ul,
#reset .global-reset li,
#reset .global-reset fieldset,
#reset .global-reset form,
#reset .global-reset label,
#reset .global-reset legend,
#reset .global-reset table,
#reset .global-reset caption,
#reset .global-reset tbody,
#reset .global-reset tfoot,
#reset .global-reset thead,
#reset .global-reset tr,
#reset .global-reset th,
#reset .global-reset td,
#reset .global-reset article,
#reset .global-reset aside,
#reset .global-reset canvas,
#reset .global-reset details,
#reset .global-reset embed,
#reset .global-reset figure,
#reset .global-reset figcaption,
#reset .global-reset footer,
#reset .global-reset header,
#reset .global-reset hgroup,
#reset .global-reset menu,
#reset .global-reset nav,
#reset .global-reset output,
#reset .global-reset ruby,
#reset .global-reset section,
#reset .global-reset summary,
#reset .global-reset time,
#reset .global-reset mark,
#reset .global-reset audio,
#reset .global-reset video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
#reset .global-reset body {
  line-height: 1;
}
#reset .global-reset ol, #reset .global-reset ul {
  list-style: none;
}
#reset .global-reset table {
  border-collapse: collapse;
  border-spacing: 0;
}
#reset .global-reset caption, #reset .global-reset th, #reset .global-reset td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
#reset .global-reset q, #reset .global-reset blockquote {
  quotes: none;
}
#reset .global-reset q:before,
#reset .global-reset blockquote:before,
#reset .global-reset q:after,
#reset .global-reset blockquote:after {
  content: "";
  content: none;
}
#reset .global-reset a img {
  border: none;
}
#reset .global-reset article,
#reset .global-reset aside,
#reset .global-reset details,
#reset .global-reset figcaption,
#reset .global-reset figure,
#reset .global-reset footer,
#reset .global-reset header,
#reset .global-reset hgroup,
#reset .global-reset menu,
#reset .global-reset nav,
#reset .global-reset section {
  display: block;
}
#reset .reset-box-model {
  margin: 0;
  padding: 0;
  border: 0;
}
#reset .reset-font {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
#reset .reset-focus {
  outline: 0;
}
#reset .reset-body {
  line-height: 1;
}
#reset .reset-list-style {
  list-style: none;
}
#reset .reset-table {
  border-collapse: collapse;
  border-spacing: 0;
}
#reset .reset-table-cell {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
#reset .reset-quotation {
  quotes: none;
}
#reset .reset-quotation:before, #reset .reset-quotation:after {
  content: "";
  content: none;
}
#reset .reset-image-anchor-border {
  border: none;
}
#reset .reset-html5 article,
#reset .reset-html5 aside,
#reset .reset-html5 details,
#reset .reset-html5 figcaption,
#reset .reset-html5 figure,
#reset .reset-html5 footer,
#reset .reset-html5 header,
#reset .reset-html5 hgroup,
#reset .reset-html5 menu,
#reset .reset-html5 nav,
#reset .reset-html5 section {
  display: block;
}
.hide {
  display: none !important;
}
html {
  height: 500px;
}
body {
  color: #555555;
  text-rendering: optimizeLegibility;
  /*text-shadow: 0 1px 2px rgba(0,0,0,.5);
  .box-shadow(inset 0 50px 200px rgba(0,0,0,.2));*/

  height: 100%;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.6;
}
a, a:visited {
  color: #56d9fc;
  text-decoration: none;
}
a:hover, a:visited:hover {
  color: #24cefb;
}
.notification {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
}
.notification ul li {
  overflow-y: auto;
  padding: 0 10px;
  border-top: 1px solid #efefef;
  background: #f8f8f8;
}
.notification ul li:hover {
  background: #fcfcfc;
  cursor: pointer;
}
.notification ul {
  border-bottom: 1px solid #efefef;
  overflow-x: hidden;
  overflow-y: auto;
}
.notification h4 {
  padding: 15px 10px;
  font-size: 20px;
  color: #B8B8B8;
  -webkit-box-shadow: 0 1px 4px #aaaaaa;
  -moz-box-shadow: 0 1px 4px #aaaaaa;
  box-shadow: 0 1px 4px #aaaaaa;
  position: relative;
  z-index: 5;
}
.notification h4 .right {
  font-size: 13px;
  float: right;
  line-height: 22px;
}
.notification img.icon {
  float: left;
  margin: 15px 10px 12px 0;
  width: 24px;
}
.notification div.notification_entry {
  margin: 10px 0px 15px 34px;
}
.notification div.notification_entry .noti_context {
  float: right;
  font-size: 15px;
  font-weight: bold;
  color: #7D7D7D;
  line-height: 1.4;
  margin: 0 0 5px 5px;
}
.notification div.notification_entry .noti_head {
  color: #CBCBCB;
  padding-top: 3px;
  line-height: 1.4;
}
.notification div.notification_entry .noti_head em {
  color: #aaa;
  font-weight: normal;
}
.notification div.notification_entry .noti_body {
  color: #888;
}
.notification div.notification_entry .noti_body a {
  color: #888;
}
.notification #main_pane {
  width: 400px;
  height: 100%;
}
a.disabled {
  color: #888;
  cursor: text;
}
#notification_container {
  position: relative;
  width: 400px;
  overflow-x: hidden;
}
#notification_container .notification-pane {
  background-color: #fff;
  position: absolute;
  top: 0px;
  width: 100%;
}
/* Notification Like Google +
.notification{
	width: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
	position:relative;
	ul li{
		overflow-y: auto;
		padding:0 10px;
		border-top: 1px solid #efefef;
		background: #f8f8f8;
		&:hover{
			background: #fcfcfc;
			cursor: pointer;
		}
	}
	ul{
		border-bottom: 1px solid #efefef;
	}
	h4{
		margin: 0px 10px 15px;
		font-size: 20px;
		color: #B8B8B8;
		.right{
			font-size: 13px;
			float: right;
			line-height: 22px;
		}
	}
	img.icon{
		float: left;
		margin: 15px 10px 12px 0;
		width: 24px;
	}
	div.notification_entry{
		margin: 10px 0px 15px 34px;
		.noti_context{
			float: right;
			font-size: 15px;
			font-weight: bold;
			color: #7D7D7D;
			line-height: 1.4;
			margin: 0 0 5px 5px;
		}
		.noti_head{
			color: #CBCBCB;
			padding-top: 3px;
			line-height: 1.4;
			em{
				color: #aaa;
				font-weight:normal;
			}
		}
		.noti_body{
			color: #888;
			a{
				color: #888;
			}
		}
	}
	#main_pane{
		padding-top:15px;
		position:absolute;
		width: 400px;
	}
	#next_pane{
		padding-top:15px;
		position:absolute;
		left:400px;
		top:0px;
		width:400px;
		background-color:#fff;
		overflow-x: hidden;
	}
}

a.disabled{
	color: #888;
	cursor: text;
}
#notification_container{
	position:relative;
	width: 400px;
	overflow-x: hidden;
	.notification-pane{
		background-color:#fff;
		position:absolute;
		top:0px;
		width:100%;
	}
}
.entry{
    border-top:1px solid #dfdfdf;
    padding:15px 10px 0;
    a, a:visited, a:hover{
        color:@grayDark;
    }
    h4.title{
        img{
            vertical-align:middle;
            .square(16px);
            margin-top:-2px;
        }
        font-size:14px;
        line-height:14px;
        color:@orange;
        margin:0 0 5px;
    }
    h3{
        font-family: 'Arial Narrow', sans-serif;
        font-size:22px;
        line-height:1.1;
        margin-bottom:6px;
        text-shadow:0 0 3px #fff;
        a{
            color:@gray;
        }
        a.edit_link{
            .background("/site_media/img/blue add.png");
            color:@white;
            #font > .sans-serif(bold,13px,1);
            padding:2px 20px 2px 20px;
            text-shadow:none;
            .opacity(0);
            white-space: nowrap;
        }
    }
    .subtext{
        color:@grayLighter;
    }
    .view_all_comment{
        border:1px dotted #CCC;
        border-width:1px 0;
        .background("/site_media/img/comment.png", 5px, 5px);
        padding:4px 0 4px 28px;
        margin:10px 0;
        a{
            color:@blue1;
        }
    }
}

.entry{
    textarea{
        .box-shadow(none);
        margin-top:10px;
        padding: 4px;
        width:90%;
        height: 50px;
        outline: none;
        resize: none;
        #font > .sans-serif(normal,13px,1);
        &:focus{
        	border:1px solid #222;
        }
        &.inactive{
        	height: 13px;
        	color: #AAA;
        	border:1px solid #AAA;
        }
    }
    .submit{
        .button(#D8EFC2, #555, 0 1px 1px rgba(255,255,255,.75), 13px, 3px 15px 4px, 5px, 1px solid #94B48E);
        
    }
    .submit.disabled{
        .button(#FFF, #CCC, 0 1px 1px rgba(255,255,255,.75), 13px, 3px 15px 4px, 5px, 1px solid #CCC);
        &:hover{
            background-position: 0 0;
        }
    }
    .cancel{
        .button(#f5f5f5, #555, 0 1px 1px rgba(255,255,255,.75), 13px, 3px 15px 4px, 5px, 1px solid #CCC);
    }
}
.context_select{
    margin-right:119px;
    margin-top:2px;
    float:right;
    position:relative;
    width:200px;
    text-align:right;
    span{
        padding-right:4px;
        color:@gray;
        font-size:13px;
    }
    button{
        .button(#f5f5f5, #555, 0 1px 1px rgba(255,255,255,.75), 13px, 3px 15px 4px, 2px, 1px solid #CCC);
    }
}
*/