.context{
	font-size: 16px;
	background: #F2FEFF;
	text-shadow: 0 1px 2px #F2FEFF;
	padding: 4px 5px 6px;
	color: #777;
	border: 1px solid #EFF5F5;
	border-width: 1px 0;
	font-weight: bold;
}
.textarea{
	border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    height: 8em;
    width: 732px;
}
.select_option{
	border: 1px solid #CCCCCC;
    color: #666666;
    padding: 2px;
}
.button{
	background-image: -moz-linear-gradient(#42C6FF, #2E8AB4);
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#42C6FF), to(#2E8AB4));
    border: 0 none;
    border-radius: 3px 3px 3px 3px;
    color: #F9F9F9;
    cursor: pointer;
    font-size: 12px;
    padding: 3px 14px;
	float:right;
}
.table{
	width:100%;
}
#table_notification tr{
	background-color:#efefef;
	border-bottom: 1px solid #CCCCCC;
}
#table_notification tr:last-child{
	border:0;
}
#table_notification  td{
	padding:5px;
}