html,body{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,cite,code,del,dfn,em,img,q,s,samp,small,strike,strong,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,button,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:normal;font-style:normal;font-size:100%;line-height:1;font-family:inherit;text-align:left;}
table{border-collapse:collapse;border-spacing:0;}
ol,ul{list-style:none;}
q:before,q:after,blockquote:before,blockquote:after{content:"";}
.hide{display:none;}
.text-left{text-align:left;}
.text-center{text-align:center;}
.text-right{text-align:right;}
.favi{width:16px;height:16px;}
.left{float:left;}
.right{float:right;}
.left70{width:70%;float:left;}
.right30{width:30%;float:right;}
.left60{width:60%;float:left;}
.right40{width:40%;float:none;margin-left:60%;}
.left80{width:80%;float:left;}
.right20{width:20%;float:none;margin-left:80%;}
.left50{width:50%;float:left;}
.right50{width:50%;float:none;margin-left:50%;}
.big-text-black{font-size:18px;color:#333;text-shadow:0 0 1px #fff;}
.display-inline{display:inline-block;zoom:1;*display:inline;}
.clearfloat{float:none;clear:both;}
.font-family-narow{font-family:"Arial Narrow","Helvetica Neue",Helvetica,Arial,sans-serif;}
.container{width:960px;margin:0 auto;zoom:1;position:relative;}.container:before,.container:after{display:table;content:"";zoom:1;}
.container:after{clear:both;}
.hide-overflow{overflow:hidden;}
.ie_css3{behavior:url(/site_media/ie-css3.htc);}
html,body{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,cite,code,del,dfn,em,img,q,s,samp,small,strike,strong,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,button,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:normal;font-style:normal;font-size:100%;line-height:1;font-family:inherit;text-align:left;}
table{border-collapse:collapse;border-spacing:0;}
ol,ul{list-style:none;}
q:before,q:after,blockquote:before,blockquote:after{content:"";}
html,body{height:100%;}
#wrap{min-height:100%;}
#main{padding-bottom:60px;}
#footer{position:relative;margin-top:-22px;height:22px;text-align:center;clear:both;}#footer a{color:#111;}
body:before{content:"";height:100%;float:left;width:0;margin-top:-32767px;}
body{color:#555;text-rendering:optimizeLegibility;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:13px;font-weight:normal;line-height:1.6;}
#header{background:#999999 url('/site_media/img/header_bg.png') repeat-x left top;margin-bottom:30px;color:white;width:100%;top:0px;}#header a{color:white;}
#header h1{width:90px;float:left;margin-top:2px;vertical-align:middle;}#header h1 a#beta{width:9px;line-height:7px;font-size:9px;float:left;color:#CCC;text-align:center;margin-top:2px;margin-left:1px;}
#header h1 a#headerLogo{margin-top:2px;color:white;font-size:24px;display:block;width:63px;float:left;text-indent:-900px;overflow:hidden;background:transparent url('/site_media/img/used/logo.png') no-repeat 0 0;}
#header .twitter-link{width:130px;padding-top:8px;float:left;}
#header .smallIcons{width:23px;overflow:hidden;}
a,a:visited{color:#3ae0ff;text-decoration:none;}a:hover,a:visited:hover{color:#07d8ff;}
.modal-backdrop{background-color:#000;position:fixed;top:0;left:0;right:0;bottom:0;z-index:10000;}.modal-backdrop.fade{opacity:0;}
.modal-backdrop,.modal-backdrop.fade.in{filter:alpha(opacity=80);-khtml-opacity:0.8;-moz-opacity:0.8;opacity:0.8;}
.fade{-webkit-transition:opacity 0.15s linear;-moz-transition:opacity 0.15s linear;-ms-transition:opacity 0.15s linear;-o-transition:opacity 0.15s linear;transition:opacity 0.15s linear;opacity:0;}.fade.in{opacity:1;}
.modal{position:fixed;top:50%;left:50%;z-index:11000;max-height:500px;overflow:auto;width:560px;margin:-250px 0 0 -280px;background-color:#fff;border:1px solid #999;border:1px solid rgba(0, 0, 0, 0.3);*border:1px solid #999;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);-webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box;}.modal .close{margin-top:7px;}
.modal.fade{-webkit-transition:opacity .3s linear, top .3s ease-out;-moz-transition:opacity .3s linear, top .3s ease-out;-ms-transition:opacity .3s linear, top .3s ease-out;-o-transition:opacity .3s linear, top .3s ease-out;transition:opacity .3s linear, top .3s ease-out;top:-25%;}
.modal.fade.in{top:50%;}
.modal-header{border-bottom:1px solid #eee;padding:5px 15px;}.modal-header h3{line-height:36px;font-size:22px;color:#404040;}
.modal-body{padding:15px;}.modal-body p{margin:5px 0;line-height:1.6;}
.modal-body label{width:100px;display:inline-block;zoom:1;*display:inline;}
.modal-body .help_text{margin:5px 0 0 105px;color:#999;}
.modal-body form{margin-bottom:0;}
.modal-footer{background-color:#f5f5f5;padding:14px 15px 15px;border-top:1px solid #ddd;-moz-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px;-webkit-box-shadow:inset 0 1px 0 #ffffff;-moz-box-shadow:inset 0 1px 0 #ffffff;box-shadow:inset 0 1px 0 #ffffff;zoom:1;margin-bottom:0;}.modal-footer:before,.modal-footer:after{display:table;content:"";zoom:1;}
.modal-footer:after{clear:both;}
.modal-footer .button{float:right;margin-left:5px;}
.modal .popover,.modal .twipsy{z-index:12000;}
.close{float:right;color:#000 !important;font-size:20px;font-weight:bold;line-height:14px;text-shadow:0 1px 0 #ffffff;filter:alpha(opacity=25);-khtml-opacity:0.25;-moz-opacity:0.25;opacity:0.25;}.close:hover{text-decoration:none;filter:alpha(opacity=40);-khtml-opacity:0.4;-moz-opacity:0.4;opacity:0.4;}
input[type="text"],input[type="password"],textarea{-webkit-transition:border linear 0.2s, box-shadow linear 0.2s;-moz-transition:border linear 0.2s, box-shadow linear 0.2s;-ms-transition:border linear 0.2s, box-shadow linear 0.2s;-o-transition:border linear 0.2s, box-shadow linear 0.2s;transition:border linear 0.2s, box-shadow linear 0.2s;-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);height:18px;padding:4px;font-size:13px;line-height:18px;color:#808080;border:1px solid #ccc;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
input[type="text"]:focus,input[type="password"]:focus,textarea:focus{outline:0;border-color:#7aeaff;-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 5px rgba(82, 168, 236, 0.6);-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 5px rgba(82, 168, 236, 0.6);box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 5px rgba(82, 168, 236, 0.6);}
input[type="text"].uneditable-input,input[type="password"].uneditable-input,textarea.uneditable-input{border-color:#CCC;-webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.025) !important;-moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.025) !important;box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.025) !important;background-color:whiteSmoke;cursor:not-allowed;}
input[type="text"].error,input[type="password"].error,textarea.error{margin-bottom:0.3em !important;}
:-moz-placeholder{color:#bfbfbf;}
::-webkit-input-placeholder{color:#bfbfbf;}
.bigNormalText{font-size:16px;text-shadow:0 0 1px #fff;}
.smallNormalText{font-size:13px;font-family:Arial Narrow,Arial,Sans-Serif;color:#999;}
.bg-text{background-color:#f4f4f4;font-size:14px;color:#888;margin:10px 0;padding:0 5px;}.bg-text b{color:#444;}
.subHeadText{font-size:14px;color:#333;margin:10px 0;}
.container{width:940px;margin:0 auto;zoom:1;position:relative;}.container:before,.container:after{display:table;content:"";zoom:1;}
.container:after{clear:both;}
.hide{display:none;}
.text-left{text-align:left;}
html,body{height:100%;}
#wrap{min-height:100%;width:100%;}
#main{overflow:auto;padding-bottom:80px;padding-top:80px;}
#footer{position:relative;margin-top:-20px;height:20px;text-align:center;clear:both;}#footer a{color:#111;}
body:before{content:"";height:100%;float:left;width:0;margin-top:-32767px;}
body{color:#555555;text-rendering:optimizeLegibility;}
body,p,li{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:13px;font-weight:normal;line-height:1.6;}
a,a:visited{color:#3ae0ff;text-decoration:none;}a:hover,a:visited:hover{color:#07d8ff;}
#header{background:transparent url('/site_media/img/used/header-bg.png') repeat-x left -1px;height:38px;margin-bottom:30px;color:#ffffff;position:fixed;width:100%;z-index:8;top:0;left:0;}#header a{color:#ffffff;}
#header .smallIcons{width:23px;overflow:hidden;}
#header .header_link{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;max-width:105px;color:#444;font-weight:bold;}#header .header_link a{margin:0px 4px;color:#AAA;display:inline;text-shadow:0 0 2px #444;font-weight:bold;}
#notification_count{display:inline;float:left;margin-left:10px;line-height:44px;font-size:13px;padding:0 10px;cursor:pointer;}#notification_count span{padding:3px 8px;background-color:#555555;border-radius:3px;}
#header .active span{background-color:#ffffff;}
div#load_links{position:fixed;top:37px;background-color:#DDF4FB;border:2px solid #C6EDF9;padding:3px 10px 4px;color:#555;font-weight:bold;border-top:none;z-index:9;left:50%;-webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 2px 5px rgba(0, 0, 0, 0.3);box-shadow:0 2px 5px rgba(0, 0, 0, 0.3);display:none;}div#load_links.loading{display:block;}
div.visual_search{width:450px;width:530px;float:left;margin:2px 0 3px 20px;}
div.visual_search.bigger{width:530px;}
.width2{display:inline;float:left;padding:8px 5px 11px 5px;margin-left:10px;max-width:140px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}.width2 img{vertical-align:middle;margin-top:-4px;}
#addLink{width:17px;height:16px;display:inline-block;zoom:1;*display:inline;padding:0;background:transparent url(/site_media/img/used/add-grey-dark-16.png) no-repeat 0 0;margin-top:10px;margin-right:10px;}#addLink:hover{-webkit-transition:background linear 0.2s;-moz-transition:background linear 0.2s;-ms-transition:background linear 0.2s;-o-transition:background linear 0.2s;transition:background linear 0.2s;background:transparent url(/site_media/img/used/add-blue-16.png) no-repeat 0 0;}
.paddingLeft20{padding-left:20px;}
.homeSideBar{display:inline;float:left;width:220px;margin-left:20px;margin-left:0px;}.homeSideBar:first-child{margin-left:0;}
.homeSideBar h4{font-size:16px;background:#F2FEFF;text-shadow:0 1px 2px #F2FEFF;padding:4px 5px 6px;color:#777777;border:1px solid #eff5f5;border-width:1px 0;margin:35px 0 5px;font-weight:bold;}.homeSideBar h4:first-child{margin-top:0;}
.homeSideBar h4 a{color:darker(#05cffb, 3);font-size:12px;line-height:17px;font-weight:bold;float:right;}.homeSideBar h4 a img{margin:1px 5px 0 0;}
.homeSideBar ul a{color:#555555;font-size:13px;white-space:nowrap;width:150px;height:16px;overflow:hidden;text-overflow:ellipsis;display:inline-block;line-height:16px;}.homeSideBar ul a:hover,.homeSideBar ul a:active,.homeSideBar ul a:visited{color:#555555;}
.homeSideBar ul a.Personal{background:transparent url(/site_media/img/used/heart-icon-small.jpg) no-repeat -1px 0;padding-left:18px;}
.homeSideBar ul li{margin:12px 5px;}.homeSideBar ul li em{float:right;font-style:normal;margin:4px 0 0 0;font-size:11px;display:block;padding:0px 5px;background-color:#f2f2f2;color:#999;border-radius:2px;text-shadow:0 1px 1px #FFF;line-height:13px;}
.homeSideBar ul li.selected a{color:#000;}
.homeContent{display:inline;float:left;width:700px;margin-left:20px;margin-bottom:60px;overflow:hidden;}.homeContent:first-child{margin-left:0;}
.homeContent h2.headSmall{font-weight:bold;color:#999999;font-size:14px;border-left:1px solid #E7E7E7;padding:6px 0 20px 20px;}
.homeContent h2.headBig{font-family:"Arial Narrow","Helvetica Neue",Helvetica,Arial,sans-serif;color:#555555;font-size:32px;padding-bottom:10px;border-left:1px solid #E7E7E7;padding-left:20px;}.homeContent h2.headBig .rightHead{font-size:15px;font-weight:normal;float:right;color:#999;line-height:32px;}
.homeContent p.no_entry{border-left:1px solid #E7E7E7;padding-left:20px;padding-bottom:20px;padding-top:20px;}
.homeContent ul.subLinks{border-left:1px solid #E7E7E7;padding-left:20px;padding-bottom:10px;}.homeContent ul.subLinks li{display:inline-block;margin-right:20px;}
.homeContent h4#facets{padding-left:20px;border-left:1px solid #E7E7E7;font-size:14px;color:#999;}.homeContent h4#facets em{font-weight:bold;color:#555;}
div.invitation{padding-left:20px;padding-bottom:5px;border-left:1px solid #E7E7E7;position:relative;}div.invitation div{background-color:#ebf8fb;border:1px solid #C6EDF9;padding:5px 10px;margin:0px auto;-moz-border-radius:5px;border-radius:5px;font-size:16px;line-height:30px;}div.invitation div u{text-decoration:none;color:#111;}
div.invitation div input{float:right;margin-left:10px;}
div.invitation div .loader{margin-top:6px;}
#import_message div{font-size:13px;line-height:1.6;}#import_message div a{color:#00c7ed;}
#import_message a.close{font-size:11px;position:absolute;right:8px;top:5px;}
#entry_container{position:relative;min-height:500px;}
.entry{padding:20px;border-left:1px solid #E7E7E7;border-bottom:1px solid #eee;}.entry a.favicon-link{float:left;display:block;height:18px;width:18px;background:#f5f5f5;border:1px solid #ccc;position:relative;margin-top:2px;padding:1px;-webkit-box-shadow:0 0 2px #cccccc;-moz-box-shadow:0 0 2px #cccccc;box-shadow:0 0 2px #cccccc;}.entry a.favicon-link img.favi{height:18px;width:18px;}
.entry textarea{margin:10px 0 5px;width:70%;height:30px;-moz-border-radius:2px;border-radius:2px;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}.entry textarea:focus{border-color:#666;}
.entry input.button,.entry button.button{-moz-border-radius:2px;border-radius:2px;}
.entry h4.title{font-size:14px;color:#f89406;margin-bottom:5px;}
.entry h3{font-family:'Arial Narrow',sans-serif;font-size:24px;line-height:1.2;margin-bottom:2px;width:608px;margin-left:30px;overflow:hidden;}.entry h3 a:link{color:#408EB4;}
.entry h3 a:hover{color:#333;}
.entry h3 a:visited,.entry h3 a:active{color:#777;}
.entry h3 img.favi{margin-top:-6px;*margin-top:0px;}
.entry a.hidden_link{display:none;}
.entry h5.tags{background:transparent url("/site_media/img/used/tag-grey.png") no-repeat 0 -1px;padding-left:22px;line-height:16px;margin-top:3px;color:#999;position:relative;}.entry h5.tags:hover .edit{-webkit-transition:opacity linear 0.3s;-moz-transition:opacity linear 0.3s;-ms-transition:opacity linear 0.3s;-o-transition:opacity linear 0.3s;transition:opacity linear 0.3s;filter:alpha(opacity=100);-khtml-opacity:1;-moz-opacity:1;opacity:1;}
.entry .context-container{margin:10px 0;padding:5px 0 10px;font-size:15px;position:relative;}.entry .context-container h6{margin-bottom:5px;}
.entry .context-container:hover .edit{-webkit-transition:opacity linear 0.3s;-moz-transition:opacity linear 0.3s;-ms-transition:opacity linear 0.3s;-o-transition:opacity linear 0.3s;transition:opacity linear 0.3s;filter:alpha(opacity=100);-khtml-opacity:1;-moz-opacity:1;opacity:1;}
.entry .contexts{height:35px;overflow:hidden;position:relative;}.entry .contexts .more-context{position:absolute;right:0px;top:11px;width:10px;height:10px;background:transparent url(/site_media/img/used/expand.png) no-repeat center center;}.entry .contexts .more-context.collapse{background:transparent url(/site_media/img/used/collapse.png) no-repeat center center;}
.entry .contexts .context-name{display:block;float:left;margin-right:10px;margin-bottom:12px;line-height:1;background-color:#EBF8FB;text-align:right;padding:3px 6px 3px 20px;text-shadow:none;}.entry .contexts .context-name a{text-align:right;text-transform:capitalize;display:block;line-height:1.4;font-weight:bold;width:100%;font-size:13px;color:#62C4E5;-webkit-transition:color linear 0.2s;-moz-transition:color linear 0.2s;-ms-transition:color linear 0.2s;-o-transition:color linear 0.2s;transition:color linear 0.2s;text-shadow:0 0 1px #EBF8FB;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}.entry .contexts .context-name a:visited{color:#62C4E5;}
.entry .contexts .context-name a:hover{color:#36b4de;}
.entry .contexts .context-name span{color:#444;}
.entry .contexts .context-name div{font-size:10px;color:#bbb;text-shadow:none;}
.entry span.subtext{margin:0;}
.entry .subtext{color:#bbbbbb;margin-left:30px;}.entry .subtext a,.entry .subtext a:visited,.entry .subtext a:hover{color:#666;}
.entry .special{font-size:16px;color:#999;}.entry .special span{color:#555555;}
.entry .special a{color:#3ae0ff;}.entry .special a:hover{color:#07d8ff;}
.entry .edit{background:transparent url("/site_media/img/used/edit.png") no-repeat 0 0;position:absolute;left:-40px;top:20px;width:59px;height:21px;display:block;filter:alpha(opacity=0);-khtml-opacity:0;-moz-opacity:0;opacity:0;}
.entry h5 .edit{top:-2px;}
.entry .context-container .edit{top:13px;}
.comment-head a{color:#111;}
.comment-head .link_all_comment{background:transparent url(/site_media/img/used/comment-grey.png) no-repeat 0 center;padding-left:20px;}
.comment-head .line{border-bottom:1px solid #f9f9f9;margin-left:100px;position:relative;top:-9px;}
.comments_container .comment_body p{font-size:14px;color:#111;}
.comments_container .comment_body .comment-subtext{font-size:11px;color:#999;}.comments_container .comment_body .comment-subtext em{color:#333;}
.comments_container .comment_body .comment-subtext a{font-style:normal;color:#000;}
.comments_container .comment{margin-top:10px;}
.level-0{margin-left:0px;}
.level-1{margin-left:52px;}
.level-2{margin-left:104px;}
.level-3{margin-left:156px;}
.level-4{margin-left:208px;}
.entry{}
.context_select{margin-right:179px;margin-top:2px;float:right;position:relative;width:200px;text-align:right;}.context_select span{padding-right:4px;color:#555555;font-size:13px;}
.context_select button{display:inline-block;background-color:#555555;background-repeat:repeat-x;background-image:-khtml-gradient(linear, left top, left bottom, from(#f5f5f5), to(#555555));background-image:-moz-linear-gradient(#f5f5f5, #555555);background-image:-ms-linear-gradient(#f5f5f5, #555555);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #555555));background-image:-webkit-linear-gradient(#f5f5f5, #555555);background-image:-o-linear-gradient(#f5f5f5, #555555);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#555555', GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#555555', GradientType=0)";background-image:linear-gradient(#f5f5f5, #555555);padding:2px;text-shadow:13px;color:0 1px 1px rgba(255, 255, 255, 0.75);font-size:3px 15px 4px;-moz-border-radius:1px solid #cccccc;border-radius:1px solid #cccccc;border:1px solid #cccccc;-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),inset 0 -1px 0 rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),inset 0 -1px 0 rgba(0, 0, 0, 0.05);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),inset 0 -1px 0 rgba(0, 0, 0, 0.05);cursor:pointer;-webkit-transition:0.1s linear all;-moz-transition:0.1s linear all;-ms-transition:0.1s linear all;-o-transition:0.1s linear all;transition:0.1s linear all;}.context_select button:hover{background-position:0 -15px;color:0 1px 1px rgba(255, 255, 255, 0.75);}
.context_select button:active{-webkit-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.25);-moz-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.25);box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.25);}
ul.ul_dropdown{color:#555555;font-size:13px;border:1px solid #CCC;-webkit-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.3);-moz-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.3);box-shadow:0px 1px 5px rgba(0, 0, 0, 0.3);background:#ffffff;position:absolute;right:0px;}ul.ul_dropdown li{padding:5px 5px 3px 26px;border-bottom:1px solid #eee;background:transparent url("/site_media/img/checkbox_no.png") no-repeat 6px 6px;cursor:pointer;width:150px;}ul.ul_dropdown li input{margin-right:6px;}
ul.ul_dropdown li label{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:13px;font-weight:normal;line-height:1.6;margin:0px;}
ul.ul_dropdown li:first-child{border-bottom:1px solid #ddd;background-color:#f5f5f5;}
ul.ul_dropdown li.selected{background:transparent url("/site_media/img/checkbox_yes.png") no-repeat 6px 6px;}ul.ul_dropdown li.selected:first-child{background-color:#f5f5f5;}
.MoogPlus{background:#05cffb;width:1px;top:0;left:0px;position:absolute;height:0px;}
.active{background:#fefefe;border-left:1px solid #05cffb;-webkit-transition:all 200ms ease-out;-moz-transition:all 200ms ease-out;-ms-transition:all 200ms ease-out;-o-transition:all 200ms ease-out;transition:all 200ms ease-out;}
.modal .loader{float:left;margin-top:4px;}
.modal .message{text-align:center;padding:7px 0;background-color:#DDF4FB;color:#333;border:1px solid #C6EDF9;}.modal .message.error{background-color:#FDDFDE;border-color:#FBC7C6;}
.modal.link-modal{width:400px;height:395px;margin-left:-205px;padding:5px;border:2px solid #33DBFE;-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);box-shadow:0 0 10px rgba(0, 0, 0, 0.5);overflow:visible;}
.modal.comment-modal{width:600px;height:auto;margin-left:-310px;padding:15px;border:2px solid #33DBFE;-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);box-shadow:0 0 10px rgba(0, 0, 0, 0.5);overflow:visible;max-height:90%;margin-top:0px;}.modal.comment-modal .entry{height:100%;overflow-y:auto;overflow-x:hidden;padding:0px;border:none;max-height:100%;}.modal.comment-modal .entry h3{margin-left:0px;}
.modal.comment-modal .entry h5{margin-bottom:15px;}
.modal.comment-modal.fade.in{top:3%;}
.modal.comment-modal #popup-comments{overflow-y:auto;overflow-x:hidden;border:1px solid #eee;border-width:1px 0;}.modal.comment-modal #popup-comments .comment:first-child{border-top:none;}
.modal.comment-modal .popup-form{padding-bottom:25px;}
.modal .linkPopupBox{width:400px;height:395px;background-color:#fff;text-align:center;overflow:hidden;}
.modal img.close-img{padding:0px;border:0px;position:absolute;right:-14px;top:-14px;}
.load_more{display:block;padding:4px 0;font-size:13px;color:#ccc;text-align:center;margin:20px 0;cursor:text;}
.load_more img{display:none;vertical-align:middle;}
.load_more span{display:inline;}
.load_more.loading img{display:inline;margin-bottom:-5px;}
.load_more.loading span{display:none;}
#header .tab-active{background-color:#555;}#header .tab-active span{background-color:#ccc;}
#header .tab-active a{color:#ddd;text-shadow:none;}
.header_popup{position:absolute;background:#ffffff;-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);right:0px;top:37px;overflow:hidden;z-index:7;}
#notification{width:400px;}
#notification_frame{width:100%;}
#header_links{background:#555;width:220px;padding:2px 0;-moz-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;}#header_links h5{font-size:15px;color:#fff;margin:5px 10px;}
#header_links .sublink{display:block;font-size:11px;color:#999;padding:0 10px 5px;border-bottom:1px solid #494949;}
#header_links ul{border-top:1px solid #5f5f5f;border-bottom:1px solid #494949;}#header_links ul:last-child{border-bottom:none;}
#header_links li:hover{background:#333;}#header_links li:hover a{border-color:#333;color:#fff;}
#header_links li a{color:#999;display:block;padding:7px 0;margin:0 10px;border-bottom:1px solid #595959;}
.streamList{width:100%;margin:5px 0;}.streamList li{list-style:none;float:left;width:46%;margin:5px 2% 5px 0;}
.streamList a{color:#555;padding:2px 0 2px 22px;background:transparent url(/site_media/img/radio-off.png) no-repeat 0px center;}.streamList a.selected{background:transparent url(/site_media/img/radio-on.png) no-repeat 0px center;}
.streamList a.loading{background:transparent url(/site_media/img/8.gif) no-repeat 0px center;}.streamList a.loading:hover{cursor:busy;}
.streamList a.noedit{background:transparent url(/site_media/img/1303821038_OK.png) no-repeat 0px center;cursor:text;}
.streamList a.checkbox{background:transparent url(/site_media/img/checkbox_no.png) no-repeat 0px center;}.streamList a.checkbox.selected{background:transparent url(/site_media/img/checkbox_yes.png) no-repeat 0px center;}
.settingSideBar{display:inline;float:left;width:160px;margin-left:20px;padding-top:30px;}.settingSideBar:first-child{margin-left:0;}
.settingSideBar li{margin:10px 0;}
.settingSideBar li.selected{font-size:14px;color:#333;}
.settingSideBar h4{font-size:16px;font-weight:bold;margin-bottom:10px;color:#111;}
.settingSideBar a{color:#999;}
.settingContent{display:inline;float:left;width:760px;margin-left:20px;}.settingContent:first-child{margin-left:0;}
.settingContent .settingContainer{padding-left:20px;border-left:1px solid #D0D0D0;}
.settingContent h2{font-family:'Arial Narrow',sans-serif;font-size:28px;font-weight:normal;line-height:1.1;margin-bottom:6px;text-shadow:0 0 1px #fff;color:#444;}.settingContent h2.no-hr{margin-bottom:35px;}
.settingContent h4{font-size:18px;color:#444;}
.settingContent hr.bottom{margin:35px 0;color:#ccc;background-color:#ccc;border:1px solid #ccc;border-width:1px 0 0;}
.servicesContainer{margin-top:40px;overflow-y:auto;}.servicesContainer .service{width:335px;border:1px solid #B5FEFF;-moz-border-radius:8px;border-radius:8px;padding:10px;margin:0 0 25px 0;float:left;}.servicesContainer .service.right{margin-right:0px;float:right;}
.servicesContainer .service .service_thumb{height:24px;width:24px;margin-right:4px;vertical-align:top;}
.servicesContainer .service .service_name{color:#999;font-size:15px;line-height:24px;}
.servicesContainer .service .username{color:#111;font-size:15px;}
.servicesContainer .service .service_settings{height:16px;width:16px;display:block;float:right;text-indent:-100px;overflow:hidden;background:transparent url(/site_media/img/settings.png) no-repeat 0 0;}
.servicesContainer .service p{color:#999;margin:10px 0;}
.servicesContainer .service p.p_button{text-align:center;margin:0px;}
.activity_info{padding-left:20px;border-left:1px solid #eee;}.activity_info h4{font-size:16px;font-weight:bold;padding:10px 0px 5px;color:#555;}
.activity_info .gray_bg{margin:10px 0 20px;background-color:#f2f2f2;border-radius:5px;color:#333;padding:10px 15px;}.activity_info .gray_bg em{font-weight:bold;border-bottom:1px dotted #ccc;}
.activity_info #invite_friend_list{width:450px;border-top:1px solid #f5f5f5;margin-bottom:30px;}.activity_info #invite_friend_list li{padding:5px 0;border-bottom:1px solid #f5f5f5;text-align:right;color:#999;}.activity_info #invite_friend_list li span.user{float:left;font-size:14px;display:inline-block;zoom:1;*display:inline;width:200px;text-align:left;}
.activity_info #invite_friend_list li img{vertical-align:middle;}
#goto-top{position:fixed;display:block;width:200px;bottom:20px;right:20px;line-height:24px;color:#fff;}#goto-top p{position:relative;z-index:2;text-align:center;}
#goto-top span{font-size:16px;}
#goto-top div{position:absolute;width:200px;height:28px;background:rgba(4, 4, 4, 0.8);top:0px;left:0px;z-index:1;-moz-border-radius:4px;border-radius:4px;}
form.full_form label{width:150px;font:13px "Lucida Grande","Trebuchet MS",Verdana,sans-serif;display:block;float:left;}form.full_form label.full_width{width:auto;float:none;}
form.full_form input[type="text"],form.full_form input[type="password"]{width:200px;}
form.full_form .textarea{width:80%;height:70px;}
.error{color:#c00;margin:5px 0 0;}
.table{width:100%;}
#table_notification tr{background-color:#efefef;border-bottom:1px solid #CCCCCC;}
#table_notification tr:last-child{border:0;}
#table_notification td{padding:5px;}
.bookmarklet_botton{padding:10px 60px;border:1px dashed #CCC;font-size:18px;background-color:#efe;display:inline-block;color:#555;-webkit-transition:0.2s linear all;-moz-transition:0.2s linear all;-ms-transition:0.2s linear all;-o-transition:0.2s linear all;transition:0.2s linear all;margin-bottom:10px;}.bookmarklet_botton:hover{border:1px dashed #aaa;background-color:#bfb;color:#111;cursor:move;}
.bubble{font-family:"Arial Narrow","Helvetica Neue",Helvetica,Arial,sans-serif;width:250px;border:2px solid #6BE8FF;background:white;padding:6px 10px;-moz-border-radius:5px;border-radius:5px;position:absolute;top:100px;left:100px;z-index:10;font-size:20px;line-height:1.2;text-shadow:0 0 1px #fff;-webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.4);-moz-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.4);box-shadow:3px 3px 5px rgba(0, 0, 0, 0.4);}.bubble img{margin:2px 10px 0 0;float:left;}
.bubble a{color:#333;}
.bubble .arrow{position:absolute;width:0px;border-style:solid;width:0px;height:0px;}.bubble .arrow.rightTop{border-color:transparent transparent #6BE8FF transparent;border-width:20px 10px 20px 10px;left:90px;top:-42px;}.bubble .arrow.rightTop div{position:relative;width:0px;border-color:transparent transparent white transparent;border-style:solid;border-width:20px 10px 20px 10px;width:0px;height:0px;left:-10px;top:-14px;}
.bubble .arrow.leftArrow{float:none;border-color:transparent #6BE8FF transparent transparent;border-width:10px 20px 10px 20px;left:-40px;top:20px;}.bubble .arrow.leftArrow div{position:relative;width:0px;border-color:transparent white transparent transparent;border-style:solid;border-width:10px 20px 10px 20px;width:0px;height:0px;left:-15px;top:-10px;}
.bubble .close{margin-top:-7px;margin-right:-7px;font-size:12px;}
.bubble#bubble_plugin{top:70px;left:660px;}.bubble#bubble_plugin .arrow.rightTop{left:220px;}
.bubble#bubble_context{top:65px;left:250px;}
.bubble#bubble_import{top:160px;left:0px;}.bubble#bubble_import .arrow.rightTop{left:30px;}
.button{display:inline-block;background-color:#66c8f0;background-repeat:repeat-x;background-image:-khtml-gradient(linear, left top, left bottom, from(#6fd4fe), to(#66c8f0));background-image:-moz-linear-gradient(#6fd4fe, #66c8f0);background-image:-ms-linear-gradient(#6fd4fe, #66c8f0);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #6fd4fe), color-stop(100%, #66c8f0));background-image:-webkit-linear-gradient(#6fd4fe, #66c8f0);background-image:-o-linear-gradient(#6fd4fe, #66c8f0);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6fd4fe', endColorstr='#66c8f0', GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#6fd4fe', endColorstr='#66c8f0', GradientType=0)";background-image:linear-gradient(#6fd4fe, #66c8f0);padding:4px 15px 5px;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);color:#ffffff;font-size:13px;-moz-border-radius:4px;border-radius:4px;border:1px solid #999999;-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),inset 0 -1px 0 rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),inset 0 -1px 0 rgba(0, 0, 0, 0.05);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),inset 0 -1px 0 rgba(0, 0, 0, 0.05);cursor:pointer;-webkit-transition:0.1s linear all;-moz-transition:0.1s linear all;-ms-transition:0.1s linear all;-o-transition:0.1s linear all;transition:0.1s linear all;border-color:#66C8F0 #0064cd #62C0E6;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);vertical-align:middle;}.button:hover{background-position:0 -15px;color:#ffffff;}
.button:active{-webkit-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.25);-moz-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.25);box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.25);}
.button.secondary{display:inline-block;background-color:#eeeeee;background-repeat:repeat-x;background-image:-khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));background-image:-moz-linear-gradient(#ffffff, #eeeeee);background-image:-ms-linear-gradient(#ffffff, #eeeeee);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #eeeeee));background-image:-webkit-linear-gradient(#ffffff, #eeeeee);background-image:-o-linear-gradient(#ffffff, #eeeeee);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0)";background-image:linear-gradient(#ffffff, #eeeeee);padding:4px 15px 5px;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);color:#333333;font-size:13px;-moz-border-radius:4px;border-radius:4px;border:1px solid #cccccc;-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),inset 0 -1px 0 rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),inset 0 -1px 0 rgba(0, 0, 0, 0.05);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),inset 0 -1px 0 rgba(0, 0, 0, 0.05);cursor:pointer;-webkit-transition:0.1s linear all;-moz-transition:0.1s linear all;-ms-transition:0.1s linear all;-o-transition:0.1s linear all;transition:0.1s linear all;font-size:13px;}.button.secondary:hover{background-position:0 -15px;color:#333333;}
.button.secondary:active{-webkit-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.25);-moz-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.25);box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.25);}
.button.big{padding:6px 25px 7px;font-size:14px;margin-bottom:5px;}
.button.primary{font-size:13px;}
.button::-moz-focus-inner{padding:0;border:0;}
.about{font-family:"Arial Narrow","Helvetica Neue",Helvetica,Arial,sans-serif;}.about .notice{width:500px;margin:0px auto;border:2px solid #6be8ff;text-align:center;font-size:20px;color:#999;-moz-border-radius:5px;border-radius:5px;}.about .notice a{color:#111;}
.about h2{font-size:38px;margin:0 0 30px 0;}
.about h3{font-size:32px;margin:30px 0 10px;}
.about img{margin-top:10px;border:1px solid #33DBFE;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 0 2px rgba(0, 0, 0, 0.4);-moz-box-shadow:0 0 2px rgba(0, 0, 0, 0.4);box-shadow:0 0 2px rgba(0, 0, 0, 0.4);padding:4px;}
.about p{margin:5px 0;font-family:"Arial Narrow","Helvetica Neue",Helvetica,Arial,sans-serif;font-size:18px;text-shadow:0 0 1px #fff;}
.center_content{text-align:center;}.center_content h2.focus_head{background-color:#DDF4FB;border:1px solid #C6EDF9;padding:15px;width:60%;margin:0px auto;-moz-border-radius:5px;border-radius:5px;font-size:20px;margin-bottom:35px;text-align:center;}.center_content h2.focus_head u{text-decoration:none;color:#45c3e9;}
.center_content .context_name h3{font-size:42px;color:#333;font-family:Arial Narrow;font-weight:normal;text-shadow:0 0 1px #fff;letter-spacing:1px;margin-bottom:5px;}
.center_content .context_name p{font-size:18px;color:#888;}
.center_content .join_context{text-align:right;padding:15px 0;}.center_content .join_context input{margin-left:10px;float:right;}
.center_content .join_context input#join_button{font-size:18px;height:42px;padding:0px 38px;position:relative;}
.center_content h4{color:#888;margin-bottom:10px;}
.center_content .green-bg{background-color:#f5fdef;border:1px solid #D9F7C2;-moz-border-radius:5px;border-radius:5px;padding:10px 15px;}.center_content .green-bg a{color:#000;}
.center_content .green-bg img{margin-right:4px;position:relative;top:3px;}
.center_content .green-bg ul.left80{border-right:1px solid #D9F7C2;-webkit-box-shadow:1px 0 0 #ffffff;-moz-box-shadow:1px 0 0 #ffffff;box-shadow:1px 0 0 #ffffff;}
.center_content .green-bg ul.right20{padding-left:10px;border-left:1px solid white;}
.center_content .green-bg li{margin:15px 0;}
.center_content .green-bg span{color:#888;}
.center_content p.tagline{font-size:18px;margin:30px 0;text-align:center;color:#888;text-shadow:0 0 1px #fff;}.center_content p.tagline span{font-weight:bold;color:#333;}
.center_content p.action{font-size:16px;text-align:center;margin-bottom:20px;}
.heart_container .heart{font-size:26px;text-shadow:0 1px 1px rgba(80, 80, 80, 0.5);font-weight:bold;color:#D51A3A;line-height:13px;display:inline-block;zoom:1;*display:inline;margin-top:-3px;}
.response_message{background-color:#f5fdef;border:1px solid #D9F7C2;-moz-border-radius:5px;border-radius:5px;padding:5px 10px;margin-bottom:10px;}
.coming-soon{font-family:"Arial Narrow","Helvetica Neue",Helvetica,Arial,sans-serif;font-size:44px;color:#3AB5FF;padding:100px 0 300px;text-align:center;}
