<html>
    <head>
        <title>Welcome to SocialSync</title>
        <link href="/socialsync/media/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="/socialsync/media/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    </head>
    <body>
        <h3>{{service_name}}</h3>
        <div class="container">
            {% if social_profile.access_token%}
			    Your Twitter account is synced, access token is: {{social_profile.access_token}}<br/><br/>
    	    	Create pipe between your Friends and Context (Your friends link will be relayed to your Context):<br/><br/>
				<form enctype="multipart/form-data" action='/socialsync/twitter/addrule/' method='POST' name='ruleform'>
		            <label>Activity List</label>
			         <select id="activity_id" name='activity'>
						{%for a in user_activity%}
						  <option value={{a.id}}>{{a.activityname}}</option>
						{%endfor%}
           			 </select>
		      	    <label>Twitter friend id</label>
			        <select multiple="multiple" id="friends_id" name='friend_list' style="height;">
						{%for frnd in user_friends%}
						  <option value="{{frnd.0}}">{{frnd.1}} ({{frnd.2}})</option>
						{%endfor%}
		            </select><br/><br/>
    		 		<input type="submit" value="Add"/>
				</form>
            {%else%}
				<a href="/socialsync/twitter/sync/">Sync your Twitter account</a>
            {%endif%}
			{%for a, rule in rule_dict.items%}
				Push all the links share by
				{%for i in rule.friend_list%}
					<u>{{i.1}}</u>,
				{%endfor%} in their <b>{{rule.source}} stream</b>  into
				<b>Context:<i>"{{a.activityname}}"</i></b><br/><br/>
			{%endfor%}
		</div>
        <!-- Placed at the end of the document so the pages load faster 
        <script src="/socialsync/media/bootstrap/js/bootstrap.js"></script>-->
    </body>
</html>
