<html>
    <head>
        <title>Welcome to SocialSync</title>
        <link href="/socialsync/media/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="/socialsync/media/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    </head>
    <body>
        <h3>{{service_name}}</h3>
        <div class="container">
            {% if social_profile.access_token%}
				<div class="row">
                    <div class="span12">
		                Your Twitter account is synced, access token is: {{social_profile.access_token}}<br/><br/>
        		        Create pipe between your Friends and Context (Your friends link will be relayed to your Context):<br/><br/>
					</div>
				</div>
				<div class="row">
					<form class="form-vertical" action='/socialsync/twitter/addrule/' method='POST'>
						<div class="span4">
							<div class="control-group">
					            <label class="control-label" for="select01">Select list</label>
					            <div class="controls">
					              <select id="select01">
									{%for a in user_activity%}
									  <option>{{a.activityname}}</option>
									{%endfor%}
	              			      </select>
					            </div>
					          </div>
						</div>
						<div class="span4">
							<div class="control-group">
				        	    <label class="control-label" for="multiSelect">Multicon-select</label>
				            	<div class="controls">
					              <select multiple="multiple" id="multiSelect">
									{%for f in user_friends%}
									  <option>{{f}}</option>
									{%endfor%}
					              </select>
				    	        </div>
				        	  </div>
	                    </div>
						<div class="span4">
							<div class="form-actions">
    					        <button type="submit" class="btn btn-primary" data-toggle="button">Add</button>
					        </div>
						</div>
					</form>
				</div>
            {%else%}
                <div class="row">
                    <div class="span12">
						<a href="/socialsync/twitter/sync/">Sync your Twitter account</a>
                    </div>
                </div>
            {%endif%}
        </div>

        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/socialsync/media/bootstrap/js/bootstrap.js"></script>
    </body>
</html>
