html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
    }/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
    }body {
    line-height: 1
    }ol, ul {
    list-style: none
    }blockquote, q {
    quotes: none
    }blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none
    }table {
    border-collapse: collapse;
    border-spacing: 0
    }html, body {
    height: 100%
    }/*body{background:transparent url(/site_media/img/bg.png) repeat-x center 0;}*/#top-bar-bg {
    z-index: 1;
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    background: #111;
    background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#111));
    background: -moz-linear-gradient(top, #333, #111);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5)
    }#wrap {
    min-height: 100%
    }#main {
    overflow: auto;
    padding-bottom: 60px;
    padding-top: 40px
    }/* must be same height as the footer */#footer {
    position: relative;
    margin-top: -20px;
    /* negative value of footer height */
    height: 20px;
    clear: both
    }/*Opera Fix*/body:before {
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px
    }#wrap, #footer {
    width: 960px;
    margin-left: auto;
    margin-right: auto
    }#header {
    position: relative;
    z-index: 3;
    height: 40px
    }body {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.6
    }a {
    text-decoration: none;
    color: #0063DC
    }#header h1, #header h1 a {
    font-size: 22px;
    font-weight: normal;
    color: #f6f6f6;
    text-shadow: 0 0 2px #FFF;
    line-height: 40px;
    float: left
    }#header .vr {
    border-left: 1px solid #040404;
    border-right: 1px solid #2F2F2F;
    height: 26px;
    display: block;
    float: right;
    margin: 6px 3px 1px 3px
    }ul.nav {
    display: block;
    margin-left: 100px;
    text-align: right
    }ul.nav li.sep {
    padding: 0
    }ul.nav li.sep span {
    border-left: 1px solid #040404;
    border-right: 1px solid #2F2F2F;
    height: 30px;
    display: block;
    float: right;
    margin-top: 0
    }ul.nav li {
    display: inline-block;
    padding: 10px 20px;
    color: #EEE;
    height: 20px
    }ul.nav a {
    color: #BABABA
    }ul.nav a:hover {
    color: #FFF
    }strong {
    font-weight: bold
    }em {
    font-style: italic
    }blockquote {
    margin: 10px 0 10px 30px;
    padding: 10px;
    border: 1px dotted #CCC
    }/************************************************************************************************//*                                      User Home                                               *//************************************************************************************************/.leftSidebar {
    background: #D9EEF2;
    -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    display: inline-block;
    vertical-align: top;
    width: 200px
    }.rightContent {
    -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    display: inline-block;
    vertical-align: top;
    width: 750px
    }