<span class="right light-text">Step 1 of 3</span>
<h2>Good to Go !!</h2>
<p>Focal is the platform to organize your bookmarks under contexts. A context could be anything, it could be a project you're working or it could be one of your area of interest.</p>
<p>To get you started we have created one Context "Personal". You can create more from the following:</p>
<ul class="sample_context">
    <li>Programming</li>
    <li>Javascript</li>
    <li>CSS</li>
    <li>Entrepreneur</li>
    <li>Python</li>
    <li>ROR</li>
    <li>Business</li>
    <li>Design</li>
    <li>Design-Pattern</li>
    <li>Algorithm</li>
</ul>
<p>or, <b>Later you could</b> create more contexts from this <a href="javascript:void(0)" id="link_hover1" style="position:relative;z-index:25">link</a></p>
<p class="text-right"><button class="button" onclick="loadNext1();">Create Contexts and Continue</button></p>
<script type="text/javascript">
    $$('ul.sample_context li').addEvent('mouseup',function(e){
        this.toggleClass('selected');
    });
    var img = new Element('img',{
        'src':'/site_media/img/hover1.png',
        'id':'hover1',
        'styles':{
            'position':'absolute',
            'left':$('add_context_link').getPosition().x-24,
            'top':$('add_context_link').getPosition().y-24,
            'z-index':'24',
            'visibility':'hidden',
            'opacity':'0'
        }
    }).inject($('link_hover1').getParent('.light-bg'));
    //$('link_hover1').getParent('.tourBox').set('tween',{'duration':200});
    $('hover1').set('tween',{'duration':200});
    $('link_hover1').addEvents({
        'mouseenter':function(e){
            //this.getParent('.tourBox').fade(0.9);
            $('hover1').fade(1);
        },
        'mouseleave':function(e){
            //this.getParent('.tourBox').fade(1);
            $('hover1').fade(0);
        }
    });
    function loadNext1(){
        $('tourDiv1').addClass('hide');
        $('tourDiv2').removeClass('hide');
		createContexts();
    }
	function createContexts(){
		var contexts = $$('ul.sample_context li.selected').map(function(item){return item.get('text');}).join(',');
		if(contexts.trim().length > 0){
			var myHTMLRequest = new Request.HTML({url:'/create/'}).post('activity='+contexts+'&is_tour=true');
		}
	}
</script>

