<span class="right light-text">Step 2 of 3</span>
<h2 id="first_head">Share Context to Friends</h2>
<p>Focal provieds you an ability to share your <a rel='2' class="hover" href="#">contexts</a>, with friends adn family. After joining the Context even they can contribute bookmarks to that Context.</p>
<p>Get the Invitation link for any Context from <a rel='3' class="hover" href="#">here</a>.</p>

<h2 class="margin15">Link Social Accounts</h2>
<p>Focal provides you flexibility to save/share your bookmarks on other social networks very easily. This feature requires you to one time link your account. For linking click on respective network.</p>
<p class='social-icons-24'>
    <p class="clearfix"><a class="connect instapaper" href="javascript:void(0);" onclick="open_win('instapaper');"><img src="/site_media/img/instapaper.png" alt="Instapaper"/></a></p>
    <p class="clearfix"><a class="connect facebook" href="javascript:void(0);" onclick="open_win('facebook');"><img src="/site_media/img/facebook.png" alt=""/></a></p>
    <p class="clearfix"><a class="connect twitter" href="javascript:void(0);" onclick="open_win('twitter');"><img src="/site_media/img/twitter.png" alt=""/></a></p>
</p>
<p>or <b>Later you could</b> link your accounts from <a rel='4' class="hover" href="#">here</a>.</p>
<p class="text-right"><button class="button" onclick="loadNext2();">Continue</button></p>
<script type="text/javascript">
    $$('ul.sample_context li').addEvent('click',function(e){
        this.toggleClass('selected');
    });
    
    var ele_pos = $$('h4.context')[0].getPosition();
    var img = new Element('img',{
        'src':'/site_media/img/hover2.png',
        'id':'hover2',
        'class':'hover_img',
        'styles':{
            'position':'absolute',
            'left':ele_pos.x-34,
            'top':ele_pos.y-16,
            'z-index':'24',
            'visibility':'hidden',
            'opacity':'0'
        }
    }).inject($('first_head').getParent('.light-bg'));
    
    ele_pos = $$('a.contexts')[0].getPosition();
    var img = new Element('img',{
        'src':'/site_media/img/hover4.png',
        'id':'hover3',
        'class':'hover_img',
        'styles':{
            'position':'absolute',
            'left':ele_pos.x-14,
            'top':ele_pos.y,
            'z-index':'24',
            'visibility':'hidden',
            'opacity':'0'
        }
    }).inject($('first_head').getParent('.light-bg'));
    
    ele_pos = $$('a.settings')[0].getPosition();
    var img = new Element('img',{
        'src':'/site_media/img/hover3.png',
        'id':'hover4',
        'class':'hover_img',
        'styles':{
            'position':'absolute',
            'left':ele_pos.x-9,
            'top':ele_pos.y,
            'z-index':'24',
            'visibility':'hidden',
            'opacity':'0'
        }
    }).inject($('first_head').getParent('.light-bg'));
    
    $$('.hover_img').set('tween',{'duration':200});
    $$('.hover').addEvents({
        'mouseenter':function(e){
            //this.getParent('.tourBox').fade(0.9);
            $('hover'+this.get('rel')).fade(1);
        },
        'mouseleave':function(e){
            //this.getParent('.tourBox').fade(1);
            $('hover'+this.get('rel')).fade(0);
        }
    });
    function loadNext2(){
        $('tourDiv2').addClass('hide');
        $('tourDiv3').removeClass('hide');
    }
	
	var new_script = new Element('script',{
		'type':"text/javascript",
		'src':"/site_media/js/social.js"
	}).inject(document.head);
</script>
