﻿<span class="right light-text">Step 3 of 3</span>
<h2 id="first_head">Saving a Bookmark</h2>
<p>Focal <b><i>presently</i></b> provide following ways to save new bookmarks:</p>
<ol class='final_ol'>
	<li>
        <img src='/site_media/img/plugin.jpg' class='right' style='margin:0 0 10px 10px;'/>
        <h3>Chrome Extention</h3>
        <p>Using Chrome Extension you can get complete experience of Focal. Our Chrome extension not only gives you an ability to save new bookmarks, it also give you real time updates of comments, new bookmarks in your contexts.</p>
        <p>Download Chrome Extension from <a href="/site_media/focal.crx">here</a>.</p>
        <div class="clearfix"></div>
    </li>
	<li>
        <h3>Browser Bookmarklet</h3>
        <p>Using this browser independent bookmarklet, you can easily save new links to Focal.</p> 
        <p>Drag following bookmarklet to you bookmark bar.</p>
        <a href="javascript:(function(){document.body.appendChild(document.createElement('script')).src='http://www.focal.io/site_media/js/bookmarklet.js';})();">Focal</a>
        
    </li>
	
</ol>
<p class="text-right"><button class="button" onclick="loadNext3();">Start Focal</button></p>
<script type="text/javascript">
function loadNext3(){
    $('tourDiv3').getParent('.light-bg').dispose();
    document.body.removeClass('theaterMode');
}
</script>

