{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="/site_media/stylesheet/css/setting.css" />	
{%endblock%}
{% block content %}

{% include "settings/sidebar.html" with tab="service" %}


<div class="settingContent">
	<div class="settingContainer">
	{% if mesg %}
		<div class="response_message">{{mesg}}</div>
	{% endif %}
	<h2>Focal Playground</h2>
    <hr />
	<h4>Focal Plays well with other services. Connect accounts and Sync with services that you want to use.</h4>
	
	<div class="coming-soon">Coming Soon</div>
	{% comment %}
	<div class="servicesContainer">
		<div class="service">
			<img class="service_thumb" src='/site_media/img/icons/twitter.png' />
			<span class="service_name">Twitter</span>
			<span class="username">@nitinhayaran</span>
			<a class="service_settings" href="#">edit</a>
			<p>Read links., Articles within focal in readilbility format</p>
			
			
			{% if user.twitter_access_token %}
			    <p>Linked with {{user.twitter_access_token }}</p>
			{% else %}
				<p class="p_button"><input type="button" class="button" value="Connect" onclick="open_win('twitter', this);" /></p>
			{% endif %}
			
		</div>	
		<div class="service right">
			<img class="service_thumb" src='/site_media/img/icons/facebook.png' />
			<span class="service_name">Facebook</span>
			<span class="username">nitin.hayaran</span>
			<a class="service_settings" href="#">edit</a>
			<p>Read links., Articles within focal in readilbility format</p>
			
			{% if user.facebook_access_token %}
			    <p>Linked with {{user.facebook_access_token }}</p>
			{% else %}
				<p class="p_button"><input type="button" class="button" value="Connect" onclick="open_win('facebook',this);" /></p>
			{% endif %}
		</div>
		<div class="service">
			<img class="service_thumb" src='/site_media/img/icons/instapaper.png' />
			<span class="service_name">Instapaper</span>
			<span class="username">nitin.hayaran</span>
			<a class="service_settings" href="#">edit</a>
			<p>Read links., Articles within focal in readilbility format</p>
			<p class="p_button"><input type="button" class="button" value="Connect" onclick="open_win('instapaper',this);" /></p>
		</div>
	</div>

	{% endcomment %}
<!--
    <h3 class="impact">Linked Account</h3>
    <hr />
    Connect your Twitter, Facebook, and Instapaper accounts to easily <b>share</b> links on these websites. 
    <h4 class="impact">Link Twitter Account</h4>
    {% if user.twitter_access_token %}
        <p>Linked with {{user.twitter_access_token }}</p>
    {% else %}
        <p class="clearfix"><a class="connect twitter" href="javascript:void(0);" onclick="open_win('twitter');">Connect with Twitter</a></p>
    {% endif %}
    <h4 class="impact">Link Facebook Account</h4>
    {% if user.facebook_access_token %}
        <p>Linked with {{user.facebook_access_token }}</p>
    {% else %}
        <p class="clearfix"><a class="connect facebook" href="javascript:void(0);"  onclick="open_win('facebook');">Connect with Facebook</a></p>
    {% endif %}
    <h4 class="impact">Link Instapaper Account</h4>
    <p class="clearfix"><a class="connect instapaper" href="#">Connect with Instapaper</a></p>
    
    <br /><br />
    <h3 class="impact">Change Password</h3>
    <hr />
    <form action="/change_password/" method="post" class="full_form">
        <label for="pass1">Password : </label>
        <input type="password" class="inputtext" name="pass1" id="pass1" />
        <br />
        <label for="pass2">Confirm Password : </label>
        <input type="password" class="inputtext" name="pass2" id="pass2" />
        <br /><br />
        <label for="pass1"></label>
        <input class="button big gray" value="Change Password" type="submit" />
    </form>
    
    
    <br /><br />
    <h3 class="impact">Change NickName</h3>
    <hr />
    <form action="/change_nickname/" method="post" class="full_form">
        <label for="nickname">Nick Name : </label>
        <input type="text" class="inputtext" name="nickname" id="nickname" value="{{user.nickname}}" />
        <br /><br />
        <label for="nickname"></label>
        <input class="button big gray" value="Change NickName" type="submit" />
    </form>
-->
    </div>
</div>
<div class="clearfix"></div>
<br /><br />
{% endblock %}

{% block js %}
<script type="text/javascript" src='/site_media/js/social.js'></script>
{% endblock %}
