{% extends "base.html" %}
{% block css %}
    <!-- <link rel="stylesheet" href="/site_media/stylesheet/css/setting.css" />	 -->
{%endblock%}
{% block content %}

{% include "settings/sidebar.html" with tab="tools" %}

<div class="settingContent">
<div class="settingContainer">
    
    <div class="div-plugin-download">
        <h2 class="no-hr">Focal Browser Extension</h2>
        <div class="left70 bigNormalText">
        	Install the plugin to start bookmarking and sharing links with your contexts
        </div>
        <div class="right30 text-center">
        	<a href="/site_media/focal.crx" id="plugin-button" class="button big" style="padding:8px 25px 9px">Install Addon <span>for Chrome</span></a>
        	<br />
        	<!-- <img style="width:80px;margin-left:-9px;" src="/site_media/img/chrome_icon.png" alt="Google Chrome"> -->
        </div>
        <div class="clearfloat"></div>

        <hr class="bottom" />
    </div>

    

    <h2 class="no-hr">Bookmarklet</h2>
    <div id="favorite-nonie">
        <div class="left70 bigNormalText">
        	Install the bookmarklet to start bookmarking and sharing links with your contexts
        </div>
        <div class="right30 text-center">
        	<a href="{% include "bookmarklet_code.js"%}" class="bookmarklet_botton">Focal</a>
        	<br />
        	<p class="smallNormalText text-center">Drag and Drop this on your bookmark bar</p>
        </div>
        <div class="clearfloat"></div>
        <h4>Tips for installation:</h4>
        <br />
        <div class="chrome hide">
            <p>&ndash; Make sure the Bookmarks Bar is visible by clicking the <b>View > Always Show Bookmarks Bar</b></p>
            <p>&ndash; You can also use the keyboard shortcuts Ctrl+Shift+B (Windows and Chrome OS) and ⌘-Shift-B (Mac) to toggle the bar on and off.</p>
            <p>&ndash; Drag and Drop the bookmarklet on the bookmarks bar </p>
        </div>
        <div class="safari hide">
            <p>&ndash; Make sure the Bookmarks Bar is visible by clicking the <b>View > Show Bookmarks Bar</b></p>
            <p>&ndash; You can also use the keyboard shortcuts Ctrl+Shift+B (Windows and Chrome OS) and ⌘-Shift-B (Mac) to toggle the bar on and off.</p>
            <p>&ndash; Drag and Drop the bookmarklet on the bookmarks bar </p>
        </div>
        <div class="mozilla hide">
            <p>&ndash; Make sure the Bookmarks Bar is visible by clicking the <br /><b>View > Toolbar > Bookmark Toolbar</b></p>
            <p>&ndash; Drag and Drop the bookmarklet on the bookmarks bar </p>
        </div>
        <div class="other hide">
            <p>&ndash; Make sure the Bookmarks Bar is visible</p>
            <p>&ndash; Drag and Drop the bookmarklet on the bookmarks bar </p>
        </div>
        <br />
        <p>You're Done!</p>
    </div>
    <div id="favorite-ie" class="hide">
        <div class="bigNormalText">
            Install the bookmarklet to start bookmarking and sharing links with your contexts
        </div>
        <p>Right-click on <a href="{% include "bookmarklet_code.js"%}" class="bookmarklet_botton">Focal</a> and choose "Add to Favorite".</p>
        <br />
        <p>
            <img src="/site_media/img/ie-favorite.png" alt="IE Favorite" />
        </p>
    </div>
</div>
</div>
<div class="clearfix"></div>
<br /><br />
<script type="text/javascript">
$(document).ready(function(){
    
    var is_chrome = navigator.userAgent.toLowerCase().indexOf('chrome') > -1;
    var is_firefox = $.browser.mozilla;

    if(is_chrome){
        $("#plugin-button span").text('for Chrome');
        $("#plugin-button").attr('href','/download/focal.crx');
        $('.chrome', $('#favorite-nonie')).removeClass('hide');
    }else{
        /*
        if(is_firefox){
            $("#plugin-button span").text('for Firefox');
            $("#plugin-button").attr('href','/download/focal.xpi');
            $('.mozilla', $('#favorite-nonie')).removeClass('hide');
        }
        else{
            $(".div-plugin-download").hide();
            $("#bookmarklet_link").addClass('plugin-button').html('Install Focal Bookmarklet');
            if( $.browser.msie ){
                $('#favorite-nonie').hide();
                $('#favorite-ie').show();
            }
            else {
                if( $.browser.webkit ){
                    $('.safari', $('#favorite-nonie')).removeClass('hide');
                }else{
                    $('.other', $('#favorite-nonie')).removeClass('hide');
                }
            }
        }*/
        $(".div-plugin-download").hide();
        $("#bookmarklet_link").addClass('plugin-button').html('Install Focal Bookmarklet');
        if( $.browser.msie ){
            $('#favorite-nonie').hide();
            $('#favorite-ie').show();
        }
        else {
            if( $.browser.webkit ){
                $('.safari', $('#favorite-nonie')).removeClass('hide');
            }else{
                $('.other', $('#favorite-nonie')).removeClass('hide');
            }
        }
    }
});
</script>
{% endblock %}


