{% extends "base.html" %}
{% block css %}
    <!-- <link rel="stylesheet" href="/site_media/stylesheet/css/setting.css" />	 -->
{%endblock%}
{% block content %}

{% include "settings/sidebar.html" with tab="import_export" %}


<div class="settingContent">
	
	<div class="settingContainer">
		{% if mesg %}
			<div class="response_message">{{mesg}}</div>
		{% endif %}
		<h2>Save Bookmarks</h2>
		<hr />
		<form action="/bulk_import/" class="full_form" method="post">
		<p>To save links in bulk, Please enter a list of site addresses, one per line:</p>
		<br />
		<p><textarea name="links" class='textarea' ></textarea></p>
		<br />
		<!--<label for="pass2">Save In : </label>
		<select name='activity' class='select_option'>
			{%for i in user.activities%}<option value="{{i.id}}">{{i.activityname}}</option>{%endfor%}
		</select>-->
		<p><em>* Links will be saved in you <b>Personal</b> Context</em></p>
		<br />
		<label for="pass1"></label>
		<input class="button" value="Save Bookmarks" type="submit" />
		<div class='clearfix'></div>
		</form>

		<br /><br />
		<h2>Import Bookmarks</h2>
		<hr />
		<p>You can upload all your bookmarks from your browser or other online bookmarking service, such as delicious, pinboard, historio.us etc. 
Export the bookmarks (in a .html format) and upload the file below, we will scan it for links and save them in focal.</p>
		<br />
		<form action="/import_from_file/" method="post" class="full_form" enctype="multipart/form-data">
			
			<label class="full_width">Select file from your computer <input type="file" name="bookmarks" value="Upload Bookmarks" /> </label>
			
			<br /><br />
			<p><em>* Links will be saved in you <b>Personal</b> Context</em></p>
			<br />
			<!--<label for="pass2">Save In : </label>
			<select name='activity' class='select_option'>
				{%for i in user.activities%}<option value="{{i.id}}">{{i.activityname}}</option>{%endfor%}
			</select>-->
			<label for="pass1"></label>
			<input class="button" value="Upload Bookmark" type="submit" />
			<div class='clearfix'></div>
		</form>
		
		
		<br /><br />
		<h2>Export Saved Links</h2>
		<hr />
		<h4>Exporting your saved links is also very easy. Just <a href="/export/">click here</a> to download your saved links.</h4>
		<br /><br />
	</div>
</div>
<div class="clearfix"></div><br /><br />
{% endblock %}
