{% extends "base.html" %}
{% block css %}
    <!-- <link rel="stylesheet" href="/site_media/stylesheet/css/setting.css" />	 -->
{%endblock%}
{% block content %}

{% include "settings/sidebar.html" with tab="notification" %}

<div class="settingContent">
<div class="settingContainer">
    <h2>Notification Settings</h2>
    <hr />
    <form class="full_form" action="." method="post">
    <p>To control which notifications you receive from us, use the checkboxes below. Scroll to the bottom of the page to save your changes.</p>

	<div class="servicesContainer">
		<p>Send a notification at <b>{{user.email}}</b> when someone:</p>
		<br />

		<table id="table_notification" class='table_notification table'>
			<tr class='even'>
				<td>Friend sends you a link</td>
				<td><input type="checkbox" {%if noti_setting_dict.new_link.permission%}checked="true"{%endif%} name="new_link" /></td>
			</tr>
			<tr class='odd'>
				<td>Comments on your link or reply to your comment</td>
				<td><input type="checkbox" {%if noti_setting_dict.new_comment.permission%}checked="true"{%endif%} name="new_comment" /></td>
			</tr>
		</table>
		<br />
		<table class='table hide'>
			<tbody>
				<tr>
					<td><input type="radio" name="summary" value="daily"{%ifequal noti_setting_dict.summary.freq 'daily'%}checked{%endifequal%}/> Daily</td>
					<td><input type="radio" name="summary" value="twice_a_week" {%ifequal noti_setting_dict.summary.freq 'twice_a_week'%}checked{%endifequal%}/> Twice a Week</td>
					<td><input type="radio" name="summary" value="weekly" {%ifequal noti_setting_dict.summary.freq 'weekly'%}checked{%endifequal%}/> Weekly</td>
					<td><input type="radio" name="summary" value="no_summary" {%ifequal noti_setting_dict.summary.freq 'no_summary'%}checked{%endifequal%}/> No Digest</td>
				</tr>
			</tbody>
		</table>
		<br />
		<br />
		<input class="button " value="Save Changes" type="submit" />
		</form>
	</div>
</div>
</div>
<div class="clearfix"></div>
<br /><br />
{% endblock %}


