<div class="settingSideBar">
	<!-- <h4 class="context">Account Settings</h4> -->
	<ul>
		{% ifequal tab "user" %}
			<li class="selected">Account Settings</li>
		{% else %}
			<li><a href="{% url user_settings %}">Account Settings</a></li>
		{% endifequal %}
		
		{% ifequal tab "tools" %}
			<li class="selected">Browser Plugins</li>
		{% else %}
			<li><a href="{% url browser_plugins %}">Browser Plugins</a></li>
		{% endifequal %}
		
		{% ifequal tab "service" %}
			<li class="selected">Synced Services</li>
		{% else %}
			<li><a href="{% url service_settings %}">Synced Services</a></li>
		{% endifequal %}
		
		{% ifequal tab "notification" %}
			<li class="selected">Notification Settings</li>
		{% else %}
	    	<li><a href="{% url notification_settings %}">Notification Settings</a></li>
	    {% endifequal %}
		
		{% ifequal tab "import_export" %}
			<li class="selected">Bookmarks Import / Export</li>
		{% else %}
	    	<li><a href="/import_export/">Bookmarks Import / Export</a></li>
	    {% endifequal %}
	    
	</ul>
</div>