{% extends "base.html" %}
{% block css %}
    <!-- <link rel="stylesheet" href="/site_media/stylesheet/css/setting.css" />	 -->
{%endblock%}


{% block content %}

{% include "settings/sidebar.html" with tab="user" %}


<div class="settingContent">
	<div class="settingContainer">
		<h2>Name</h2>
	    <hr />
		<p>This name appears on focal with all your posts, make sure you choose you real names so people who know you 
can identify you easily</p><br />
	    <form action="/change_name/" method="post" class="full_form">
	        <label for="nickname">Name : </label>
	        <input type="text" class="inputtext" name="first_name" id="last_name" value="{{user.first_name}}" placeholder="First Name" />
	        <input type="text" class="inputtext" name="last_name" id="first_name" value="{{user.last_name}}" placeholder="Last Name" />
	        <br /><br />
	        <label for="nickname">&nbsp;</label>
	        <input class="button" value="Change" type="submit" />
	    </form>
		<br /><br />
		
		<h2>Change NickName</h2>
	    <hr />
		<p>Username is like a signature across all your posts on focal. Make sure it's something which people get easily 
(maybe with a lil effort :) )</p><br />
	    <form action="/change_nickname/" method="post" class="full_form">
	        <label for="nickname">Nick Name : </label>
	        <input type="text" class="inputtext" name="nickname" id="nickname" value="{{user.nickname}}" />
	        <br /><br />
	        <label for="nickname">&nbsp;</label>
	        <input class="button" value="Change" type="submit" />
	    </form>
		<br /><br />

		<h2>Change Password</h2>
		<hr />
		<p>To change your current password, please enter your new password below.</p><br />
		<form action="/change_password/" method="post" class="full_form">
	        <label for="pass1">Password : </label>
	        <input type="password" class="inputtext" name="pass1" id="pass1" />
	        <br /><br />
	        <label for="pass2">Confirm Password : </label>
	        <input type="password" class="inputtext" name="pass2" id="pass2" />
	        <br /><br />
	        <label for="pass1">&nbsp;</label>
	        <input class="button" value="Change" type="submit" />
	    </form>

		<br /><br />
		
		
	
	</div>
</div>

{% endblock %}