<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <script type="text/javascript" src="js/underscore.js"></script>
    <script type="text/javascript" src="js/jquery-1.6.3.min.js"></script>
    <script type="text/javascript" src="js/jQuery-position-helper.js"></script>
    <script type="text/javascript" src="js/backbone.js"></script>
    <script type="text/javascript" src="js/underscore.js"></script>
    <script type="text/javascript" src="js/popup.js"></script>
    <script type="text/javascript" src="autoSuggest/jquery.autoSuggest.js"></script>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="autoSuggest/autoSuggest.css" />
</head>
<body>
	<div id="container">
	<div id="inner-container" class="hide">
		<div id="head" class="clearfix">
			<a href="#" id="a_favorite" class="icon inactive">Personal Collection</a>
			<h1>Some Title</h1>
			<!-- <a href="#" class="icon settings">Settings</a> -->
		</div>
		<div id="tags" class="clearfix">
			<a href="#" id="a_edit_tags" class="icon tag">Tag</a>
			<div id="edit_tags"><input type="text" class="loading" readonly="true" id="input_tag" /></div>
			<div id="view_tags"></div>
			
		</div>
		<div id="contexts" class="clearfix">
			<div id="searchBox">
				<!-- <span class='title'>Search Contexts</span> -->
				<input type="text" id="input_context" placeholder="Enter Context Here" />
			</div>
			<ul class="context clearfix" id="context-list">
				
			</ul>
			<div id="no-context-filtered" style="display:none;">No Context Found</div>
		</div>
		<div id="no-context">
			Looks like you haven't created any context yet. You can create context <a href="http://www.focal.io/" target="_blank">here</a> and start saving links in those contexts.
		</div>
	</div>
	<div id="status">
		
	</div>
	</div>
	<div id="login">
		You are currently logged out please login at <a href="http://www.focal.io/" target="_blank">focal.io</a>.
	</div>
	
	<script type="text/template" id="context-template">
	<% if (added) { %>
		<span class="indicator">&nbsp;</span>
		<span class="subtext">from:<em><%= by %></em></span>
		<h3><%= name %></h3>
	<% }else{ %>
		<span class="subtext">by:<em><%= members %></em></span>
		<h3><%= name %></h3>
	<% } %>
	</script>
</body>
</html>
    
    