{% extends "base.html" %}
{% block title %}About : {% endblock %}

{% block content %}
<div class="about">
	<div class="notice">For help you can write to : <a href="mailto:help@focal.io">help@focal.io</a></div>

	<h2>About</h2>
	<h3>Focal</h3>
	<p>Focal  is  a  simple  way  to  share  and  curate  links  within  groups.  It  lets  you  create  groups  around 
	contexts and share links within those contexts. Not only is it great for sharing within groups but it also 
	lets you keep all your links -bookmarks, fav.’s, shared across – browsers, twitter, delicious  etc. at one 
	place.</p>

	<h3>Contexts</h3>
	<p>Contexts  are  groups  with  shared  interests.  Create  a  context  and  invites  other  users  to  join.Create 
	contexts  of  your  life  that  are  shared  with  others.  Think  Project,  Movies,  Reading,  Travel,  Music,
	Hobbies, Learning etc. Things that are more fun when shared. Discover and share curated links within
	these contexts.</p>

	<h3>Focal Plugin</h3>
	<p>Focal  plugins  are  a  nice way  to  bookmark  links  or  share within  contexts.  It’s  a  very  simple  tool  and
	works like a charm. All your contexts appear in the plugin, couple of clicks and you’re done whatever it 
	is that you want to do. Focal Plugins are available for all major browsers.</p>
	<p class="text-center">
		<img src="/site_media/img/plugin-screen.png" alt="">
	</p>

	<h3>Import/Export bookmarks</h3>
	<p>Focal  lets  you  keep  all  your  links  organized  – bookmarks,  favorites,  archived  across  -browsers, 
	twitter,delicious, pinboard, historious etc. You can import your bookmarks from these services to focal.
	You can import the links along with tags, folder names etc..Focal will organize and index them for you.
	Searching  and  browsing  through  those  links  is  really  simple.All  these  links  will  go  to  your  personal
	context.</p>
</div>
{% endblock %}