{% extends "base.html" %}

{%load get_domain%}

{% block title %}Your Activity Settings : {% endblock %}

{% block content %}
    <div class="leftSidebar">
        <h4 class="blue">Contexts <a href="#" class="add_context" title="Create new Context">Add New Context</a></h4>        
    </div>    
    <div class="rightContent">
        
        <h2>Your Bookmarks</h2> 
        {%for act in all_user_activity%}
            <div class="entry"> 
                <h3 class="title">
                    {% if act.activityname == "Share on Twitter" %}
                      {% if actuser.twitter_access_token %}
                        {{act.activityname}}<a href="?activityname={{act.activityname}}"><em> {{actuser.twitter_access_token }}</em></a>
                      {% else %}
                        {{act.activityname}}<a href="?activityname={{act.activityname}}"> <em> set your twitter account</em></a>
                      {% endif %}
                    {% else %} {% if act.activityname == "Share on Facebook" %}
                      {% if actuser.facebook_access_token %}
                        {{act.activityname}}<a href="https://graph.facebook.com/oauth/authorize?client_id=146906412044571&redirect_uri=http://www.focal.io/auth/facebook/?scope=offline_access,publish_stream"><em> {{actuser.facebook_access_token }}</em></a>
                        <!--{{act.activityname}}<a href="?activityname={{act.activityname}}"><em> {{actuser.facebook_access_token }}</em></a>-->
                      {% else %}
                        {{act.activityname}}<a href="https://graph.facebook.com/oauth/authorize?client_id=146906412044571&redirect_uri=http://www.focal.io/auth/facebook/?scope=offline_access"><em> set your facebook account</em></a>
                      {% endif %}
                    {% else %}
                      {{act.activityname}}<a href="/activity/{{act.id}}/"><em> setting</em></a>
                    {% endif %}{% endif %}
                </h3>
            </div> 
        {%endfor%}
    </div>
{% endblock %}
