{% extends "home_base.html" %}

{% block content %}
<div class="center_content center_box">
	<h2>Thanks for Signing Up</h2>
        <h4>To use this website you need to activate the account by clicking on the verfication link received in email.</h4>
        
        
		{% if message %}
		<div class="error">{{message}}</div>
		{%endif%}
        <form method="POST">{% csrf_token %}
            <label for="email_id_1">Email : </label>
            {%if user.id%}
                <input name="email" class="input_box" type="text" id="email_id_1" placeholder="Email" value={{user.email}} />
            {%else%}
                <input name="email" class="input_box" type="text" id="email_id_1" placeholder="Email" />
            {%endif%}
            
            <input class="button" type="submit" name="button" value="Resend E-mail" /> 
        </form>

    </div>
</div>
{% endblock %}