{%load get_friends%}
{%load has_invitation_sent%}
<h2 class="headSmall hide"></h2>
<h2 class="headBig">
	{{activity.activityname}}
</h2>
<ul class="subLinks">
	<li><a href="#/context/{{activity.get_activity_key}}">Links</a></li>
	<li>Members</li>
	{# <li><a href="#">Members</a></li> #}
</ul>

<div id="entry_container">
<div class="activity_info">
	<!-- <span class="width150">Creation Date : </span> {{activity.created_on}} <br />
    <span class="width150">Created By : </span> {{activity.created_by.nickname}} <br />
    <span class="width150">Total Links : </span> {{activity_link|length}} <br /> -->
    <h4 class="impact">Members</h4>
    {%for u in activity_member%}
        <a href="#/user/{{u.get_user_key}}">{{u.nickname}}</a>{%if not forloop.last%}, {%endif%}
    {%endfor%}
    <br />
	{%if not activity.private%}
        {%ifequal activity.created_by user%}
        <h4 class="impact">Invite Friends</h4>

        <h5 class="subHeadText" id="invite_friend_head">Invite Users already connected with you on Focal</h5>
        <ul id="invite_friend_list">
            {% friends of user%}
            {% for u, count in friends %}
                {% if u not in activity_member %}
                {% ifnotequal u.email 'help@focal.io' %}
                    {%has_invitation_sent to u for activity%}
                    <li>
                        <span class="user">{{u.nickname}}</span> 
                        {% if not invitation_sent %}
                        <em>
                            <a class="link_invite_friends" href="#" user_key="{{u.get_user_key}}" context_key="{{activity.get_activity_key}}">Invite</a>
                        </em>
                        {% else %}
                        <em>
                            <span class="to-delete"><img src="/site_media/img/1303821038_OK.png" /> Invitation Sent &nbsp; &nbsp; </span>
                            <a class="link_invite_friends" href="#" user_key="{{u.get_user_key}}" context_key="{{activity.get_activity_key}}">Resend Invitation</a>
                        </em>
                        {% endif %}
                    </li>
                {% endifnotequal %}
                {% endif %}
            {% endfor %}
        </ul>
        <script type="text/javascript">
            if($("#invite_friend_list li").length == 0){
                $("#invite_friend_list").hide();
                $("#invite_friend_head").hide();
            }
        </script>
        <h5 class="subHeadText">Invite Users who are not members of Focal</h5>
        <div class="gray_bg">
            Just send this following <b>referal link</b> to your friend. <br />
            <input id="txt_link" readonly="readonly" onclick="this.focus();this.select();return false;" style="margin-top:5px;font-size:14px;width:75%;" type='text' value="{{activity.get_referal_url}}" />
            <input onclick="$('#txt_link').focus();$('#txt_link').select();" type="button" class="button" value="Select Link" />
        </div>
        {%endifequal%}
   {%else%}
		
   {%endif%}      
</div>
</div>
<script type="text/javascript">
    $('.link_invite_friends').click(function(e){
        e.preventDefault();e.stopPropagation();
        $('<img />',{
            'src':'/site_media/img/small-load.gif',
            'style':"margin-left:5px;vertical-align:middle"
        }).appendTo($(this).parent());
        var link = $(this);
        $('.to-delete',link.parent()).remove();
        $.ajax({
            'url':'/act_frnd_invite/',
            'type':'POST',
            'data':'activity_key='+link.attr('context_key')+'&friend_key='+link.attr('user_key'),
            success: function( data ) {
                link.html('Resend Invitation')
                $('img', link.parent()).remove();
                $('<span />',{
                    'class':'to-delete',
                    'html':'<img src="/site_media/img/1303821038_OK.png" /> Invitation Sent &nbsp; &nbsp; '
                }).prependTo(link.parent());
            }
        })
        
    });
</script>
