{% extends "base.html" %}

{%load get_domain%}
{%load get_friends%}

{% block content %}
<div class="homeSideBar">
	<h4 class="context">
        <a data-controls-modal="new_activity_form_ajax" data-backdrop="true" data-keyboard="true" href="/create/" class="new" title="Create new Context">New</a>
        Contexts
    </h4>
    <ul>
        {% for act in user.activities %}
    	<li {% if act.get_activity_key in selected_activity %}class="selected"{% endif %}>
			<a href="#/context/{{act.get_activity_key}}">{{act.activityname}}</a>
			<em>{{act.link_count}}</em>
		</li>
        {% endfor %}
    </ul>
	
    
    <h4 class="friends">Friends<!-- <a href="#" class="add_friend" title="Create new Context">Add New Context</a>--></h4>
    {% friends of user%}
    <ul>
        {% for u, count in friends %}
    	<li><a href="#/user/{{u.get_user_key}}">{{u.nickname}}</a><em>{{count}}</em></li>
        {% endfor %}
		{% if not friends %}
		<li>No Friends</li>
		{% endif %}
    </ul>
</div>
<div class="homeContent">
	{% include "activity_home_ajax.html" %}
</div>
<div class="clearfix"></div>

<!--
<h2>Manage Channels</h2>
<br />
<div class="left250">
	<ul class="manageChannel">
	{% for a in user.activities %}
	{% ifequal a activity %}
	<li class="selected">{{a.activityname}} ({{a.link_count}})</li>
	{% else %}
	<li><a href="/activity/{{a.get_activity_key}}">{{a.activityname}} ({{a.link_count}})</a></li>
	{% endifequal %}
	{% endfor %}
	</ul>
	<a id="addLink" href="#">Add New Channel</a></p>
</div>
<div class="right250">
    <h3 class="impact">{{activity.activityname}}</h3>
    <span class="width150">Creation Date : </span> {{activity.created_on}} <br />
    <span class="width150">Created By : </span> {{activity.created_by.nickname}} <br />
    <span class="width150">Total Links : </span> {{activity_link|length}} <br />
    
    <h4 class="impact">Invite Members</h4>
    <span class="width150">Members : </span> {%for u in activity_member%}
            {{u.nickname}}{%if not forloop.last%}, {%endif%}
        {%endfor%} <br />
        {%if not activity.private%}
        {%ifequal activity.created_by user%}
        <div class="gray_bg">
        You can Invite more Friends to contribute in <em>{{activity.activityname}}</em> Channel, Just send this following <b>referal link</b> to your friend. <br />
            <input id="txt_link" readonly="readonly" onclick="this.focus();this.select();return false;" style="font-size:14px;width:75%;" type='text' value="{{activity.get_referal_url}}" />
            <input onclick="$('txt_link').focus();$('txt_link').select();" type="button" class="button" value="Select Link" />
        </div>
        {%endifequal%}
        {%endif%}   

    <h4 class="impact">Recent Links in <em><a href="/?activity={{activity.get_activity_key}}">{{activity.activityname}}</a></em></h4>
        <ul>
        {%for l in activity_link|slice:":5" %}
        {%domain for l.link%}
            <li class="title">
                    {%if l.favicon%}<img class='favi' src="{{l.favicon}}" /> {%endif%}
                    <a rel="{{l.id}}" class="bookmark" href="{{l.link}}">{{l.title}}</a> <em>(<span class="domain">{{domain}}</span>)</em></li>
        {%endfor%}
        {% if not activity_link %}
        <li>No link found in this Channel</li>
        {% endif %}
        </ul>
</div>
<div class="clearfix"></div>
<br /><br />-->
{% endblock %}

