{%load typogrify%}
{%load get_friends%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>{%block title%}{%endblock%} Focal.io</title>
    
    <link rel="shortcut icon" href="/site_media/img/fevicon.ico"/>
    
    <link rel="stylesheet" href="/site_media/stylesheet/css/style.css" /> 
    <!-- <link rel="stylesheet" href="/site_media/css/lightbox.css" /> -->
    <!--<link rel="stylesheet" href="/site_media/css/shadow.css" /> 
    <link rel="stylesheet" href="/site_media/css/button.css" /> 
	<link rel="stylesheet" href="/site_media/css/forms.css"/>
	-->
	<!--
    <link href='http://fonts.googleapis.com/css?family=Cabin:regular,bold' rel='stylesheet' type='text/css'>

    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold' rel='stylesheet' type='text/css'>
	-->
    {% block css %}{%endblock%}

	<!--[if !IE 7]>
		<style type="text/css">
			#wrap {display:table;height:100%}
		</style>
	<![endif]-->
	
	<!--
	<script src="/site_media/jQuery/mootools-core-1.4.0-class.js" type="text/javascript"></script>
	<script src="/site_media/jQuery/jquery-1.7.1.min.js" type="text/javascript"></script>
	<script src="/site_media/jQuery/jquery-ui-1.8.16.custom.min.js" type="text/javascript"></script>
	
	<script src="/site_media/jQuery/underscore-min.js" type="text/javascript"></script>
	<script src="/site_media/jQuery/backbone-min.js" type="text/javascript"></script>
	-->
	<script src="/site_media/jQuery/dependency.js" type="text/javascript"></script>
	<script src="/site_media/autosuggest/search-box-0.1-min.js" type="text/javascript"></script>

	<link rel="stylesheet" href="/site_media/autosuggest/auto-facetsearch.css" />
	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28973134-1']);
  _gaq.push(['_setDomainName', 'focal.io']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<div id="wrap">
	<div id="header">
		<div class="container">
			
			<h1>
				<a id="headerLogo" class="feed-link push" href="#" name="headerLogo">Focal.io</a>
				<a href="#" id="beta">b e t a</a>
			</h1>
			<div class="twitter-link">
				<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.focal.io" data-text="Woot this !! Have been playing around with Focal : Link sharing and curation for groups" data-via="focal_io">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
{%if user.id%}

			<div class="visual_search"><input type="text" class="hide loading" id="searchBox" /></div>
<script type="text/javascript" charset="utf-8">
  var tags;
  function refreshTags() {
  	$.getJSON('/get_tags/', function(data){
  	    tags=data;
  	  });
  }
  {% friends of user%}
  var facetSearch;
  $(document).ready(function() {
    	refreshTags();
        facetSearch = FacetSearch.init({
        	  query		 : '',
			  facet		 : '{%if selected_activity%}context:{% for act in user.activities %}{% if act in selected_activity %}{{act.activityname|replaceComma}}{%endif%}{%endfor%}{%endif%}'+
			  			   '{%if selected_users%}from:{% for u, count in friends %}{% if u in selected_users %}{{u.nickname|replaceComma}}{%endif%}{%endfor%}{%endif%}',
              container  : $('#searchBox'),
              callbacks  : {
                focus  : function () {
                	//$('.width2').addClass('smallIcons',100);
                	//$('div.visual_search').addClass('bigger',150);
                },
                removeFocus	: function(){
                	//$('.width2').removeClass('smallIcons',150);
                 	//$('div.visual_search').removeClass('bigger',100);
                },
                search : function(query, facets) {
                  if(query!='' || facets != ''){
                  	if(window.location.pathname == Backbone.history.options.root)
                  		home_router.navigate("/search/"+query+"/filter/"+facets, true);
                  	else
                  		window.location = "/#"+"/search/"+query+"/filter/"+facets;
                  }
	              //    window.location = '/search/?q=' + query + '&filter=' + facets;
                //  console.log(query);
                },
                valueMatches : function(searchTerm, callback) {
                  callback({
                    
                  	'from':[
                  		{% for u, count in friends %}
                  	  	'{{u.nickname}}'{% if not forloop.last %},{%endif%}
                  	 	{%endfor%}
                  	 	],
                  	'context':[
                  		{% for context in user.activities %}
                  	  	'{{context.activityname}}'{% if not forloop.last %},{%endif%}
                  	 	{%endfor%}
                  	 	],
                  	'tag':tags
                  });    
                }
              }
            });
         });
</script>
			<div style="float:right">
			<a href="#" id="addLink" rel="div_new_link" class="width2" data-controls-modal="div_new_link" data-backdrop="true" data-keyboard="true">
				
			</a>
			{% comment %}
			<!--<span id="userPic" class="width2">
				<img src="/site_media/img/business.png" />
				
			</span>-->
			<div class="header_link" id="notification_count" rel="notification">
				<span>0</span>
			</div>
			{% endcomment %}
			<div class="header_link width2" id="divTools" rel="header_links">
				<a href="/settings/">
					<!-- <img src="/site_media/img/business.png" /> -->
					{{ user.nickname }}
				</a>
			</div>
			</div>
			
			<div id="header_links" class='hide header_popup'>
				<h5>{{user.first_name}} {{user.last_name}}</h5>
				<a class="sublink" href="/logout/">Logout</a>
				<ul>
					<li><a href="/user_settings/">Account Settings</a></li>
					<li><a href="/browser_plugins/">Browser Plugins</a></li>
					<!-- <li><a href="/settings/">Synced Services</a></li> -->
					<li><a href="/notification_settings/">Notification Settings</a></li>
					<li><a href="/import_export/">Import / Export</a></li>

				</ul>
				<ul><li><a href="/about/">About</a></li></ul>
			</div>

			{% comment %}
			<div id="notification" class="hide header_popup">
				<iframe id="notification_frame" scrolling="no" class="notification_frame" frameborder="0" src="/site_notification/"></iframe>
			</div>
			{% endcomment  %}

{%endif%}

		  <!--{% if user.id %}
		  
		  {%load get_friends%}

		  
		  <ul class="nav">
			<li class="li_head">
				<a class="head_icon comments" href="/createactivity/">Comments</a>
				<ul class="subhead">
					<li class="heading">Comments</li>
					{% if not comments %}<li>No Comments!</li>{%endif%}
				</ul>
			</li>
			<li class="li_head">
				<a class="head_icon contexts" href="/activity_setting/">Contexts</a>
				<ul class="subhead">
					<li class="heading">Edit Contexts</li>
					{%for i in user.activities%}<li><a class="clickable" href="/activity/{{i.get_activity_key}}/">{{i.activityname}}</a></li> {%endfor%}</ul>
			</li> 
			<li class="li_head">
				<a class="head_icon friends" href="/friends/">Friends</a>
				<ul class="subhead">
					<li class="heading">Friends</li>
					{% for i in friends %} <li><a class="clickable" href="#">{{i.nickname}}</a></li> {%endfor%}
					{% if not friends %}<li>No Friends! Invite friends to join your activity streams.</li>{%endif%}
				</ul>
			</li> 
			<li class="li_head">
				<a class="head_icon settings" href="/settings/">Settings</a>
				<ul class="subhead">
					<li class="heading">Settings</li>
					<li><a class="clickable" href="/settings/">Account Settings</a></li>
					<li><a class="clickable" href="/notification_settings/">Notification Settings</a></li>
					<li><a class="clickable" href="/import_export/">Import / Export</a></li>
				</ul>
			</li>
			<li>
				<form action='/search/' method="get">
				<input type='text' name='q' class='searchBox' placeholder='Search Bookmarks' value='{{q}}' />
				<input type="submit" style="display:none" />
				</form>
			</li>
		  </ul>
	  {% else %}
		  {% block head_nav %}
		  {% endblock %}
	  {%endif%} -->
		
		</div>
		
	</div>
	<div id="load_links">Loading</div>
	<div id="main" class="container">
		{%block content%} {%endblock%}
	</div>
	
	
	<div class="hide modal fade" id="div_new_link">
    <form method="POST" action="/sharealink/" onsubmit="return add_new_link(this)">
        <div class="modal-header">
        	<a href="#" class="close">&times;</a>
            <h3>Add New Link</h3>
        </div>
        <div class="modal-body">
            <span class="link" style='display:none'></span>
            <h3 style="margin-bottom:5px">Link of the webpage</h3>
            <input type="text" class="txt_link" style='width:95%' name="link" /><br /><br />
            <div class="clearfix"></div>
            <div class="message hide"></div>
        </div>
        <div class="modal-footer">
            <img src="/site_media/img/load.gif" alt="" class="hide loader" />
            <input class="button mtl action" type="submit" name="submit" value="Next" />
            <div class="clearfix"></div>
        </div>
    </form>
    </div>
	
	<div class="modal hide fade link-modal" id="div_edit_context">
		<a href="javascript:void(0);" onclick="$('#div_edit_context').modal('hide');"><img src="/site_media/img/close.png" class="close-img" alt="" /></a>
        <div class="linkPopupBox">
        	<img id="Focalify_loader" src='/site_media/img/22.gif' style="margin:20px auto" />
			<iframe frameborder=0 style="border:0px;visibility:hidden;" onload="this.contentWindow.focus();document.getElementById('Focalify_loader').style.display='none';this.style.visibility='visible'" width="100%" height="100%"></iframe>
		</div>
    </div>

    <div class="modal hide fade comment-modal" id="div_link_page">
    	<a href="javascript:void(0);" onclick="$('#div_link_page').modal('hide');"><img src="/site_media/img/close.png" class="close-img" alt="" /></a>
    	<div class="entry">
    		<div class="popup-head">
	    		<h3></h3>
	    		<h5 class="tags"></h5>
	    		<div class="loader"><img src="/site_media/img/22.gif" alt="" /></div>
	    	</div>
    		<div class="comments_container">
    			
    		</div>
    	</div>
    </div>

	<div id="new_activity_form_ajax" class="hide modal fade">
	    <form method="POST" action="/create/" onsubmit="return submit_form(this)" modal="new_activity_form_ajax">
	        {% csrf_token %}
	        <div class="modal-header">
	        	<a href="#" class="close">&times;</a>
	            <h3>Create New Context</h3>
	        </div>
	        <div class="modal-body">
	            <label>Name : </label>
	            <input name="activity" type="text" />
	            <div class="help_text">Enter the name of the Context to Create</div>
	            
	            <p><br />Contexts  are  groups  with  shared  interests.  Create  a  context  and  invites  other  users  to  join.Create 
contexts  of  your  life  that  are  shared  with  others. Things that are more fun when shared. Discover and share curated links within
these contexts.</p>
	            <div class="message hide"></div>
	        </div>
	        <div class="modal-footer">
	            <img src="/site_media/img/load.gif" alt="" class="hide loader" />
	            <input class="button mtl action" type="submit" name="submit" value="Submit" />
	            <div class="clearfix"></div>
	        </div>
	    </form>
	</div>

	
	
</div>
<div id="footer">
	<div class="heart_container">
	Crafted with <span class="heart">&hearts;</span>  by <a href="http://23spaces.com">23</a>
	</div>
</div>

	<script type="text/javascript" src="/site_media/jQuery/entry_handler.js"></script>
	<script type="text/javascript" src="/site_media/jQuery/ScrollLoader.js"></script>
    <script type="text/javascript" src="/site_media/jQuery/MoogPlus.js"></script>
	<script type="text/javascript" src="/site_media/jQuery/user_home.js"></script>
	
<!--<script type="text/javascript" src="/site_media/jQuery/modal.js"></script>-->
<script type="text/javascript" src="/site_media/bootstrap/js/bootstrap-modal.js"></script>
<!-- <script type="text/javascript" src="/site_media/bootstrap/js/bootstrap-popover.js"></script> -->
<!-- <script type="text/javascript" src="/site_media/bootstrap/js/bootstrap-twipsy.js"></script> -->
<script type="text/javascript" src="/site_media/jQuery/base.js"></script>
<!--<script type="text/javascript" src="/site_media/js/mootools.js"></script>
<script type="text/javascript" src="/site_media/js/mootools-more.js"></script>
<script type="text/javascript" src="/site_media/js/modal.js"></script>
<script type="text/javascript" src="/site_media/js/facetip.js"></script>
<script type="text/javascript" src="/site_media/js/base.js"></script>

<script type="text/javascript">
    
	
    $$('li.li_head').addEvent('click',function(e){
        e.stop();
        $$('li.li_head').removeClass('active');
        this.addClass('active');
        $(document).addEvent('click',function(e){
            $$('li.li_head').removeClass('active');
            this.removeEvent('click');
        });
        this.addEvent('click',function(e){
            if(e.target.hasClass('clickable'))
                window.location = e.target.get('href');
            else
                e.stop();
        });
    })
</script>-->
<script type="text/javascript">
	var currentPage = 1;
	var hasNext = {{ page.has_next|yesno:"true,false" }};
	//$("#div_edit_context").modal({'backdrop':true,'keyboard':true,'show':false});
</script>

{% block js %}
{% endblock %}
<script type="text/javascript" charset="utf-8">
  var is_ssl = ("https:" == document.location.protocol);
  var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript" charset="utf-8">
  var feedback_widget_options = {};

  feedback_widget_options.display = "overlay";  
  feedback_widget_options.company = "focal";
  feedback_widget_options.placement = "left";
  feedback_widget_options.color = "#222";
  feedback_widget_options.style = "idea";
  
  
  
  
  
  
  

  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
</script>
</body>
</html>
