{% extends "base.html" %}

{% block content %}
<div class='left60'>
  <form method="POST"> {% csrf_token %}

    <h2>Create an Activity</h2> 
    <label for="activity">Activity Name</label> <input type="text" id="activity" name="activity" value="" />
    {% if error %}
        <br /><div class="message">{{error}}</div>
    {% endif %}
    <br /><br />
    <input class='button big gray' type="submit" value="Create Activity" />

  </form> 
</div>
<div class='right40'>
  <h3>Other Activities</h3>
  <ul>
  {%for i in user.activities%}<li><a href="/activity/{{i.get_activity_key}}/">{{i.activityname}}</a> ({{ i.activitylink_set.values|length }} bookmarks)</li> {%endfor%}    
  </ul>
</div>
<div class="clearfix"></div>
{% endblock %}
