{% load typogrify %}
<div id="popup-comments">
{% for comment in comments %}
	<div class="comment level-{{comment.level}}">
		<div class="comment_body">
			<p>
				{{comment.text|force_escape|typogrify|linebreaks}}
			</p>
			<div class="comment-subtext">
					Posted by, <em>{{comment.by}}</em>, 
					<span class="subtext">{{comment.date}}</span> ago |  
					<a href="#" class="a_show_form" rel="frm-popup-comment-{{comment.id}}">Reply</a>
			</div>
			<form id="frm-popup-comment-{{comment.id}}" action="/postcomment/" method="post" class="hide">
				{%csrf_token%}
				<input type="hidden" value="{{comment.id}}" name="parent" />
				<input type="hidden" name="url" value="{{link.link}}" />
				<input type="hidden" name="contexts" value="{%for c in comment.activities%}{{c.0}}{%if not forloop.last%},{%endif%}{%endfor%}" />
				<textarea class="comment-textarea" name="comment"></textarea> <br />
				<input type="submit" value="Post Comment" class="submit button secondary" />
				<img src="/site_media/img/spinner.gif" class="loader hide">
			</form>
		</div>
	</div>
{% endfor %}
</div>
<form action="/postcomment/" class="popup-form" method="post" id="frm-popup-new-comment-{{l.id}}" >
	{%csrf_token%}
	<input type="hidden" value="" name="parent" />
	<input type="hidden" name="url" value="{{link.link}}" id="id_url">
	<textarea class="comment-textarea" name="comment"></textarea> <br />
	<div class="context_select">
		<span>Post Under</span>
		<button type="button" class="more_context button secondary up" tabindex=4>Context &#9660;</button>
		<ul class="ul_dropdown popup hide" rel="context">
			<li class="popupli selected" rel="{{all}}">All</li>
			{% for al in actlink%}
				<li class="popupli selected" rel="{{al.activity.id}}">{{al.activity.activityname}}</li>
			{% endfor %}
		</ul>
	</div><input type="submit" value="Post Comment" class="submit button secondary" />
	<img src="/site_media/img/spinner.gif" class="loader hide">
</form>