{% extends "base.html" %}

{% block content %}
{{all_comment|length}}
    <h4 class="subhead"><a href="/">Home</a> &raquo; {% for act in actlink %}<a href="#">{{act.activity.activityname}}</a>{%if not forloop.last%}, {%endif%}{%endfor%}</h4>
    
    <!--<div class="sidebar rightContentDiv">
        <h4 class="blue">Contexts ( {{actlink|length}} of {{activities|length}} )</h4>
        <ul id="streamList">
            {%for a in actlink%}
                <li><a  class="selected" href="#">{{a.activity.activityname}}</a> <em>{{a.submited_by.nickname}}</em></li>
            {% endfor %}
            {% for a in activities %}
                {%if a not in link_activites %}
                    <li><a href="#">{{a.activityname}}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>-->
    
    <div class="leftContent">
        <h2 class="pageTitle">{%if link.favicon%}<img class='favi' src="{{link.favicon}}" /> {%endif%}{{link.title}}</h2> 
        <a href="{{link.link}}" target="_blank" class="external">{{link.link}}</a>
        <div class="subtext"> 
            {%for a in actlink%}
              <a href="#">{{a.submited_by.nickname}}</a>{%if not forloop.last%}, {%endif%}
            {%endfor%}
            under 
            {%for a in actlink%}
              <a href="?activity={{a.activity.activityname}}">{{a.activity.activityname}}</a>{%if not forloop.last%}, {%endif%}
            {%endfor%} <br />
            {{actlink.0.submited_on|timesince}} ago
        </div> <br />
        <h3>Comments (<span id="commentCount"></span>)</h3>  
        <div class="commentContainer hide" id='comment-'>
            
        </div>
        
        <h4>Post New Comment</h4>
        <div class="divReply">
        <form action="/postcomment/" method="POST">
            <input type="hidden" class="parent" />
            <input type="hidden" name="url" value="{{link.link}}" id="id_url" />
            <p><textarea id="id_comment" rows="5" cols="15" name="comment"></textarea> </p>
            <p><b>Posted it Under : </b> <span>All <a class="edit-context" href="javascript:void(0);" onclick="editContext(this);">edit</a></span>
            
            <select class='hide' name="contexts" multiple>  
                {% for al in actlink %}<option selected='selected' value="{{al.activity.id}}">{{al.activity.activityname}}</option>{% endfor %}
            </select>
            </p>
            <input type="submit" class="gray button bigrounded" value="Add comment" id="id_submit" /> 
        </form>
        </div>
    </div>
    
    
    
    <div id="sampleComment" class="hide commentBody">
        <h5><a href="#">Nitin</a></h5>
        <div class="timestamp"><span class="duration">3 Days</span> ago</div>
        <p class="commentText">Comment some random</p>
        
        <div class="divReply">
            <p>Posted Under : <span class="contexts">All</span> | <a class='link-reply' href="#">Reply</a></p>
            
            <form class='hide' action="/postcomment/" method="POST">
                <input type="hidden" class="parent" name="parent" />
                <input type="hidden" name="url" value="{{link.link}}" id="id_url" />
                <p><textarea id="id_comment" rows="5" cols="15" name="comment"></textarea> </p>
                <input type="submit" class="gray button bigrounded" value="Add comment" id="id_submit" /> 
            </form>
        </div>
    </div>
{% endblock %}
{% block js %}
<script type="text/javascript" src="/site_media/js/comments.js"></script>
<script type="text/javascript">
    var comments = {{all_comment|safe}};
</script>
{% endblock %}
<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"> 
<head> 
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" /> 
    <title>Share and Manage Bookmark</title> 
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold' rel='stylesheet' type='text/css'> 
    <link rel="stylesheet" href="/site_media/css/style.css" /> 
    <script src="https://ajax.googleapis.com/ajax/libs/mootools/1.3.0/mootools-yui-compressed.js" type="text/javascript" ></script> 
    <script src="/site_media/js/mootools-more.js" type="text/javascript"></script> 
    <script src="/site_media/js/main.js" type="text/javascript"></script> 
    <script type="text/javascript" src="mootools.js"></script>
    <script>
        function showComments(comments){
            comments.each(function(comment){
                var contextid = '', contextname = '';
                if(comment.activities.length == 1){
                    contextid = comment.activities[0][0];
                    contextname = comment.activities[0][1]; 
                }else{
                    var s = ''
                    for(var i=0; i<comment.activities.length; i++){
                      s = s + comment.activities[i][0];
                    }
                    contextid = 'all:' + comment.activities.join(':');
                    contextname = "All";
                }
                
                var data = {
                    'parent': comment.parent||'',
                    'context':{'id': contextid,'name':contextname},
                    'duration': comment.date,
                    'text': comment.text,
                };
                showComment(data, comment.by, comment.comment_id);
            });
        }

        function showComment(data, user, comment_id){
            if(user){
                var username = user;
            }else{
                var username = "nitin";
            }
            
            var s = '<a href="#"><img class="userPic" src="" /></a><div class="commentRight"><h4></h4><a class="mention" href="#"></a><p></p><div class="timestamp"><a href="#" onclick="$(this).getParent().getNext().toggle()"  class="reply">Reply</a> <span class="duration"></span>, in <a class="activity_name" href="#"></a></div><div class="divReply divCommentBox"><input type="hidden" class="comment_activity" /><textarea class="comment_text reply_comment_text"></textarea><input type="button" class="reply_btn" value="Send" onclick="postComment(this)" /></div></div>';
            var s = '<a href="#"><img class="userPic" src="" /></a><div class="commentRight"> <h4></h4> <a class="mention" href="#"></a> <p></p> <div class="timestamp"><span class="duration"></span>, in <a class="activity_name" href="#"></a>  </div><div class="divReply divCommentBox"> <form id="comment_form" action="/postcomment/" method="POST"><textarea id="id_comment" rows="5" cols="15" name="comment" style="height:40px;width:200px;"></textarea><input type="hidden" name="parent" value="" id="id_parent" class="parent"/><input type="hidden" name="url" value="{{link.link}}" id="id_url" /> <br /> <br /> <select name="contexts" multiple style="height:40px;">{% for al in actlink %}<option value="{{al.activity.id}}">{{al.activity.activityname}}{% endfor %}</select><br /> <br /><input type="submit" class="gray button bigrounded" value="Add comment" id="id_submit" /> </form> </div></div>';

            var div = new Element('div',{
                'class':'commentBody',
                'id':'comment-'+comment_id,
                'html':s
            });
            div.getElement('h4').set('text', username);
            div.getElement('.userPic').set('src','/site_media/img/user.jpg');
            if(data.parent){
                div.getElement('a.mention').set('text','@'+ $('comment-'+data.parent).getElement('h4').get('text'));
                div.getElement('a.mention').set('rel',data.parent);
            }
            div.getElement('.divCommentBox').store('comment-id',comment_id);
            div.getElement('input.parent').set('value', comment_id);
            div.getElement('p').set('text',data.text);
            div.getElement('span.duration').set('text',data.duration?data.duration:'few Seconds ago');
            div.getElement('a.activity_name').set('text',data.context.name);
            if(data.parent){
                div.inject($('comment-'+data.parent), 'after');
                div.setStyle('margin-left', parseInt($('comment-'+data.parent).getStyle('margin-left')) + 50);
            }
            else{
                div.inject($('comment-'), 'bottom');
                div.setStyle('margin-left', 0);
            }
        }

        window.addEvent('domready',function(e){
                                            var req = new Request({
                                                method: 'get',
                                                url: 'http://www.focalify.com/getcomment/',
                                                data: { 'linkid' : {{link.id}} },
                                                onRequest: function() { },
                                                onComplete: function(response) { 
                                                  var comment = JSON.decode(response);
                                                  showComments(comment);
                                                }
                                              }).send();
                                    });
    </script>
</head> 
<body> 
<div id="wrap">
    <div id="top-bar-bg"></div> 
    <div id="header"> 
      <h1><a href="/">Focal</a></h1> 
      <ul class="nav">
        <li><a href="/createactivity/">Create an Activity</a></li>
        <li class='sep'><span></span></li>
        <li><a href="/sharealink/">Share A Webpage</a></li> 
        <li class='sep'><span></span></li> 
        <li>
            <a href="/"><b>Hi {{actuser.nickname}}</b></a> |
            <a href="/logout/"><b>Sign Out</b></a>
        </li>
      </ul>
    </div> 
    <div id="main">         
      <div class="sidebar"> 
        <h3>Other discussion on this link</h3> 
        <ul class='ideas'> 
        </ul>  
      </div> 
    <div class="content"> 
      <div class="entry"> 
        <h2><a href="{{actlink.actlink.link}}">{{link.title}} </a></h2> 
        {%for al in actlink%}
          <div class="subtext" style="margin-bottom:10px">shared by {{al.submited_by.nickname}}. {{al.submited_on|timesince}} ago via {{al.activity.activityname}}</div> 
        {%endfor%}

      </div> 
      <br /><br /> 
     
      <h3>Comments (0)</h3> 
      <div id='comment-'>
      </div>
      <hr>
      <h4>Post a New Comment</h4> 
      <form id='comment_form' action="/postcomment/" method="POST"> {% csrf_token %}
        <textarea id="id_comment" rows="10" cols="40" name="comment"></textarea> 
        <input type="hidden" name="url" value="{{link.link}}" id="id_url" /> <br /> <br /> 

        <select name="contexts" multiple >
          {% for al in actlink %}
            <option value="{{al.activity.id}}">{{al.activity.activityname}}
          {% endfor %}
        </select><br /> <br /> 

        <input type="submit" class="gray button bigrounded" value="Add comment" id="id_submit" /> 
      </form> 
    </div> 
  </div> 
</div> 
<div id="footer"> 
    &copy; 23spaces.com
</div> 
</body> 
</html>-->
