The wait is over! , here's an early invite for the focal beta.<br/><br/>

<a href="{{invite_link}}">{{invite_link}}</a><br/><br/>


Focal is still under beta. Things might be crashing now and then but we have it under control. Go give it a spin ,it'd be great if you could give us some feedback too :) <br/><br/>

we're here to help , write to us if you need help:  help@focal.io<br/><br/>

so long!<br/>
focal team.<br/>
