{% extends "home_base.html" %}

{% block content %}
<div class="white_box center_box">
	<h2 class='text_align bigHeadOverCenterBox'>Forgot Password</h2>
    <p>Enter your email to reset your password</p>
	{%if mesg%}
		<div class="info">{{mesg}}</div>
	{%endif%}
	{%if error%}
		<div class="error">{{error}}</div>
	{%endif%}
    <form method="POST" class="home_form text-center">{% csrf_token %}
	    <input name="email" type="text" class="required input_box email" id="email_id" placeholder="Enter email address" />
    	<br />
    	<input class="button big gray" type="submit" name="submit" />
    	<br /><br />
    	<span style="margin-left:15px">Remember Password </span><a href="/login/">(Sign In)</a>
    </form>
</div>
{% endblock %}
