{% extends "home_base.html" %}
{% block title %}Home :{%endblock%}
{% block content %}
<div class="home_page">
	{% if invite_code %}
	<div class="early_invite">
		<img src="/site_media/img/used/ribbon.png" alt="">
		<a href="/register/?invite_code={{invite_code}}">Here&rsquo;s an early invite for you!</a>
	</div>
	{% endif %}
	<h2 class="home_head text-center">Link sharing and curation for small groups</h2>

	<h3 class="text-center">Discover and Share links in Contexts</h3>
	<div class="div-plugin-download">
		<a href="#" id="plugin-button" class="plugin-button can_hide">Install focal <span>for chrome</span></a> <span class="can_hide">or</span> 
		<!-- <a href="#" data-controls-modal="div_login" data-backdrop="true" data-keyboard="true" >Help</a> &nbsp;  &nbsp;  -->
		<a href="#" id="bookmarklet_link" data-controls-modal="div_help" data-backdrop="true" data-keyboard="true">Install Bookmarklet</a>
	</div>
	<div class="clearfloat"></div>
	
	<div class="slideshow">
	<div class="slideshowContainer">
		<div id="slide1" class="slide">
			<div class="leftBox">
				<div class="vertical-center">
					<h4>Contexts</h4>
					<h5>life in contexts</h5>
					<p>Contexts are groups with shared interests. Create contexts of your life that are shared with others. Think Project, Movies, Reading, Travel, Music, Hobbies, Learning etc. Things that are more fun when shared. Discover and share curated links withing these contexts.</p>
					<blockquote>
						&ldquo; I know, my dear Watson, that you share my love of all that is bizarre and outside the conventions and humdrum routine of everyday life &rdquo;
						<em>&ndash; Sherlock Holmes</em>
					</blockquote>
				</div>
			</div>
			<div class="rightBox">
			<div class="vertical-center">
				<img src="/site_media/img/plugin-screen.png" alt="Focal Plugin" class="img-blue" />
			</div>
			</div>
		</div>
		<div id="slide2" class="slide">
			<div class="leftBox">
				<div class="vertical-center">
					<h4>Organize</h4>
					<h5>link grandcentral</h5>
					<p>We have all your links covered. Organize all your links that matter at one place &ndash; your bookmarks across browsers, delicious,  favorites on twitter, shared links across contexts. Searching any of your link is a breeze too.</p>
					<blockquote>
						&ldquo;It's the Shadow Gallery&rdquo;
						<em>&ndash; V for Vendetta</em>
					</blockquote>
				</div>
			</div>
			<div class="rightBox">
				<div class="vertical-center">
					<img src="/site_media/img/social-icons.png" alt="Focal Plugin" />
				</div>
			</div>
		</div>
		<div id="slide3" class="slide">
			<div class="leftBox">
				<div class="vertical-center">
					<h4>Search</h4>
					<h5>any link, any how</h5>
					<p>Search on focal is a breeze. Search for a link by it's title, content, tags, source, people it's shared with. With so many ways to  search  you can pin-point to that elusive link that you'd bookmarked long ago but couldn't find earlier. No more needles in haystack.</p>
					<blockquote>
						&ldquo;Shine on you crazy diamond&rdquo;
						<em>&ndash; Pink Floyd</em>
					</blockquote>
				</div>
			</div>
			<div class="rightBox">
				<div class="vertical-center">
					<img src="/site_media/img/search-screen.png" alt="Focal Plugin" />
				</div>
			</div>
		</div>
	</div>
	</div>
	<!-- <div class="text-center">
	<ul class="slideShowController">
		<li class="selected">&nbsp;</li>
		<li>&nbsp;</li>
		<li>&nbsp;</li>
	</ul>
	</div> -->
	<table class="tabs">
		<tr>
			<td>
			<div class="selected" rel="0">
				<span></span>
				<h5>Share</h5>
				<h6>Focused Sharing</h6>
			</div>
			</td>
			<td>
			<div  rel="1">
				<span></span>
				<h5>Organize</h5>
				<h6>Link Grandcentral</h6>
			</div>
			</td>
			<td>
			<div rel="2">
				<span></span>
				<h5>Search</h5>
				<h6>Any link, Anyhow</h6>
			</div>
			</td>
		</tr>
	</table>
	{% comment %}
	<!-- <ul class="tabs">
		<li class="selected" rel='0'>
			<span></span>
			<h5>Share</h5>
			<h6>Focused Sharing</h6>
		</li>
		<li class="middle" rel="1">
			<span></span>
			<h5>Organize</h5>
			<h6>Link Grandcentral</h6>
		</li>
		<li rel="2">
			<span></span>
			<h5>Search</h5>
			<h6>Any link, Anyhow</h6>
		</li>
	</ul> -->
	{% endcomment %}
</div>


<div class="modal hide fade" id="div_help">
	<div class="modal-header">
		<a href="#" class="close">&times;</a>
		<h3>Focal Bookmarklet</h3>
	</div>
	<div class="modal-body">
	<div id="favorite-nonie">
		<div class="left70 bigNormalText">
	    	Install the bookmarklet to start bookmarking and sharing links with your contexts
	    </div>
	    <div class="right30 text-center">
	    	<a href="{% include "bookmarklet_code.js" %}" class="bookmarklet_botton">Focal</a>
	    	<br />
	    	<p class="smallNormalText text-center">Drag and Drop this on your bookmark bar</p>
	    </div>
	    <div class="clearfloat"></div>
	    <h4>Tips for installation:</h4>
	    <div class="chrome hide">
		    <p>&ndash; Make sure the Bookmarks Bar is visible by clicking the <br /><b>View > Always Show Bookmarks Bar</b></p>
		    <p>&ndash; You can also use the keyboard shortcuts Ctrl+Shift+B (Windows and Chrome OS) and ⌘-Shift-B (Mac) to toggle the bar on and off.</p>
		    <p>&ndash; Drag and Drop the bookmarklet on the bookmarks bar </p>
		</div>
		<div class="safari hide">
			<p>&ndash; Make sure the Bookmarks Bar is visible by clicking the <br /><b>View > Show Bookmarks Bar</b></p>
		    <p>&ndash; You can also use the keyboard shortcuts Ctrl+Shift+B (Windows and Chrome OS) and ⌘-Shift-B (Mac) to toggle the bar on and off.</p>
		    <p>&ndash; Drag and Drop the bookmarklet on the bookmarks bar </p>
		</div>
		<div class="mozilla hide">
			<p>&ndash; Make sure the Bookmarks Bar is visible by clicking the <br /><b>View > Toolbar > Bookmark Toolbar</b></p>
		    <p>&ndash; Drag and Drop the bookmarklet on the bookmarks bar </p>
		</div>
		<div class="other hide">
			<p>&ndash; Make sure the Bookmarks Bar is visible</p>
		    <p>&ndash; Drag and Drop the bookmarklet on the bookmarks bar </p>
		</div>
		<br />
		<p>You're Done!</p>
	</div>
	<div id="favorite-ie" class="hide">
		<div class="bigNormalText">
			Install the bookmarklet to start bookmarking and sharing links with your contexts
		</div>
		<p>Right-click on <a href="{% include "bookmarklet_code.js"%}" class="bookmarklet_botton">Focal</a> and choose "Add to Favorite".</p>
		<p>
			<img src="/site_media/img/ie-favorite.png" alt="IE Favorite" />
		</p>
	</div>
	</div>
	<div class="modal-footer">
		<input class='button primary' onclick="$('#div_help').modal('hide')" type="button" class="close" value="Close" />
	</div>
</div>

{% endblock %}
	


{% block js %}
	<script type="text/javascript">
    	$(document).ready(function(){
    		$("#request_form").submit(function(e){
    			e.preventDefault();e.stopPropagation();
    			$('#loader').removeClass('hide');
    			$.post('/invite_request/', $("#request_form").serialize(), function(data) {
				  $("#response").html(data);
				  $('#loader').addClass('hide');
				});
    		});

    		$('.tabs div').click(function(e){
    			$('.slideshowContainer').animate({'left': -1 * parseInt($(this).attr('rel'))*960},500);
    			$('.tabs div').removeClass('selected');
    			$(this).addClass('selected');
    		});

    		var is_chrome = navigator.userAgent.toLowerCase().indexOf('chrome') > -1;
    		var is_firefox = $.browser.mozilla;

    		if(is_chrome){
    			$("#plugin-button span").text('for Chrome');
    			$("#plugin-button").attr('href','/download/focal.crx');
    			$('.chrome', $('#favorite-nonie')).removeClass('hide');
    		}else{
    			/*
    			if(is_firefox){
    				$("#plugin-button span").text('for Firefox');
    				$("#plugin-button").attr('href','/download/focal.xpi');
    				$('.mozilla', $('#favorite-nonie')).removeClass('hide');
    			}
    			else{
    				$(".div-plugin-download .can_hide").hide();
    				$("#bookmarklet_link").addClass('plugin-button').html('Install Focal Bookmarklet');
    				if( $.browser.msie ){
	    				$('#favorite-nonie').hide();
	    				$('#favorite-ie').show();
    				}
    				else {
	    				if( $.browser.webkit ){
	    					$('.safari', $('#favorite-nonie')).removeClass('hide');
	    				}else{
	    					$('.other', $('#favorite-nonie')).removeClass('hide');
	    				}
	    			}
    			}*/
    			$(".div-plugin-download .can_hide").hide();
				$("#bookmarklet_link").addClass('plugin-button').html('Install Focal Bookmarklet');
				if( $.browser.msie ){
    				$('#favorite-nonie').hide();
    				$('#favorite-ie').show();
				}
				else {
    				if( $.browser.webkit ){
    					$('.safari', $('#favorite-nonie')).removeClass('hide');
    				}else{
    					$('.other', $('#favorite-nonie')).removeClass('hide');
    				}
    			}
    		}

    	});

    </script>
{% endblock %}

