<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>{%block title%}{%endblock%} Focal.io</title>
    
    <link rel="shortcut icon" href="/site_media/img/fevicon.ico"/>
    
    <!-- <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'> -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'> -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Cabin+Condensed' rel='stylesheet' type='text/css'> -->


    <link rel="stylesheet" href="/site_media/stylesheet/css/home.css" />  
    <!-- <link rel="stylesheet/less" type="text/css" href="/site_media/stylesheet/less/home.less" /> -->
    {% block css %}{%endblock%}
	<!--<script src="/site_media/jQuery/less-1.1.5.min.js" type="text/javascript"></script>-->
    
	<!--[if !IE 7]>
		<style type="text/css">
			#wrap {display:table;height:100%}
		</style>
	<![endif]-->
	
	<script src="/site_media/jQuery/jquery-1.7.1.min.js" type="text/javascript"></script>
	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28973134-1']);
  _gaq.push(['_setDomainName', 'focal.io']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body class="home">
<div id="wrap">
	<div id="header" class="home">
		<div class="container hide-overflow">
			
			<h1>
				
				<a href="/{% if invite_req %}?invite_code={{invite_req.launch_invite_code}}{%endif%}" id="headerLogo" name="headerLogo">Focal.io</a>
				<a href="/{% if invite_req %}?invite_code={{invite_req.launch_invite_code}}{%endif%}" id="beta">b e t a</a>
			</h1>
			
			<div class="twitter-link">
				<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.focal.io" data-text="Woot this !! Have been playing around with Focal : Link sharing and curation for groups" data-via="focal_io">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>

			<div class="head-links">
			<a href="#" id="head-signup" class="head-login-link width2" data-controls-modal="div-invite-header" data-backdrop="true" data-keyboard="true">
				Sign Up
			</a>
			&nbsp; | &nbsp;
			<a id="header-signin-link" data-controls-modal="div_login" data-backdrop="true" data-keyboard="true" href="/login/" class="head-login-link width2">
				Sign In
			</a>
			</div>
			{%comment%}
			<div id="div-login-header">
				<form action="/login/" method="post">
					{% csrf_token %}
			        <input type="text" class="email" name="email" id="header_email_id" placeholder="Email"/>
					<input type="password" name="password" id="pass" class='' placeholder="Password" />
					<input class="button" type="submit" name="submit" value="Login" />
					<a href="#" class="close">x</a>
				</form>
			</div>
			{%endcomment%}

		</div>
		
	</div>

	<div class="div-invite modal  fade hide" id="div-invite-header">
		<div class="modal-header">
			<a href="#" class="close">&times;</a>
			<h3>Sign Up</h3>
		</div>
		<div class="modal-body">
			<p style="margin-bottom:10px">Signup for Focal is currently invite Only. Enter your email address below to get an early invite.</p>
			<form id="request_form" method="post" action="/invite_request/">
				<input type="text" style="width:250px" name="email" placeholder="Enter Email Address" />
				<input type="submit" class="button" value="Request Invite" />
				<img id="loader" class="hide" style="margin:-5px 0 0 15px;vertical-align:middle;" src="/site_media/img/load.gif" />
			</form><br />
			<div class="green" id="response"></div>
			Already have login ? <a href="javascript:void(0);" onclick="$('#div-invite-header').modal('hide');$('#header-signin-link').trigger('click');">Sign in</a>
		</div>
		<!-- <div class="modal-footer">
			<input class='button secondary' onclick="$('#div-invite-header').modal('hide')" type="button" class="close" value="Close" />
		</div> -->
	</div>
	
	<div class="modal hide fade" id="div_login">
		<!-- <a href="#" class="close">&times;</a>
		<div class="white_box center_box">

		<h2 class='text_align bigHeadOverCenterBox' >Sign In</h2>
		{% if message %}
		<div class="error-msg">{{message}}</div>
		{%endif%}
		<form method="POST" id='registerForm' class='text_align home_form'>{% csrf_token %}
	        <input type="text" class="required input_box email" name="email" id="email_id" placeholder="Email"/>
			<br/>
			<input type="password" name="password" id="pass" class='required input_box' placeholder="Password" />
			<br /><br />
			<input class="button" type="submit" name="submit" value="Login" />
		</form>
		<br />
		<a style="" href="/forgotpassword/">Forgot Password</a>
		<span><a style="margin-left:15px" href="javascript:void(0);" onclick="$('#div_login').modal('hide');$('#head-signup').trigger('click');">Sign-up</a></span>
		</div> -->
		<form id='join_form' method="POST" action="/login/">
            <div class="modal-header">
                <a href="#" class="close">&times;</a>
                <h3>Sign In</h3>
            </div>
            <div class="modal-body">
                {% csrf_token %}
                <input type="hidden" name="referalcode" value="{{activity.referal_code}}" id="id_referalcode" />
                <fieldset>
                    <div class="box_content">
                        <p>
                        	<label for="email_id1">Email : </label>
                        	<input  id="email_id1" type="text" name="email" class="big-textbox" value="{{email}}" />
                        </p>
                        <p>
                        	<label for="pass">Password : </label>
                        	<input id="pass" type="password" name="password" class="big-textbox"/>
                        </p>
                        
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
            	
	            	<a style="" href="/forgotpassword/">Forgot Password</a>
	            	<a href="javascript:void(0);" onclick="$('#div_login').modal('hide');$('#head-signup').trigger('click');">Sign-up</a>
	            
                <input class='button primary' type="submit" value="Login" />
            </div>
        </form>
	</div>

	<div id="main" class="container">
		{%block content%} {%endblock%}
	</div>
</div>
<div id="footer">
	<div class="heart_container">
	Crafted with <span class="heart">&hearts;</span>  by <a href="http://23spaces.com">23</a>
	</div>
</div>
<script type="text/javascript" src="/site_media/bootstrap/js/bootstrap-modal.js"></script>
{% block js %}
	
{% endblock %}
<script type="text/javascript">
	// $(document).ready(function(){
	// 	$('#header-signin-link').click(function(e){
	// 		e.preventDefault();
	// 		$("#div-login-header").animate({'right':0},200,function(){$("#header_email_id").focus();});
	// 		$(this).parent().hide();
	// 	});
	// 	$('a.close', $("#div-login-header")).click(function(e){
	// 		e.preventDefault();
	// 		$("#div-login-header").animate({'right':-540},200,function(){$('.head-links').show();});
			
	// 	});
	// })
</script>
<script type="text/javascript" charset="utf-8">
  var is_ssl = ("https:" == document.location.protocol);
  var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript" charset="utf-8">
  var feedback_widget_options = {};

  feedback_widget_options.display = "overlay";  
  feedback_widget_options.company = "focal";
  feedback_widget_options.placement = "left";
  feedback_widget_options.color = "#222";
  feedback_widget_options.style = "idea";
  
  
  
  
  
  
  

  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
</script>
</body>
</html>














{% comment %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>{%block title%}{%endblock%} 23spaces.com</title>
    
    <link rel="shortcut icon" href="/site_media/img/favicon.ico"/>
    
    <link rel="stylesheet" href="/site_media/css/home.css" /> 
	<link rel="stylesheet" href="/site_media/css/lightbox.css" /> 
	<link rel="stylesheet" href="/site_media/css/shadow.css" /> 
	<link rel="stylesheet" href="/site_media/css/forms.css"/>
	<!--[if !IE 7]>
	<style type="text/css">
		#wrap {display:table;height:100%}
	</style>
	<![endif]-->
    {% block css %}{%endblock%}
</head>
<body>
<!---Some Comment -->
<div id="wrap">
	<div id='header-sep'></div>
	<div id="header">
	<div class="container">
		<h1><a id="headerLogo" href="/">Focal</a></h1> 
		<ul class="nav">
			<li><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Blog</a></li>
			<li><a rel="div_form_login" class="modal_link " href="/login/">Login</a></li>
			<li><a rel="div_form_register" class="modal_link " href="/register/">Register</a></li>
		</ul>
	</div>
	</div>

	<div id="main" class="container">
	{%block content%}
        
    {%endblock%}
	</div>
</div>
<div id="footer">
	<div class="container">
		<div class="right40 footerCount">
			<img src="/site_media/img/heart.png" alt=""/> <span>2,456</span> 
			<br />Links Saved
		</div>
		<div class="left60 footerLinks">
			<div class="follow_us">
				
					<a class="follow twitter" href="#">Follow us on Twitter</a>
					<a class="follow facebook" href="#">Follow us on Facebook</a>
					<a class="follow rss" href="#">Follow our Blog</a>
				
				
			</div>
			<ul>
				<li><a href="#">FAQ</a></li>
				<li> | </li>
				<li><a href="#">Contact</a></li>
				<li> | </li>
				<li><a href="#">Terms</a></li>
				<li> | </li>
				<li><a href="#">Privacy</a></li>
				<li> | </li>
				<li><a href="#">Labs</a></li>
			</ul>
			<p>Copyright &copy; 2012 Focal</p>
		</div>
	</div>
</div>


<div id="div_form_login" class="hide">
    {%if user.id and not user.is_active %}
        <h4>To use this website you need to activate the account by clicking on the verfication link received in email.</h4>
        <form method="POST" action='/activate/'>{% csrf_token %}
            <label for="email_id_1">Email : </label>
            <input name="email" type="text" id="email_id_1" placeholder="Email" value={{user.email}} />
            <br /><br />
            <input class="button" type="submit" name="button" value="Resend E-mail" />
        </form>

    {%else%}
        <form method="POST" action="/authenticate/"  onsubmit="return submit_form(this)">
            {% csrf_token %}
            <div class="modal_head">
                <h2>Login</h2>
            </div>
            <div class="modal_content">
                <label for="email_id_1">Email : </label>
                <input name="email" type="text" id="email_id_1" />
                <label for="pass">Password : </label>
                <input type="password" name="password" id="pass" />
            </div>
		    <div class="message"></div>
            <div class="modal_foot">
                <img src="/site_media/img/load.gif" alt="" class="hide loader" />
                <input class="button mtl action" type="submit" name="submit" value="Login" />
                <div class="clearfix"></div>
            </div>
        </form>
    {%endif%}
</div>
<div id="div_form_register" class="hide">
    <form method="POST" action="/register/" onsubmit="return submit_form(this)">
        {% csrf_token %}
        <div class="modal_head">
            <h2>Register</h2>
        </div>
        <div class="modal_content">
            <label for="email_id">Email : </label>
            <input type="text" class="inputtext" name="email" id="email_id" />
            <label for="pass1">Password : </label>
            <input type="password" class="inputtext" name="pass1" id="pass1" />
            <label for="pass2">Password : </label>
            <input type="password" class="inputtext" name="pass2" id="pass2" />
            <div class="help_text">Re-Enter to Confirm</div>
            <label for="nickname">Nick Name : </label>
            <input type="text" class="inputtext" name="nickname" id="nickname" />
            <div class="help_text">Name by which your friends will know you.</div>
        </div>
		<div class="message"></div>
        <div class="modal_foot">
			<img src="/site_media/img/load.gif" alt="" class="hide loader" />
            <input class="button action" value="Register" type="submit" />
            <div class="clearfix"></div>
        </div>
    </form>
</div>

<script type="text/javascript" src="/site_media/js/mootools.js"></script>
<script type="text/javascript" src="/site_media/js/modal.js"></script>
<script type="text/javascript">
	var modalBox = new ModalBox();
	document.addEvent('domready',function(e){
		$$('.modal_link').addEvent('click',function(e){
			e.stop();
			var div_id = $(this).get('rel');
			var div = $(div_id).clone();
			div.removeClass('hide');
			modalBox.setContent(div);
		});
	});
	/*function submit_form(form){
		
		new Request({
			url: form.get("action") + '?is_ajax=true',
			method: "post",
			data: form,
			onRequest: function() {
				form.getElement('.loader').removeClass('hide');
				form.getElement('.message').set('html','');
			},
			onComplete: function() {
				form.getElement('.loader').addClass('hide');
				try{
					var obj = JSON.decode(this.response.text);
					var message = ''
					if(obj.status == 1){
						message = "You're done. Hangon we are redirecting you to the correct page";
						window.location = obj.next;
					}else{
						message = obj.message;
					}
				}catch(e){
					message = "Some error occurred. Try Again Later";
				}
				form.getElement('.message').set("html", message);
			}
		}).send();

		return false;
	}*/
</script>
{% block js %}
	
{% endblock %}
</body>
</html>

{% endcomment %}