<table border="1">
	<tr>
		<th>For</th>
		<th>Invite Req Url</th>
		<th>Request Received</th>
		<th>Invite Sent</th>
		<th>Status/Action</th>
	</tr>
	{%for invite in all_invites%}
	<tr>
		{%if invite.email_id%}
			<td>{{invite.email_id}}</td>
		{%else%}
			<td>Genrated</td>
		{%endif%}
		<td>http://www.focal.io/?invite_code={{invite.launch_invite_code}}</td>
        <td>{{invite.add_date}}</td>
		{%if invite.send_invite_date%}
        	<td>{{invite.send_invite_date}}</td>
			{%if invite.registered%}
		        <td>
					Registered on {{invite.registered_date}}
				</td>
			{%else%}
				<td>
					Not Registered Yet
					{%if invite.email_id%}
						<form method='POST' action='/resend_invite/'>
    	                    <input type="hidden" name="email" value="{{invite.email_id}}" />
        	                <input type="submit" value="Re-Send Invite" />
            	        </form>
					{%endif%}
				</td>
			{%endif%}
		{%else%}
			<td>Not Sent</td>
			<td>
				<form method='POST' action='/manage_invites/'>
                    <input type="hidden" name="invite_id" value="{{invite.id}}" />
                    <input type="submit" value="Sent Invite" />
                </form>
			</td>
		{%endif%}
	</tr>
	{%endfor%}
</table>
<br/>
<br/>
<form method='POST' action='/generate_invite/'>
	<input type="submit" value="Generate New Invite" />
</form>
Or
<br/><br/>
<form method='POST' action='/generate_invite/'>
	Email-id: <input type="text" name="email" id="email_id"/>
	<input type="submit" value="Generate Invite for email" />
</form>

