{% extends "home_base.html" %}


{%load get_domain%}

{% block title %}Context Invitation : {% endblock %}

{% block content %}
    
    <div class="center_content">
        <h2 class="focus_head">
            <u>{{activity.created_by.nickname}}</u> Invited you to join this context
        </h2> 
        <div class="context_name left60">
            <h3>{{activity.activityname}}</h3>
            <p>{{activity.activitylink_set.count}} links, {{activity.activitymember_set.count}} {{activity.activitymember_set.count|pluralize:"member,members" }}</p>
        </div>
        <div class="join_context right40">
            <input id="join_button" type='button' class="button" value="Join Context" onclick="show_hidden_buttons(this);" />
            <div id="hidden_buttons">
                <input data-controls-modal="div_register_context" data-backdrop="true" data-keyboard="true" id="signup_button" type='button' class="button signup" value="Sign Up" />
                <input data-controls-modal="div_login_context" data-backdrop="true" data-keyboard="true" id="login_button" type='button' class="button signin" value="Sign In" />
            </div>
        </div>
        
        <h4 class="left80">Recent Activity</h4>
        <h4 class="right20">Members</h4>
        <div class="green-bg">
            <ul class="left80">
            {% if activity_links %}
                {% for lnk in activity_links|slice:":8" %}
                    <li>
                        <a href='{{lnk.link}}' title="{{lnk.title}}"><img src="{{lnk.favicon}}" class="favi" /></a>
                        <a href='{{lnk.link}}' title="{{lnk.title}}">{{lnk.title}}</a> 
                    </li>
                {%endfor%}
            {% else %}
                <li>No links shared in this context</li>
            {% endif %}
            </ul>
            <ul class="right20">
                <!-- <li>{{activity.created_by.nickname}}</li> -->
                {%for m in activity.activitymember_set.all|slice:":5"%}
                <li>{{m.member.nickname}}</li>
                {%endfor%}
                
            </ul>
            <div class="clearfloat"></div>
        </div>

        <p class="tagline">
            <span>Contexts</span> are a gr8 way to share links within a group. Organize, Share, Discover links with Focal. 
        </p>

        <!-- <p class="text_align big-text-black">Use these simple tools to get started</p> -->
        
        <div class="modal hide fade" id="div_register_context">
        <form id='context-join_form' class="context-form" method="POST">
            <div class="modal-header">
                <a href="#" class="close">&times;</a>
                <h3>Sign Up to Join</h3>
            </div>
            <div class="modal-body">
             {% csrf_token %}
            <input type="hidden" name="referalcode" value="{{activity.referal_code}}" id="id_referalcode" />
            <fieldset>
                <div class="box_content">
                    <p>
                        <div class="left50">
                            <label for="first_name_id">First Name : </label>
                            <input  id="first_name_id" type="text" name="first_name" class="required" />
                        </div>
                        <div class="right50">
                            <label for="last_name_id">Last Name : </label>
                            <input  id="last_name_id" type="text" name="last_name" class="required" />
                        </div>
                        <div class="clearfloat"></div>
                    </p>
                    <p>
                        <label for="nickname">Nick Name : </label>
                        <input id="nickname" type="text" name="nickname"  class="required" />
                        <div class="help_text">Name by which other users will know you.</div>
                    </p>
                    <p>
                    	<label for="email_id">Email : </label>
                    	<input  id="email_id" type="text" name="email" class="required big-textbox" />
                    </p>
                    <p>
                    	<label for="pass1">Password : </label>
                    	<input id="pass1" type="password" name="pass1" class="required big-textbox" />
                    </p>
                </div>
            </fieldset>
            <div class="message hide"></div>
            </div>
            <div class="modal-footer">
                Already a Member ? 
                <a href="javascript:void(0);" onclick="$('#div_register_context').modal('hide');$('#login_button').trigger('click');">Sign In</a>
                
                <input class='button primary' type="submit" value="Register &amp; Join Activity" />
                <img src="/site_media/img/load.gif" alt="" class="hide loader" />
            </div>
        </form>
        </div>
        <div class="modal hide fade" id="div_login_context">
        <form id='context-login_form' class="context-form" method="POST">
            <div class="modal-header">
                <a href="#" class="close">&times;</a>
                <h3>Sign In to Join</h3>
            </div>
            <div class="modal-body">
                {% csrf_token %}
                <input type="hidden" name="referalcode" value="{{activity.referal_code}}" id="id_referalcode" />
                <fieldset>
                    <div class="box_content">
                        <p>
                        	<label for="email_id1">Email : </label>
                        	<input  id="email_id1" type="text" name="email" class="big-textbox" value="{{email}}" />
                        </p>
                        <p>
                        	<label for="pass">Password : </label>
                        	<input id="pass" type="password" name="password" class="big-textbox"/>
                        </p>
                    </div>
                </fieldset>
                <div class="message hide"></div>
            </div>
            <div class="modal-footer">
                <a style="" href="/forgotpassword/">Forgot Password</a>
                <a href="javascript:void(0);" onclick="$('#div_login_context').modal('hide');$('#signup_button').trigger('click');">Sign-up</a>
                
                <input class='button primary' type="submit" value="Sign In &amp; Join Activity" />
                <img src="/site_media/img/load.gif" alt="" class="hide loader" />
            </div>
        </form>
        </div>
            
        <!--
        <form id='join_form' method="POST"> {% csrf_token %}
        <fieldset>
            {%if actuser.id%}
                <label for="email">email id</label> <input style="width:200px;"  type="text" id="email_id" name="email" value="{{actuser.email}}" readonly="readonly"/>
                <input type="hidden" name="referalcode" value="{{activity.referal_code}}" id="id_referalcode" />
                <p class="submit"><input class='button bigrounded gray' type="submit" value="Join Activity" /></p>
            {%else%}
                <label for="email">email id</label> <input type="text" id="email_id" name="email" value="{{email}}" />
                <p><label for="pass1">password</label> <input type="password" class="inputtext" name="password" id="pass"></p>
                <input type="hidden" name="referalcode" value="{{activity.referal_code}}" id="id_referalcode" /><br />
                <p class="submit"><input class='button bigrounded gray' type="submit" value="Join Activity" /></p>
            {%endif%}
        </fieldset>
        </form> -->
        <!--
        <form id='join_form' method="POST"> {% csrf_token %}
        <fieldset>
            <p><label for="email">email id</label> <input style="width:200px;"  type="text" id="email_id" name="email" value="{{email}}" /></p>
            <p><label for="pass1">password</label> <input type="password" class="inputtext" name="pass1" id="pass1"></p>
            <p><label for="pass2">re password</label> <input type="password" class="inputtext" name="pass2" id="pass2"></p>
            <input type="hidden" name="referalcode" value="{{activity.referal_code}}" id="id_referalcode" /><br />
            <p class="submit"><input class='button bigrounded gray' type="submit" value="Join Activity" /></p>
        </fieldset>
        </form>
        <br />
        <h4>Already a member of focal, join this activity</h4>
        -->
    </div>
    <br /><br />
{% endblock %}

{% block css %}
<style type="text/css">
#wrap{
    background: white !important;
}
</style>
{% endblock %}

{% block js %}
<script type="text/javascript" src="/site_media/js/jquery-validation-1.8.1/jquery.validate.js"></script>
<script type="text/javascript">
function show_hidden_buttons(button){
    $(button).animate({
        opacity: 0,
        right: '-200'
    }, 200, function(){
        $(button).css('display','none');
        $('#hidden_buttons').css('display','block').animate({right:-170,opacity:1},200);
    });
}
$(document).ready(function(){
    $("#first_name_id, #last_name_id").live('keyup blur', function(){
        $("#nickname").val($("#first_name_id").val().slice(0,1).toUpperCase() + $("#first_name_id").val().slice(1) + $("#last_name_id").val().slice(0,1).toUpperCase());
    });
    $("#join_form").validate({
      rules: {
        password: "required"
      }
    });

    $("form.context-form").submit(function(){
        var frm = $(this);
        $('.loader',frm).removeClass('hide');
        $('.message',frm).addClass('hide').html('');
        $.ajax({
            url: '/referal/?is_ajax=true',
            type: 'post',
            dataType: 'json',
            data: frm.serialize(),
            success: function(obj){
                $('.loader',frm).addClass('hide');
                if(obj.status == 1){
                    message = "You're done !!";
                    window.location = obj.next;
                    $('.message',frm).removeClass('error');
                    $('#'+frm.attr('modal')).modal('hide')
                }else{
                    message = obj.message;
                    $('.message',frm).addClass('error');
                }
                $('.message',frm).html(message).removeClass('hide');
            }
        });
        return false;
    })
});
</script>
{% endblock %}