{% extends "base.html" %}

{% load get_domain %}

{% block title %}Context Invitation : {% endblock %}


{% block content %}
    
    <div class="center_content">
        <h2 class="focus_head">
            <u>{{activity.created_by.nickname}}</u> Invited you to join this context
        </h2> 
        <div class="context_name left50">
            <h3>{{activity.activityname}}</h3>
            <p>{{activity.activitylink_set.count}} links, {{activity.activitymember_set.count}} {{activity.activitymember_set.count|pluralize:"member,members" }}</p>
        </div>
        <div class="join_context right50">
            <form action="/reject_activity_invite/" method="POST" class="right"> {% csrf_token %}
              <input type="hidden" name="email" value="{{user.email}}" />
              <input type="hidden" name="referalcode" value="{{activity.referal_code}}" id="id_referalcode" />
              <p class="submit"><input class='button secondary gray' type="submit" value="Reject Request" /></p>        
            </form>

            <form method="POST" class="right"> {% csrf_token %}
              <input type="hidden" name="email" value="{{user.email}}" />
              <input type="hidden" name="referalcode" value="{{activity.referal_code}}" id="id_referalcode" />
              <p class="submit"><input class='button bigrounded gray' type="submit" value="Join Context" /></p>        
            </form>
            
            <div class="clearfloat"></div>
        </div>
        
        <h4 class="left80">Recent Activity</h4>
        <h4 class="right20">Members</h4>
        <div class="green-bg">
            <ul class="left80">
            {% if activity_links %}
                {% for lnk in activity_links|slice:":8" %}
                    <li>
                        <a href='{{lnk.link}}' title="{{lnk.title}}"><img src="{{lnk.favicon}}" class="favi" /></a>
                        <a href='{{lnk.link}}' title="{{lnk.title}}">{% firstof lnk.title lnk.link %}</a> 
                    </li>
                {%endfor%}
            {% else %}
                <li>No links shared in this context</li>
            {% endif %}
            </ul>
            <ul class="right20">
                <!-- <li>{{activity.created_by.nickname}}</li> -->
                {%for m in activity.activitymember_set.all|slice:":5"%}
                <li>{{m.member.nickname}}</li>
                {%endfor%}
                
            </ul>
            <div class="clearfloat"></div>
        </div>

        <p class="tagline">
            <span>Contexts</span> are a gr8 way to share links within a group. Organize, Share, Discover links with Focal. 
        </p>
      </div>
{% endblock %}


{% comment %}

{% block content %}
    <div class="white_box">
      
      <div class="rightSideBar">
        <h4>Some WebPages under &#8220;<u>{{activity.activityname}}</u>&#8221;</h4> 
        <ul> 
            {% for lnk in activity_links|slice:":5" %}
                <li><a href={{lnk.link}}>{{lnk.title}}</a></li>
            {%endfor%}
        </ul>
      </div>
      
    
      <h2>
        {{activity.created_by.nickname}} has invited you to join &#8220;<u>{{activity.activityname}}</u>&#8221; activity
      </h2> 
      <p>On joining you'll be able to view complete list of webpages saved under &#8220;<u>{{activity.activityname}}</u>&#8221;. You'll also be able to contribute new webpages to this shared context.</p>
      <br />
      <p>To join &#8220;<b>{{activity.activityname}}</b>&#8221; the please click below:</p><br />
      <form id='join_form' method="POST"> {% csrf_token %}
        <input type="hidden" name="email" value="{{user.email}}" />
        <input type="hidden" name="referalcode" value="{{activity.referal_code}}" id="id_referalcode" />
        <p class="submit"><input class='button bigrounded gray' type="submit" value="Join Activity" /></p>
                
      </form>
      
      <!--
      <form id='join_form' method="POST"> {% csrf_token %}
        <fieldset>
            {%if actuser.id%}
                <label for="email">email id</label> <input style="width:200px;"  type="text" id="email_id" name="email" value="{{actuser.email}}" readonly="readonly"/>
                <input type="hidden" name="referalcode" value="{{activity.referal_code}}" id="id_referalcode" />
                <p class="submit"><input class='button bigrounded gray' type="submit" value="Join Activity" /></p>
            {%else%}
                <label for="email">email id</label> <input type="text" id="email_id" name="email" value="{{email}}" />
                <p><label for="pass1">password</label> <input type="password" class="inputtext" name="password" id="pass"></p>
                <input type="hidden" name="referalcode" value="{{activity.referal_code}}" id="id_referalcode" /><br />
                <p class="submit"><input class='button bigrounded gray' type="submit" value="Join Activity" /></p>
            {%endif%}
        </fieldset>
      </form> -->
      <!--
      <form id='join_form' method="POST"> {% csrf_token %}
        <fieldset>
            <p><label for="email">email id</label> <input style="width:200px;"  type="text" id="email_id" name="email" value="{{email}}" /></p>
            <p><label for="pass1">password</label> <input type="password" class="inputtext" name="pass1" id="pass1"></p>
            <p><label for="pass2">re password</label> <input type="password" class="inputtext" name="pass2" id="pass2"></p>
            <input type="hidden" name="referalcode" value="{{activity.referal_code}}" id="id_referalcode" /><br />
            <p class="submit"><input class='button bigrounded gray' type="submit" value="Join Activity" /></p>
        </fieldset>
      </form>
      <br />
      <h4>Already a member of focal, join this activity</h4>
      -->
    </div>
    <br /><br />
{% endblock %}

{% block js %}
<script type="text/javascript">
function switch_tab(ele){
    $(ele).getParent('.tab').getElements('a').removeClass('selected');
    $(ele).addClass('selected');
    var id = $(ele).get('rel');
    $$('.div_bg').addClass('hide');
    $(id).removeClass('hide');
}
</script>
{% endblock %}

{% endcomment %}