<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" href="/site_media/css/popup.css" />
    <link rel="stylesheet" href="/site_media/jQuery/autoSuggest/autoSuggest.css" />
</head>
<body>
	<div id="container">
	<div id="inner-container" class="hide">
		<div id="head" class="clearfix">
			<a href="#" id="a_favorite" class="icon inactive">Personal Collection</a>
			<h1>Some Title</h1>
			<!-- <a href="#" class="icon settings">Settings</a> -->
		</div>
		<div id="tags" class="clearfix">
			<a href="#" id="a_edit_tags" class="icon tag">Tag</a>
			<div id="edit_tags"><input type="text" class="loading" readonly="true" id="input_tag" /></div>
			<div id="view_tags"></div>
			
		</div>
		<div id="contexts" class="clearfix">
			<div id="searchBox">
				<input type="text" id="input_context" placeholder="Enter Context Here" />
			</div>
			<ul class="context clearfix" id="context-list">
				
			</ul>
			<div id="no-context-filtered" style="display:none;">No Context Found</div>
		</div>
		<div id="no-context">
			Looks like you haven't created any context yet. You can create context <a href="http://www.focal.io/" target="_blank">here</a> and start saving links in those contexts.
		</div>
	</div>
	<div id="status">
		
	</div>
	</div>
	<div id="login">
		You are currently logged out please login at <a href="http://www.focal.io/" target="_blank">Focal</a>.
	</div>
	
	<script type="text/template" id="context-template">
	<% if (added) { %>
		<span class="indicator">&nbsp;</span>
		<span class="subtext">from:<em><%= by %></em></span>
		<h3><%= name %></h3>
	<% }else{ %>
		<span class="subtext">by:<em><%= members %></em></span>
		<h3><%= name %></h3>
	<% } %>
	</script>
	<script type="text/javascript" charset="utf-8">
	    var loggedIn = {{logged_in|yesno:"true,false"}};
		var URL = "{{url}}";
		var TITLE = "{%if link.title%}{{link.title}}{%else%}{%if title%}{{title}}{%endif%}{%endif%}";
		var initData = {{link_detail|safe|escape}};
	</script>
	<script type="text/javascript" src="/site_media/jQuery/iframe/jquery-1.6.3.min.js"></script>
	<script type="text/javascript" src="/site_media/jQuery/iframe/jQuery-position-helper.js"></script>
	<script type="text/javascript" src="/site_media/jQuery/iframe/underscore.js"></script>
    <script type="text/javascript" src="/site_media/jQuery/iframe/backbone.js"></script>
    <script type="text/javascript" src="/site_media/jQuery/iframe/json2.js"></script>
	
    <script type="text/javascript" src="/site_media/jQuery/autoSuggest/jquery.autoSuggest.js"></script>
    <script type="text/javascript" src="/site_media/jQuery/iframe/popup.js"></script>
    <!--<script type="text/javascript" src="/site_media/jQuery/iframe/out.js"></script>-->
	
</body>
</html>