{% extends "home_base.html" %}

{% block js %}
	<script type="text/javascript" src="/site_media/js/jquery-validation-1.8.1/jquery.validate.js"></script>

{%endblock%}
{% block content %}
<h2 class='thanks_note'>&nbsp;</h2>
<div class="white_box center_box">
	<h2 class='text_align bigHeadOverCenterBox' >Sign In</h2>
	{% if message %}
	<div class="error-msg">{{message}}</div>
	{%endif%}
	<form method="POST" id='registerForm' class='text_align home_form'>{% csrf_token %}
        <input type="text" class="required input_box email" name="email" id="email_id" placeholder="Email"/>
		<br/>
		<input type="password" name="password" id="pass" class='required input_box' placeholder="Password" />
		<br /><br />
		<input class="button" type="submit" name="submit" value="Login" />
	</form>
	<br />
	<a style="" href="/forgotpassword/">Forgot Password</a>
	<span><a style="margin-left:15px" href="/">Sign-up</a></span>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$("#registerForm").validate();
	});
</script>
{% endblock %}
