{% load typogrify %}
{% load get_domain %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>Focal Notifications</title>
	<link rel="stylesheet" href="/site_media/stylesheet/css/notification.css" /> 
	<script src="/site_media/visualsearch/build/dependencies.js" type="text/javascript"></script>
	<script type="text/javascript" src="/site_media/jQuery/notification.js"></script>
	<!--
	<script type="text/javascript" src="/site_media/js/mootools.js"></script>
	<script type="text/javascript" src="/site_media/js/mootools-more.js"></script>
	<script type="text/javascript" src="/site_media/js/notification.js"></script>
	-->
</head>
<body>
	<div id="notification" class="notification">
		<div id="main_pane">
			<h4>Notifications <!-- <a class="right" >View All &raquo;</a> --></h4>
			<ul id="notification-ul">
			{%if notifiction_list%}
			    {%for i in notifiction_list%}
			    	<li rel="{{i.id}}" class="notification-li">
			    		<img class="icon" src="/site_media/img/not-comment.png" alt="" />
			    		<div class="notification_entry">
			    			<div class="noti_context">{{i.data.context.title}}</div>
			    			<div class="noti_head">Posted by <em>{{i.data.user.name|title}}</em> {{i.creation_time|timesince}} ago</div>
			    			<div class="noti_body"><span>{{i.data.link.title}}</span></div>
			    		</div>
			    	</li>
			    {%endfor%}
			
			{%else%}
			<li style="padding:10px;">No Notification</li>
			{%endif%}
			</ul>
		</div>
		<!-- Code Commented was for Google+like notifications -->
		<!--<div id="next_pane">
			<h4>
				<a href="#" onclick="showHome();return false;">&laquo; Back to Notifications</a>
				<div class="right">
					<a id="link-prev" href="#" onclick="showPrev(this);return false;">&lsaquo; Newer</a> | 
					<a id="link-next" href="#" onclick="showNext(this);return false;">Older &rsaquo;</a>
				</div>
			</h4>
			<div id="notification_container">
			{%for i in notifiction_list%}
			{% ifequal i.ntype "newlink" %}
				<div id="notification-{{i.id}}" class="notification-pane">
					<div class="entry">
					    {%domain for i.data.link.url%}
					    <h4 class="title">
					        {%if i.data.link.favicon%}<img class='favi' src="{{i.data.link.favicon}}" /> {%endif%}
							{{domain}}
						</h4>
					    <h3>
							<a class="bookmark" href="{{i.data.link.url}}">{{i.data.link.title}}</a>
						</h3>
						<div class="subtext">
							
							  Posted by
							  <a href="javascript:void(0);">{{i.data.user.name}}</a> in 
							  <a class="context" href="?activity={{i.data.context.key}}">{{i.data.context.title}}</a> <br />
							  {{i.creation_time|timesince}} ago
						</div>
						
						<form action="/postcomment/" method="post" id="frm-new-comment-{{i.data.link.id}}" >
							{%csrf_token%}
							<input type="hidden" value="" name="parent" />
							<input type="hidden" name="url" value="{{i.data.link.url}}" id="id_url">
							<textarea name="comment" tabindex=1 class="inactive">Add a comment...</textarea> <br />
							<div class="context_select hide">
								<span>Post Under</span>
								<button type="button" class="more_context" tabindex=4>Context &#9660;</button>
								<ul class="ul_dropdown popup hide" rel="context">
									<li class="popupli selected" rel="{{all}}">All</li>
									{% for u,al in l.linkshared_status%}
									{% for a in al%}
										<li class="popupli selected" rel="{{a.id}}">{{ a.activityname }}</li>
									{% endfor %}
									{% endfor %}
								</ul>
							</div>
							<div class="buttons hide">
								<input type="submit" value="Post Comment" class="submit" tabindex=2 />
								<input type="button" value="Cancel" class="cancel" onclick="this.getParent().getElement('textarea').set('value','');" tabindex=3 />
								<img src="/site_media/img/spinner.gif" class="loader hide">
							</div>
							<br />
						</form>
						
						<div class="comments_container">
							{% for comment in i.comments %}
								<div class="comment level-{{comment.level}}">
									<div class="comment_user">
										<a href="#">
											<img src="/site_media/img/comment.jpg">
										</a>
									</div>
									<div class="comment_body">
										<div>{{comment.by}} <span class="subtext">Says:</span></div>
										<p>{{comment.text|force_escape|typogrify|linebreaks}}</p>
										<div>
											<span class="subtext">Posted {{comment.date}} ago | 
											</span><a href="#" class="a_show_form" rel="frm-comment-{{comment.id}}">Reply</a>
										</div>
										<form id="frm-comment-{{comment.id}}" action="/postcomment/" method="post" class="hide">
											{%csrf_token%}
											<input type="hidden" value="{{comment.id}}" name="parent" />
											<input type="hidden" name="url" value="{{l.link}}" />
											<input type="hidden" name="contexts" value="{%for c in comment.activities%}{{c.0}}{%if not forloop.last%},{%endif%}{%endfor%}" />
											<textarea name="comment"></textarea> <br />
											<input type="submit" value="Post Comment" class="submit" />
											<input type="button" value="Cancel" class="cancel" onclick="this.getParent().addClass('hide');this.getParent().getElement('textarea').set('value','');" />
											<img src="/site_media/img/spinner.gif" class="loader hide">
										</form>
									</div>
								</div>
							{% endfor %}
						</div>
						
					</div>
				</div>
			{% endifequal %}
			{%endfor%}
			</div>
		</div>
	--></div>
	
</body>
</html>