{% extends "home_base.html" %}

{% block js %}
    <script type="text/javascript" src="/site_media/js/jquery-validation-1.8.1/jquery.validate.js"></script>
{%endblock%}

{% block content %}
<h2 class='thanks_note'>Thanks for being interested ! Hope you appreciate the thought and care we've put into building Focal</h2>

<div class="center_box">
    <h2 class='text_align bigHeadOverCenterBox'>Sign Up</h2>    
    
        
        {%if error%}<div class="error-msg">{{error}}</div>{%endif%}
        <form method="POST" id='registerForm' class='text_align home_form'>{% csrf_token %}
            <div class='name common'>   
                <span style='width:155px;display: block; float: left;'><input type="text" class="required register_input_box input_box" name="first_name" id="first_name" placeholder="First name" /></span>
                <span style='width:155px;display: block; float: right;'><input type="text" class="required register_input_box input_box" name="last_name" id="last_name" placeholder="Last Name" /></span>
                <div class='clearfloat'></div>
            </div>
            <div class='nickname common' style=''>
                <input type="text" class="required register_input_box input_box" name="nickname" id="nickname" placeholder="Nickname" />
            </div>
            <div class='email common' style=''>
            {%if invite_req%}
                {%if invite_req.email_id%}
                    <input type="text" class="required uneditable-input register_input_box email input_box" name="email" id="email_id" value="{{invite_req.email_id}}" readonly  />
                {%else%}
                    <input type="text" class="required uneditable-input register_input_box email input_box" name="email" id="email_id" placeholder="E-mail ID"  />
				{%endif%}
            {%else%}
                <input type="text" class="required register_input_box email input_box" name="email" id="email_id" placeholder="Email" />
            {%endif%}
            </div>
            <div class='password common' style=''>
                <input type="password" class="required register_input_box input_box" name="pass1" id="pass1" placeholder="Password" />
            </div>
            {%if invite_req%}
                <input type="hidden" name="invite_code" id="invite_code" value="{{invite_req.launch_invite_code}}"/>
            {%endif%}
            
            <input id='submitbutton' class="button" value="Sign me up" type="submit"/>
        </form>
    
        <br/>
        <h2 class='text_align'><span><a style="margin-left:15px" href="/login/">Sign-in</a></span> if you already have a login!</h2>

    <div class="clearfix"></div>

<script type="text/javascript">
var autoUsername = true;
$(document).ready(function(){
	$("#registerForm").validate({
	  rules: {
		password: "required"
	  }
	});
	$('#first_name').bind('keyup blur',function() {
	  autoFillUsername();
	});
	$('#last_name').bind('keyup blur' ,function() {
	  autoFillUsername();
	});

});
    
function autoFillUsername(){
    if(autoUsername){
        $('#nickname').val($("#first_name").val().slice(0,1).toUpperCase() + $("#first_name").val().slice(1) + $("#last_name").val().slice(0,1).toUpperCase());
    }
}

</script>
</div>
{% endblock %}
