  {%load typogrify%}
  {%load get_friends%}
  <div class="homeSideBar">
		<h4 class="context">
      Contexts 
      <!-- <a rel="new_activity_form_ajax" href="/create/" id="add_context_link" class="new_context_link add_context new" title="Create new Context">New</a> -->
    </h4>
        <ul>
              {% for act in user_activity_list%}
        	    <li>
				  <a href="#/search/{{sterm}}/filter/{{filter}}/context:{{act.activityname}}" class="search_filter" name="{{act.activityname}}" type="context">{{act.activityname}}</a>
				  <em>{{user_activity_list|lookup:act}}</em>
			    </li>
              {% endfor %}
          
        </ul>
		
        <h4 class="friends">Friends</h4>
        {% friends of user%}
        <ul>
            {% for u, count in friends %}
              {%if u in user_friend_list%}
        	     <li><a href="#/search/{{sterm}}/filter/{{filter}}/from:{{u.nickname}}" class="search_filter" name="{{act.activityname}}" type="from">{{u.nickname}}</a><em>{{user_friend_list|lookup:u}}</em></li>
              {%else%}
                 <!-- <li><a href="?q={{sterm}}&filter={{filter}}&user={{u.get_user_key}}">{{u.nickname}}</a><em>0</em></li> -->
              {%endif%}
            {% endfor %}
			{% if not friends %}
			<li>No Friends</li>
			{% endif %}
        </ul>
    </div>    
    <div class="homeContent">
		
				<h2 class="headBig">
					Search Results 
					<span class="rightHead">Result{{total_result|pluralize}} Found : <span id="span_total_results">{{total_result}}</span></span>
				</h2>
				<h4 id="facets" class="hide">Result{{total_result|pluralize}} {% if search_context %}under contexts <b>Some</b>{%endif%}</h4>
		<div id="entry_container">
        
		{% include "single_entry.html" with noComment="True" %}
        
        {% if not ret_list %}
            <p class="no_entry">No links found for specified query.</p>
        {% endif %}
        </div>
        <div id="load_more" class="load_more">
            <span class="text">More..</span>
            <img src="/site_media/img/loadinfo.net.gif" />
        </div>
		
    </div>
    <div class="clearfix"></div>