{% extends "base.html" %}
{% load typogrify %}
{% load get_domain %}


{% block title %}Your Bookmarks : {% endblock %}

{% block content %}
    {{total_result}}
    {% include "search_result_ajax_html.html" %}

{% endblock %}

{% block js %}
    <script type="text/javascript" src="/site_media/jQuery/entry_handler.js"></script>
    <script type="text/javascript" src="/site_media/jQuery/ScrollLoader.js"></script>
    <script type="text/javascript" src="/site_media/jQuery/MoogPlus.js"></script>
    <script type="text/javascript" src="/site_media/jQuery/user_home.js"></script>
    <!--<script type="text/javascript" src="/site_media/jQuery/tipsy/jquery.tipsy.js"></script>-->
	  <!--<script type="text/javascript" src="/site_media/visualsearch/build/parser.js"></script>-->
    <script type="text/javascript">
		var currentPage = 1;
		var hasNext = {{ has_next|yesno:"true,false" }};
		var searchQuery = '{{sterm|addslashes}}';
		var searchFacet = '{{filter|addslashes}}';
    </script>
{% endblock %}

{% block css %}
	<!--<link rel="stylesheet" href="/site_media/jQuery/tipsy/tipsy.css" />-->
{% endblock %}
