{%load typogrify%}
<div class="comment level-{{comment.level}}">
	<!-- <div class="comment_user">
		<a href="#">
			<img src="/site_media/img/comment.jpg">
		</a>
	</div> -->
	<div class="comment_body">
		<p>
			{{comment.comment_text|force_escape|typogrify|linebreaks}}
		</p>
		<div class="comment-subtext">
			Posted by, <em>{{comment.user.nickname}}</em>, 
			<span class="subtext">{{comment.submit_date|timesince}}</span> ago |  
			<a href="#" class="a_show_form" rel="frm-comment-{{comment.id}}">Reply</a>
		</div>

		<form id="frm-comment-{{comment.id}}" action="/postcomment/" method="post" class="hide">
			{%csrf_token%}
			<input type="hidden" value="{{comment.id}}" name="parent" />
			<input type="hidden" name="url" value="{{link.link}}" />
			<input type="hidden" name="contexts" value="{{actids}}" />
			<textarea name="comment"></textarea> <br />
			<input type="submit" value="Post Comment" class="submit button secondary" />
			<!-- <input type="button" value="Cancel" class="cancel" onclick="this.getParent().addClass('hide');" /> -->
			<img src="/site_media/img/spinner.gif" class="loader hide">
		</form>
	</div>
</div>
