{% load typogrify %}
{% load get_domain %}
{%for l in ret_list%}
<div class="entry">
    {%domain for l.link%}
    <!-- <h4 class="title">
        {%if l.favicon%}<img class='favi' src="{{l.favicon}}" /> {%endif%}
		{{domain}}
	</h4> -->
	{% if l.special %}
		<div class="special">
			{{l.title|safe}}
		</div>
	{% else %}
		<a href="javascript:void(0);" rel="div_edit_context" class="edit_link hidden_link">+ Add to</a>
		{%if l.favicon%}
			<a href="javascript:void(0);" class="favicon-link" rel="twipsy" data-original-title="{{domain}}">
				<img class='favi' src="{{l.favicon}}" />
			</a>
		{%else%}
			<a href="javascript:void(0);" class="favicon-link" rel="twipsy" data-original-title="{{domain}}">
				<img src="/site_media/img/default_favicon.png" class="favi" />
			</a>
		{%endif%}
	    <h3>
	    	<a rel="{{l.id}}" class="bookmark" href="{{l.link}}">{%firstof l.title|force_escape l.link%}</a>
		</h3>
	{% endif %}
	
	<!--<h4><img class='favicon' src="{{l.favicon}}" /> </h4>-->
	<span class="subtext">
	    {% if l.special %}
			{{l.shared_time|timesince}} ago
		{% endif %}
	</span>
    <div class="subtext">
    	
		<!-- {% if not noComment %}
        {% for u,al in l.linkshared_status%}
          Posted by
          <a href="#/user/{{u.get_user_key}}">{{u.nickname}}</a> in 
          {% for a in al%}
            <a class="context" id='c-{{a.id}}' {%if not a.can_delete%}tip="Cannot remove link from this Channel" edit="false" {%endif%}href="#/context/{{a.get_activity_key}}">{{a.activityname}}</a>{%if not forloop.last%}, {%endif%}
          {% endfor %}
          {%if not forloop.last%} | {%endif%}
        {% endfor %}
        {{l.shared_time|timesince}} ago
		{%endif%}
 		{% if not noComment %}
 			{% if l.linkshared_status %} 
 			 | <a href="#" class="a_show_form" rel="frm-new-comment-{{l.id}}">Comment</a><br />
 			{% endif %}
 		{% endif %} -->
        

        {%if l.tags%}<h5 class="tags">{{l.tags}}</h5>{%endif%}

        {% if l.linkshared_status %}
	        <div class="context-container">
		        <!-- <h6>Context</h6> -->
		        <div class="contexts">
			        {% if l.linkshared_status %}
			            {% for u,al in l.linkshared_status %}
							{% for a in al%}
							<div class="context-name">
								<a href="#/context/{{a.get_activity_key}}" rel="div_edit_context" class="context_link">{{a.activityname}}</a>
								<!-- <span>by <em>{{u.nickname}}</em></span>
								<div>{{l.shared_time|timesince}} ago</div> -->
								<div>2 hours <span> <em>{{u.nickname}}</em></span> </div>
							</div>
							{% endfor %}
				        {% endfor %}
			        {% endif %}
		        </div>
	        </div>
        {% endif %}

        {% if not l.special %}
		{% if not noComment %}
			<div class="comment-head">
				{{l.comments|length}} <a href="#" class="a_show_form" rel="frm-new-comment-{{l.id}}">Comment</a>
			</div>
			{% if l.comments|length > 1  %}
				<div class="view_all_comment">
					<a href="/discuss/{{l.id}}/">View all {{l.comment_count}} Comments</a> by Nitin, Vipul, Rohit
				</div>
			{% endif %}
			<div class="comments_container">
				{% for comment in l.comments %}
					<div class="comment level-{{comment.level}}">
						<!-- <div class="comment_user">
							<a href="#">
								<img src="/site_media/img/comment.jpg">
							</a>
						</div> -->
						<div class="comment_body">
							
							<p>
								{{comment.text|force_escape|typogrify|linebreaks}}
							</p>
							<div class="comment-subtext">
								
									Posted by, <em>{{comment.by}}</em>, 
									<span class="subtext">2 hours</span> ago |  
									<a href="#" class="a_show_form" rel="frm-comment-{{comment.id}}">Reply</a>
								
							</div>
							<form id="frm-comment-{{comment.id}}" action="/postcomment/" method="post" class="hide">
								{%csrf_token%}
								<input type="hidden" value="{{comment.id}}" name="parent" />
								<input type="hidden" name="url" value="{{l.link}}" />
								<input type="hidden" name="contexts" value="{%for c in comment.activities%}{{c.0}}{%if not forloop.last%},{%endif%}{%endfor%}" />
								<textarea class="comment-textarea" name="comment"></textarea> <br />
								<input type="submit" value="Post Comment" class="submit button primary" />
								<a href="javascript:void(0)" class="cancel">Cancel</a>
								<!-- <input type="button" value="Cancel" class="cancel button secondary" onclick="" /> -->
								<img src="/site_media/img/spinner.gif" class="loader hide">
							</form>
						</div>
					</div>
				{% endfor %}
			</div>
			<form action="/postcomment/" method="post" id="frm-new-comment-{{l.id}}" class="hide" >
				{%csrf_token%}
				<input type="hidden" value="" name="parent" />
				<input type="hidden" name="url" value="{{l.link}}" id="id_url">
				<textarea class="comment-textarea" name="comment" tabindex=1></textarea> <br />
				<div class="context_select">
					<span>Post Under</span>
					<button type="button" class="more_context button secondary" tabindex=4>Context &#9660;</button>
					<ul class="ul_dropdown popup hide" rel="context">
						<li class="popupli selected" rel="{{all}}">All</li>
						{% for u,al in l.linkshared_status%}
						{% for a in al%}
							<li class="popupli selected" rel="{{a.id}}">{{ a.activityname }}</li>
						{% endfor %}
						{% endfor %}
					</ul>
				</div><input type="submit" value="Post Comment" class="submit button primary" tabindex=2 />
				<a href="javascript:void(0)" class="cancel">Cancel</a>
				<!-- <input type="button" value="Cancel" class="cancel button secondary" onclick="" tabindex=3 /> -->
				<img src="/site_media/img/spinner.gif" class="loader hide">
			</form>
		{% endif %}
		{% endif %}
    </div> 
</div> 
{%endfor%}
