{% load typogrify %}
{% load get_domain %}
{%for l in ret_list%}
<div class="entry">
    {%domain for l.link%}
    <!-- <h4 class="title">
        {%if l.favicon%}<img class='favi' src="{{l.favicon}}" /> {%endif%}
		{{domain}}
	</h4> -->
	{% if l.special %}
		<div class="special">
			{{l.title|safe}}
		</div>
	{% else %}
		<!-- <a href="javascript:void(0);" rel="div_edit_context" class="edit_link hidden_link">+ Add to</a> -->
		{%if l.favicon%}
			<a href="javascript:void(0);" class="favicon-link" rel="twipsy" data-original-title="{{domain}}">
				<img class='favi' src="{{l.favicon}}" />
			</a>
		{%else%}
			<a href="javascript:void(0);" class="favicon-link" rel="twipsy" data-original-title="{{domain}}">
				<img src="/site_media/img/used/fevicon.png" class="favi" />
			</a>
		{%endif%}
	    <h3>
	    	<a rel="{{l.id}}" class="bookmark" href="{{l.link}}">{%firstof l.title|force_escape l.link%}</a>
		</h3>
	{% endif %}
	
	<!--<h4><img class='favicon' src="{{l.favicon}}" /> </h4>-->
	<span class="subtext">
	    {% if l.special %}
			{{l.shared_time|timesince}} ago
		{% endif %}
	</span>
    <div class="subtext">
        {%if l.tags%}
        	<h5 class="tags">
        		{{l.tags}}
        		<a href="javascript:void(0);" class="edit hide tags" rel="div_edit_context" class="edit_link hidden_link"></a>
        	</h5>
        {%endif%}
        {% if l.linkshared_status %}
	        <div class="context-container">
		        <!-- <h6>Context</h6> -->
		        <a href="javascript:void(0);" class="edit hide" rel="div_edit_context" class="edit_link hidden_link"></a>
		        <div class="contexts">
			        
		            {% for u,a,st in l.linkshared_status %}
						<div class="context-name">
							<div><span>{{u.nickname}}</span> {{st|trim_time}}</div>
							<a href="#/context/{{a.get_activity_key}}" rel="div_edit_context" class="context_link">{{a.activityname}}</a>
							
						</div>
						<!-- {% if forloop.counter|divisibleby:"4" %}
							<div class="clearfloat"></div>
						{% endif %} -->
			        {% endfor %}
			        <div class="clearfloat"></div>
			        {% if l.linkshared_status|length > 4 %}
			        	<a href="javascript:void(0);" class="more-context"></a>
			        {% endif %}
			        
		        </div>
	        </div>
        {% endif %}

        {% if not l.special %}
		{% if not noComment %}
			<div class="comment-head">
				
				
				<a class="link_all_comment" rel="{{l.id}}" href="/discuss/{{l.id}}/">{{l.comment_count}}</a>
				
				&nbsp; | &nbsp;
				<a href="#" class="new-comment-link a_show_form" rel="frm-new-comment-{{l.id}}">Post</a>
				<!-- <div class="line"></div> -->
			</div>
			
			<!-- 	<div class="view_all_comment">
					<a class="link_all_comment" rel="{{l.id}}" href="/discuss/{{l.id}}/">View all {{l.comment_count}} Comments</a> by Nitin, Vipul, Rohit
				</div> -->
			<div class="comments_container" id="comment-container-{{l.id}}">
				{% for comment in l.comments %}
					<div class="comment level-0" level="{{comment.level}}">
						<!-- <div class="comment_user">
							<a href="#">
								<img src="/site_media/img/comment.jpg">
							</a>
						</div> -->
						<div class="comment_body">
							<p>
								{{comment.text|force_escape|typogrify|linebreaks}}
							</p>
							<div class="comment-subtext">
								
									Posted by, <em>{{comment.by}}</em>, 
									<span class="subtext">{{comment.date|trim_time}}</span> ago |  
									<a href="#" class="a_show_form" rel="frm-comment-{{comment.id}}">Reply</a>
								
							</div>
							<form id="frm-comment-{{comment.id}}" action="/postcomment/" method="post" class="hide">
								{%csrf_token%}
								<input type="hidden" value="{{comment.id}}" name="parent" />
								<input type="hidden" name="url" value="{{l.link}}" />
								<input type="hidden" name="contexts" value="{%for c in comment.activities%}{{c.0}}{%if not forloop.last%},{%endif%}{%endfor%}" />
								<textarea class="comment-textarea" name="comment"></textarea> <br />
								<input type="submit" value="Post Comment" class="submit button secondary" />
								<!-- <a href="javascript:void(0)" class="cancel">Cancel</a> -->
								<!-- <input type="button" value="Cancel" class="cancel button secondary" onclick="" /> -->
								<img src="/site_media/img/spinner.gif" class="loader hide">
							</form>
						</div>
					</div>
				{% endfor %}
			</div>
			<form action="/postcomment/" method="post" id="frm-new-comment-{{l.id}}" class="hide" >
				{%csrf_token%}
				<input type="hidden" value="" name="parent" />
				<input type="hidden" name="url" value="{{l.link}}" id="id_url">
				<textarea class="comment-textarea" name="comment" tabindex=1></textarea> <br />
				<div class="context_select">
					<span>Post Under</span>
					<button type="button" class="more_context button secondary" tabindex=4>Context &#9660;</button>
					<ul class="ul_dropdown popup hide" rel="context">
						<li class="popupli selected" rel="{{all}}">All</li>
						{% for u,a,st in l.linkshared_status%}
							<li class="popupli selected" rel="{{a.id}}">{{ a.activityname }}</li>
						{% endfor %}
					</ul>
				</div><input type="submit" value="Post Comment" class="submit button secondary" tabindex=2 />
				<!-- <a href="javascript:void(0)" class="cancel">Cancel</a> -->
				<!-- <input type="button" value="Cancel" class="cancel button secondary" onclick="" tabindex=3 /> -->
				<img src="/site_media/img/spinner.gif" class="loader hide">
			</form>
			<!--
			<script type="text/javascript">
				var div = $('#comment-container-{{l.id}}');

				console.log($('.comment',div).map(function(index,item){return($(item).attr('level'))}));
			</script>
			-->
		{% endif %}
		{% endif %}
    </div> 
</div> 
{%endfor%}
