<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>Focal & {{service}}</title>
    <link rel="shortcut icon" href="/site_media/img/favicon.ico"/>
    <link rel="stylesheet" href="/site_media/css/main.css" />
    <link rel="stylesheet" href="/site_media/css/social_auth.css" />
    <link rel="stylesheet" href="/site_media/css/button.css" /> 
    <!--[if !IE 7]>
	<style type="text/css">
		#w {display:table;height:100%}
	</style>
<![endif]-->
</head>
<body>
	
<div id="w">

	<div id="m">
    <div id="header">
    <div class='c'>
        <h1><a id="headerLogo" href="/">Focal</a></h1>
        {% ifequal service "Twitter" %}
        <img class="h_image" src="http://a1.twimg.com/a/1307477998/images/logos/full_logo_blue.png" />
        {% endifequal %}
        {% ifequal service "Facebook" %}
        <img class="h_image" src="/site_media/img/n_1234209334_facebook_logo.jpg" />
        {% endifequal %}
    </div>
    </div>
    <div class='c p'>
    {% if accept %}
        <img style='float:right;margin-left:15px;' src="/site_media/img/{{service|lower}}-share.png" alt=""/>
        <h2>Great !!! You have linked your {{service|lower}} account with Focal.</h2>
        We now have created a new activity "Share on {{service}}", Links saved to this activity will automatically will be shared on to {{service|lower}}. <br />
    {% else %}
        <img style='float:right' src="/site_media/img/{{service|lower}}-share.png" alt=""/>
        <h2>&#9785; Sorry to see you not linking {{service}}.</h2>
        Linking Focal with {{service}} comes with real advantage. After linking your {{service|lower}} account you'll be able to share webpages on {{service}} in a single click. 
    {% endif %}
    </div>
	</div>

</div>

<div id="f">
    <div class='c p'>
    <input type="button" onclick="close_win();" class="right button" value="Close" />
    </div>
</div>

<script type="text/javascript">
function close_win(){
    try{window.opener.site_linked('{{service|lower}}', '{{accept}}');}catch(e){}
    self.close();
}
</script>
</body>
</html>