{% extends "base.html" %}
{% load typogrify %}
{% load get_domain %}


{% block title %}Home : {% endblock %}

{% block content %}
	  <div id="bubble_plugin" class="hide bubble">
   		<div class="arrow rightTop"><div></div></div>
   		<a class="close" href="#" rel="divTools">x</a>
   		<img src="/site_media/img/browser_icon.png" alt="">
   		<a href="/browser_plugins/">Get the  Browser plugins</a>
   	</div>
   	<div id="bubble_context" class="hide bubble text-center">
   		<div class="arrow leftArrow"><div></div></div>
   		<a class="close" href="#" rel="link-new-context">x</a>
   		<a href="javascript:void(0)" onclick="$('#link-new-context').trigger('click');">Create a new context and start sharing links</a>
   	</div>
   	<div id="bubble_import" class="hide bubble text-center">
   		<div class="arrow rightTop"><div></div></div>
   		<a class="close" href="#" rel="divTools">x</a>
   		<a href="/import_export/">Import your bookmarks from browser, delicous etc</a>
   	</div>

	{% include "user_home_ajax_html.html" %}
    
   	

{% endblock %}

{% block js %}
    
    
    
    <!--<script type="text/javascript" src="/site_media/jQuery/tipsy/jquery.tipsy.js"></script>-->
    
{% endblock %}

{% block css %}
	<!--<link rel="stylesheet" href="/site_media/jQuery/tipsy/tipsy.css" />-->
{% endblock %}
