{%load get_friends%}
{%load has_invitation_sent%}
{% friends of user%}
    <div class="homeSideBar">
		<h4 class="context">
			<a id="link-new-context" data-controls-modal="new_activity_form_ajax" data-backdrop="true" data-keyboard="true" href="/create/" class="new" title="Create new Context">
				<img src="/site_media/img/used/add-blue-16.png" />
			</a>
			Contexts 
			
		</h4>
        <ul>
            {% for act in user.activities %}
        	<li {% if act.get_activity_key in selected_activity %}class="selected"{% endif %}>
				<!--<div class="changeColor activity-color-div"></div>-->
				<em>{{act.link_count}}</em>
				<a class="context {{act.activityname}}" key="{{act.get_activity_key}}" href="#/context/{{act.get_activity_key}}">{{act.activityname}}</a>
				
			</li>
            {% endfor %}
        </ul>
		
        <h4 class="friends">Members</h4>
        <ul>
            {% for u, count in friends %}
        	<li>
        		<em>{{count}}</em>
        		<a class="user" key="{{u.get_user_key}}" href="#/user/{{u.get_user_key}}">{{u.nickname}}</a>
        		
        	</li>
            {% endfor %}
			{% if not friends %}
			<li>No Friends</li>
			{% endif %}
        </ul>
    </div>    
    <div class="homeContent">
		{% if selected_activity %}
			<h2 class="headSmall hide"><h2>
			<h2 class="headBig">
				{% for act in user.activities %}{% if act in selected_activity %}{{act.activityname}}{%endif%}{%endfor%}
			</h2>
			<ul class="subLinks">
				<li>Links</li>
				<li><a href="/context/{% for act in user.activities %}{% if act in selected_activity %}{{act.get_activity_key}}{%endif%}{%endfor%}/manage">Members</a></li>
				{# <li><a href="#">Members</a></li> #}
			</ul>
		{% else %}
			{% if selected_users %}
				<h2 class="headSmall hide"><h2>
				<h2 class="headBig">
					{% for  u, count in friends %}{% if u in selected_users %}{{u.nickname}}{%endif%}{%endfor%}
				</h2>
				<ul class="subLinks hide"></ul>
			{% else %}
				<h2 class="headSmall">Feed</h2>
				<h2 class="headBig hide"></h2>
				<ul class="subLinks hide"></ul>
			{% endif %}
		{% endif %}

		<div id="import_message" class="invitation hide">
			<a href="javascript:void(0);" class="close" onclick="$('#import_message').addClass('hide');createCookie('no-import-message','true',180);">X</a>
			<div>You can <a href="/import_export/">Import bookmarks</a> from delicious, browser, etc.</div>
		</div>
		
        <div id="entry_container">
        {% if not selected_activity %}
        	{% if not selected_users %}
        		{%pending_invitation for user%}
				{% for invitation in pending_invitation %}
					<div class="invitation">
					<div>
						<form>
							{% csrf_token %}
							<input type="hidden" name="email" value="{{user.email}}" />
							<input type="hidden" value="{{invitation.context.get_activity_key}}" name="activity_key" />
							<input type="hidden" value="{{invitation.context.referal_code}}" name="referalcode" />
							<input type="hidden" value="{{user.get_user_key}}" name="user_key" />
							<input type="hidden" value="true" name="is_ajax" />
						</form>
						
						<u>{{invitation.context.created_by.nickname}}</u> has invited you to join <a href="{{invitation.url}}">{{invitation.context.activityname}}</a> context. 
						<input type="button" value="Reject" class="button secondary" />
						<input type="button" value="Accept" class="button primary" />
						<img src="/site_media/img/8.gif" class='right loader hide' />
						<p class="clearfloat"></p>
					</div>
					</div>
				{% endfor %}
				{% if pending_invitation %}
				<script type="text/javascript">
					$(".invitation input.button").click(function(e){
						invite_action($(this).parents('.invitation').eq(0), $(this));
					});
				</script>
				{% endif %}
			{% endif %}
		{% endif %}

		{% include "single_entry.html" %}
        
        {% if not ret_list %}
            <p class="no_entry">Looks like you don't have any link shared. Download Chrome plugin and start saving and sharing new links.</p>
        {% endif %}
        </div>
        <div id="load_more" class="load_more">
            <span class="text">...</span>
            <img src="/site_media/img/loadinfo.net.gif" />
        </div>
		
    </div>
    <div class="clearfix"></div>