{{new_user.first_name}} {{new_user.last_name}},<br/><br/>

Welcome to <a href="http://www.focal.io/">focal!</a><br/><br/>


<a href="http://www.focal.io/">Focal</a> is a simple way to share and curate links within groups. It lets you create groups around contexts and share links within those contexts. Not only is it great for sharing within groups but it also lets you keep all your links -bookmarks, fav.’s, shared across – browsers, twitter, delicious etc. at one place.<br/><br/>
Getting started:<br/><br/>
<b>Create Contexts</b><br/>
Contexts are groups with shared interests. Create a context and invites other users to join.Create contexts of your life that are shared with others. Think Projects, Movies, Reading, Travel, Music, Hobbies, Learning etc. Things that are more fun when shared. Discover and share curated links within these contexts.<br/><br/>
<a href="http://www.focal.io/">create context</a><br/><br/>

<b>Focal Plugin</b><br/>
Focal plugins are a nice way to bookmark links or share within contexts. It’s a very simple tool and works like a charm. All your contexts appear in the plugin, couple of clicks and you’re done whatever it is that you want to do. Focal Plugins are available for all major browsers.<br/><br/>

<a href="http://www.focal.io/browser_plugins/">get your plugin</a><br/><br/>

we're here to help , write to us if you need help:  help@focal.io<br/><br/>

so long!,<br/>
focal team.<br/>
