/* This file is the common file used in logged in as well as not logged in state */
/* So it contains header content and footer structer 		 */

/* Nice body */
html, body {height: 100%;}

#wrap {
    min-height: 100%;
}

#main {
	overflow:auto;
	padding-bottom: 20px;
}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -20px; /* negative value of footer height */
	height: 20px;
	text-align:center;
	clear:both;
	a{
		color: #111;
	}
} 

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}

body {
  color: #555;
  text-rendering: optimizeLegibility;
  #font > .sans-serif(normal,13px,1.6);
}

#header{
    background: #999 url('/site_media/img/header_bg.png') repeat-x left top;
    /*#gradient > .vertical(@color,darken(@color,6));*/
    margin-bottom:30px;
    color:white;
    width: 100%;
    top: 0px;
    a{
        color:white;
    }
    h1{
        width: 220px;
        float: left;
        padding-top:2px;
        padding: 6px 0 10px;
        vertical-align: middle;
    }
    h1 a{
        font-size:28px;
        line-height:1;
        color:white;
        text-shadow: 0 1px 2px rgba(0,0,0,.5);
    }
    .smallIcons{
    	width: 23px;
    	overflow: hidden;
    }
}

@linkColor:         #56d9fc;/*#49A7F3*/
@linkColorHover:    darken(@linkColor, 10);
a, a:visited {
  color: @linkColor;
  text-decoration: none;
  &:hover {
    color: @linkColorHover;
  }
}


input, textarea {
  .trainsition(border linear 0.2s, box-shadow linear 0.2s);
  .box-shadow(inset 0 1px 3px rgba(0, 0, 0, 0.1));
}
input:focus, textarea:focus {
  outline: 0;
  border-color:#8FCDEE; 
  .box-shadow(inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px #8FCDEE);
}