/* Bootstrap file for most used stuff */

@blue-border: #6BE8FF;

// Utility Classes
.hide{
    display:none;
}
.text-left{
	text-align: left;
}
.text-center{
  text-align:center;
}
.text-right{
  text-align:right;
}
.favi{
  width:16px;
  height:16px;
}
.left{float:left;}.right{float:right;}
.left70 { width:70%; float:left; }
.right30{ width:30%; float:right;}
.left60 { width:60%; float:left; }
.right40{ width:40%; float:none; margin-left:60% }
.left80 { width:80%; float:left; }
.right20{ width:20%; float:none; margin-left:80% }
.left50 { width:50%; float:left; }
.right50{ width:50%; float:none; margin-left:50% }
.big-text-black{
  font-size:18px;
  color:#333;
  text-shadow:0 0 1px #fff;
}
.display-inline{
  display:inline-block;
  zoom:1;
  *display:inline;
}
.clearfloat{float:none;clear:both;}
// End Utility Classes
.font-family-narow{
  font-family:"Arial Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
// Clearfix for clearing floats like a boss h5bp.com/q
.clearfix() {
  zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    zoom: 1;
  }
  &:after {
    clear: both;
  }
}
.container {
  width: 960px;
  margin: 0 auto;
  .clearfix();
  position:relative;
}
.hide-overflow{
  overflow: hidden;
}

// Font Stacks
#font {
  .shorthand(@weight: normal, @size: 14px, @lineHeight: 20px) {
    font-size: @size;
    font-weight: @weight;
    line-height: @lineHeight;
  }
  .sans-serif(@weight: normal, @size: 14px, @lineHeight: 20px) {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: @size;
    font-weight: @weight;
    line-height: @lineHeight;
  }
  .serif(@weight: normal, @size: 14px, @lineHeight: 20px) {
    font-family: "Georgia", Times New Roman, Times, sans-serif;
    font-size: @size;
    font-weight: @weight;
    line-height: @lineHeight;
  }
  .monospace(@weight: normal, @size: 12px, @lineHeight: 20px) {
    font-family: "Monaco", Courier New, monospace;
    font-size: @size;
    font-weight: @weight;
    line-height: @lineHeight;
  }
}

.opacity(@opacity: 100) {
  filter: e(%("alpha(opacity=%d)", @opacity));
  -khtml-opacity: @opacity / 100;
    -moz-opacity: @opacity / 100;
         opacity: @opacity / 100;
}

// Border Radius
.border-radius(@radius: 5px) {
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.ie_css3{
  behavior: url(/site_media/ie-css3.htc);
}

// Drop shadows
.box-shadow(@shadow: 0 1px 3px rgba(0,0,0,.25)) {
  -webkit-box-shadow: @shadow;
  -moz-box-shadow: @shadow;
  box-shadow: @shadow;
}

// Transitions
.transition(@transition) {
	-webkit-transition: @transition;
	-moz-transition: @transition;
	-ms-transition: @transition;
	-o-transition: @transition;
	transition: @transition;
}

// Button
.button(@startColor: #f5f5f5, @endColor: #eee, @textColor: #333, @textShadow: 0 1px 1px rgba(255,255,255,.75), @fontSize: 13px, @padding: 9px 15px 10px, @borderRadius: 6px, @border: 1px solid #CCC) {
  display: inline-block;
  #gradient > .vertical(@startColor,@endColor);
  padding: @padding;
  text-shadow: @textShadow;
  color: @textColor;
  font-size: @fontSize;
  .border-radius(@borderRadius);
  border:@border;
  @shadow: inset 0 1px 0 rgba(255,255,255,.2), inset 0 -1px 0 rgba(0,0,0,.05);
  .box-shadow(@shadow);
  cursor:pointer;
  
  .transition(0.1s linear all);

  &:hover {
    background-position: 0 -15px;
    color:@textColor;
  }
  &:active{
  	.box-shadow(inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05));
  }
}

// Background clipping
.background-clip(@clip) {
  -webkit-background-clip: @clip;
     -moz-background-clip: @clip;
          background-clip: @clip;
}


// Gradients
#gradient {
  .horizontal (@startColor: #555, @endColor: #333) {
    background-color: @endColor;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, right top, from(@startColor), to(@endColor)); /* Konqueror */
    background-image: -moz-linear-gradient(left, @startColor, @endColor); /* FF 3.6+ */
    background-image: -ms-linear-gradient(left, @startColor, @endColor); /* IE10 */
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, @startColor), color-stop(100%, @endColor)); /* Safari 4+, Chrome 2+ */
    background-image: -webkit-linear-gradient(left, @startColor, @endColor); /* Safari 5.1+, Chrome 10+ */
    background-image: -o-linear-gradient(left, @startColor, @endColor); /* Opera 11.10 */
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",@startColor,@endColor)); /* IE6 & IE7 */
    -ms-filter: %("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",@startColor,@endColor); /* IE8+ */
    background-image: linear-gradient(left, @startColor, @endColor); /* the standard */
  }
  .vertical (@startColor: #555, @endColor: #333) {
    background-color: @endColor;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(@startColor), to(@endColor)); /* Konqueror */
    background-image: -moz-linear-gradient(@startColor, @endColor); /* FF 3.6+ */
    background-image: -ms-linear-gradient(@startColor, @endColor); /* IE10 */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @startColor), color-stop(100%, @endColor)); /* Safari 4+, Chrome 2+ */
    background-image: -webkit-linear-gradient(@startColor, @endColor); /* Safari 5.1+, Chrome 10+ */
    background-image: -o-linear-gradient(@startColor, @endColor); /* Opera 11.10 */
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@startColor,@endColor)); /* IE6 & IE7 */
    -ms-filter: %("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@startColor,@endColor); /* IE8+ */
    background-image: linear-gradient(@startColor, @endColor); /* the standard */
  }
  .directional (@startColor: #555, @endColor: #333, @deg: 45deg) {
    background-color: @endColor;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(@deg, @startColor, @endColor); /* FF 3.6+ */
    background-image: -ms-linear-gradient(@deg, @startColor, @endColor); /* IE10 */
    background-image: -webkit-linear-gradient(@deg, @startColor, @endColor); /* Safari 5.1+, Chrome 10+ */
    background-image: -o-linear-gradient(@deg, @startColor, @endColor); /* Opera 11.10 */
    background-image: linear-gradient(@deg, @startColor, @endColor); /* the standard */
  }
  .vertical-three-colors(@startColor: #00b3ee, @midColor: #7a43b6, @colorStop: 0.5, @endColor: #c3325f) {
    background-color: @endColor;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), color-stop(@colorStop, @midColor), to(@endColor));
    background-image: -webkit-linear-gradient(@startColor, color-stop(@colorStop, @midColor), @endColor);
    background-image: -moz-linear-gradient(@startColor, color-stop(@midColor, @colorStop), @endColor);
  }
}

// Background Image
.background(@url, @left:0px, @top:0px, @bgcolor:transparent, @repeat:no-repeat){
    background:@bgcolor url(@url) @repeat @left @top;
}
.size(@height: 5px, @width: 5px) {
  height: @height;
  width: @width;
}
.square(@size: 5px) {
  .size(@size, @size);
}
.smallMarginBottom(@maginBottom: 5px){
  margin-bottom:5px;
}

/* Clearize w/ adapted CSS Reset by Eric Meyer */
html, body { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; font-weight: normal; font-style: normal; font-size: 100%; line-height: 1; font-family: inherit; text-align: left; }
table { border-collapse: collapse; border-spacing: 0; }
ol, ul { list-style: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; }



/* This file is the common file used in logged in as well as not logged in state */
/* So it contains header content and footer structer 		 */

/* Nice body */
html, body {height: 100%;}

#wrap {
    min-height: 100%;
}

#main {
	padding-bottom: 60px;
}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -22px; /* negative value of footer height */
	height: 22px;
	text-align:center;
	clear:both;
	a{
		color: #111;
	}
} 

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}

body {
  color: #555;
  text-rendering: optimizeLegibility;
  #font > .sans-serif(normal,13px,1.6);
  /*text-align: center;*/
}

#header{
    background: #999 url('/site_media/img/header_bg.png') repeat-x left top;
    /*#gradient > .vertical(@color,darken(@color,6));*/
    margin-bottom:30px;
    color:white;
    width: 100%;
    top: 0px;
    a{
        color:white;
    }
    h1{
        width: 90px;
        float: left;
        margin-top:2px;
        vertical-align: middle;
        a#beta{
          width: 9px;
          line-height: 7px;
          font-size: 9px;
          float: left;
          color: #CCC;
          text-align: center;
          margin-top: 2px;
          margin-left: 1px;
        }
        a#headerLogo{
          margin-top:2px;
          color: white;
          font-size: 24px;
          display: block;
          width: 63px;
          float: left;
          text-indent: -900px;
          overflow: hidden;
          background:transparent url('/site_media/img/used/logo.png') no-repeat 0 0;
        }
    }
    .twitter-link{
      width:130px;
      padding-top:8px;
      float:left;
    }
    .smallIcons{
    	width: 23px;
    	overflow: hidden;
    }
}

@linkColor:         #3AE0FF;/*#56d9fc;#49A7F3*/
@linkColorHover:    darken(@linkColor, 10);
a, a:visited {
  color: @linkColor;
  text-decoration: none;
  &:hover {
    color: @linkColorHover;
  }
}

// POPOVERS
// --------

/*.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 5px;
  display: none;
  &.above .arrow { #popoverArrow > .above(); }
  &.right .arrow { #popoverArrow > .right(); }
  &.below .arrow { #popoverArrow > .below(); }
  &.left .arrow  { #popoverArrow > .left(); }
  .arrow {
    position: absolute;
    width: 0;
    height: 0;
  }
  .inner {
    background: #000;
    background: rgba(0,0,0,.8);
    padding: 3px;
    overflow: hidden;
    width: 280px;
    .border-radius(6px);
    .box-shadow(0 3px 7px rgba(0,0,0,0.3));
  }
  .title {
    background-color: #f5f5f5;
    padding: 9px 15px;
    line-height: 1;
    .border-radius(3px 3px 0 0);
    border-bottom:1px solid #eee;
  }
  .content {
    background-color: #fff;
    padding: 14px;
    .border-radius(0 0 3px 3px);
    .background-clip(padding-box);
    p, ul, ol {
      margin-bottom: 0;
    }
  }
}*/

// Modal Box
// MODALS
// ------

.modal-backdrop {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  // Fade for backdrop
  &.fade { opacity: 0; }
}

.modal-backdrop,
.modal-backdrop.fade.in {
  .opacity(80);
}
// PATTERN ANIMATIONS
// ------------------

.fade {
  .transition(opacity .15s linear);
  opacity: 0;
  &.in {
    opacity: 1;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 11000;
  max-height: 500px;
  overflow: auto;
  width: 560px;
  margin: -250px 0 0 -280px;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,.3);
  *border: 1px solid #999; 
  .border-radius(6px);
  .box-shadow(0 3px 7px rgba(0,0,0,0.3));
  .background-clip(padding-box);
  .close { margin-top: 7px; }
  &.fade {
    .transition(~"opacity .3s linear, top .3s ease-out");
    top: -25%;
  }
  &.fade.in { top: 50%; }
}
.modal-header {
  border-bottom: 1px solid #eee;
  padding: 5px 15px;
  h3{
    line-height: 36px;
    font-size: 22px;
    color: #404040;
  }
}
.modal-body {
  padding:15px;
  p{
    margin:5px 0;
    line-height:1.6;
  }
  label{
    width:100px;
    .display-inline();
    
  }
  .help_text{
    margin:5px 0 0 105px;
    color:#999;
  }
}
.modal-body form {
  margin-bottom: 0;
}
.modal-footer {
  background-color: #f5f5f5;
  padding: 14px 15px 15px;
  border-top: 1px solid #ddd;
  .border-radius(0 0 6px 6px);
  .box-shadow(inset 0 1px 0 #fff);
  .clearfix();
  margin-bottom: 0;
  .button {
    float: right;
    margin-left: 5px;
  }
}

// Fix the stacking of these components when in modals
.modal .popover,
.modal .twipsy {
  z-index: 12000;
}

// POPOVER ARROWS
// --------------

/*#popoverArrow {
  .above(@arrowWidth: 5px) {
    bottom: 0;
    left: 50%;
    margin-left: -@arrowWidth;
    border-left: @arrowWidth solid transparent;
    border-right: @arrowWidth solid transparent;
    border-top: @arrowWidth solid #000;
  }
  .left(@arrowWidth: 5px) {
    top: 50%;
    right: 0;
    margin-top: -@arrowWidth;
    border-top: @arrowWidth solid transparent;
    border-bottom: @arrowWidth solid transparent;
    border-left: @arrowWidth solid #000;
  }
  .below(@arrowWidth: 5px) {
    top: 0;
    left: 50%;
    margin-left: -@arrowWidth;
    border-left: @arrowWidth solid transparent;
    border-right: @arrowWidth solid transparent;
    border-bottom: @arrowWidth solid #000;
  }
  .right(@arrowWidth: 5px) {
    top: 50%;
    left: 0;
    margin-top: -@arrowWidth;
    border-top: @arrowWidth solid transparent;
    border-bottom: @arrowWidth solid transparent;
    border-right: @arrowWidth solid #000;
  }
}*/

// TWIPSY
// ------

/*.twipsy {
  display: block;
  position: absolute;
  visibility: visible;
  padding: 5px;
  font-size: 11px;
  z-index: 1000;
  .opacity(80);
  &.fade.in {
    .opacity(80);
  }
  &.above .twipsy-arrow   { #popoverArrow > .above(); }
  &.left .twipsy-arrow    { #popoverArrow > .left(); }
  &.below .twipsy-arrow   { #popoverArrow > .below(); }
  &.right .twipsy-arrow   { #popoverArrow > .right(); }
}
.twipsy-inner {
  padding: 3px 8px;
  background-color: #000;
  color: white;
  text-align: center;
  max-width: 200px;
  text-decoration: none;
  .border-radius(4px);
}
.twipsy-arrow {
  position: absolute;
  width: 0;
  height: 0;
}*/


// CLOSE ICONS
// -----------
.close {
  float: right;
  color: #000 !important;
  font-size: 20px;
  font-weight: bold;
  line-height: 14px;
  text-shadow: 0 1px 0 rgba(255,255,255,1);
  .opacity(25);
  &:hover {
    text-decoration: none;
    .opacity(40);
  }
}
// End Modal Box


input[type="text"], input[type="password"], textarea {
  .transition(~"border linear 0.2s, box-shadow linear 0.2s");
  .box-shadow(inset 0 1px 3px rgba(0, 0, 0, 0.1));
  height: 18px;
  padding: 4px;
  font-size: 13px;
  line-height: 18px;
  color: #808080;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
  outline: 0;
  border-color: lighten(@blue-border,3);
  .box-shadow(~"inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 5px rgba(82, 168, 236, 0.6)");
}
input[type="text"].uneditable-input, input[type="password"].uneditable-input ,textarea.uneditable-input{
  border-color: #CCC;
  .box-shadow(~"inset 0 1px 2px rgba(0, 0, 0, 0.025) !important");
  background-color:whiteSmoke;
  cursor: not-allowed;
}
input[type="text"].error ,input[type="password"].error, textarea.error {
	/*border-color: #F60;
	.box-shadow(~"inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(255, 66, 00, 0.4)");
	background-repeat: no-repeat;*/
    margin-bottom: 0.3em !important;
    /*color: #6D6D6D;*/
}
:-moz-placeholder {
  color: #bfbfbf;
}
::-webkit-input-placeholder {
  color: #bfbfbf;
}

/* Typo Section */
.bigNormalText{
    font-size:16px;
    text-shadow:0 0 1px #fff;
}
.smallNormalText{
    font-size:13px;
    font-family:Arial Narrow, Arial, Sans-Serif;
    color:#999;
}
.bg-text{
    background-color:#f4f4f4;
    font-size:14px;
    color:#888;
    margin:10px 0;
    padding:0 5px;
    b{color:#444;}
}
.subHeadText{
    font-size:14px;
    color:#333;
    margin:10px 0;
}