@import "home_bootstrap.less";
.home a{
	color:#24cefb;
}
.heart_container{
	
	.heart{
		font-size:26px;
		text-shadow:0 1px 1px rgba(80,80,80,0.5);
		font-weight:bold;
		color:#D51A3A;
		line-height:13px;
		.display-inline();
		margin-top:-3px;
	}
}
.green{
	color:green;
}
#wrap, #footer{
    /*background: transparent url(/site_media/img/bg-pattern.png) repeat center center;
    background: whiteSmoke url(http://castirondesign.com/images/bg.png) repeat 0 0;*/
    /*background:transparent url(/site_media/img/bg-body.png) repeat 0 0 ;*/
    width:100%;
}
input[type="submit"],.button{
	/*.button(#049cdb, #0064cd, #ffffff, 0 -1px 0 rgba(0, 0, 0, 0.25), 14px, 5px 15px 6px, 4px, 1px solid #999999);*/
	.button(#6FD4FE, #66C8F0, #ffffff, 0 -1px 0 rgba(0, 0, 0, 0.25), 13px, 4px 15px 5px, 4px, 1px solid #999999);
	/*border-color: #0064cd #0064cd #003f81;*/
	border-color: #66C8F0 #0064cd #62C0E6;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	vertical-align:middle;
	&.secondary{
		.button(#FFFFFF, #eeeeee, #333, 0 1px 1px rgba(255,255,255,.75), 13px, 4px 15px 5px, 4px, 1px solid #ccc);
		font-size:13px;
	}
	&.primary{
		font-size:13px;
	}
}
.button::-moz-focus-inner, input[type=submit].button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
#header.home{
	background: transparent url('/site_media/img/used/header-bg.png') repeat-x left top;
	/*#gradient > .vertical(#999,#555);
	.box-shadow(0 1px 3px rgba(100,100,100,0.1));*/
	height:38px;
	overflow: hidden;
	/*h1{
		margin: 4px 0 5px;
		line-height:1;
		text-indent:-900px;
		overflow:hidden;
		background:transparent url('/site_media/img/used/logo.png') no-repeat 0 0;
	}
	h1 a{
		color: #FFF;
		font-size:24px;
		display:block;
		width:63px;
	}*/
	.head-login-link{
		/*text-indent:-400px;
		overflow:hidden;
		background:transparent url('/site_media/img/login.png') no-repeat 0 0;
		display:block;*/
		/*width:43px;
		margin-top:10px;
		height:24px;
		padding:0px;*/
		color: #fff;
		display: block;
		margin-top:13px;
		font-size:14px;
		text-shadow: 0 1px 2px #444;
	}
	#div-login-header{
		margin-top: 8px;
		right: -540px; /*right: -46px;*/
		position: relative;
		float: right;
		input[type="submit"]{
			margin-top:-1px;
			&:focus{outline:none;}
		}
		a.close{
			float:none;
		}
	}
	.head-links{
		float:right;
		padding:10px 0 6px;
		color:#444;
		a{
			color:#444;
			display:inline;
			text-shadow:0 0 2px #BBB;
			font-weight:bold;
		}
	}
}

.home_page{
	.early_invite{
		position:relative;
		top:-49px;
		text-align:center;
		width:300px;
		left:350px;
		a{
			background-color:rgba(0,0,0,0.8);
			border:1px solid #FFF;
			.border-radius(3px);
			padding:5px 60px 5px 60px;
			color:#fff;
			.box-shadow(0 0 5px #888);
		}
		img{
			position: absolute;
			top:-25px;	
			left:15px;
			vertical-align:middle;
			margin-right:5px;
		}
	}
	h2,h3{
		position:relative;	
		font-family: "Arial Narrow", Arial, Verdana, sans-serif;
		font-weight:normal;
	}
	h2{
	    height:44px;
	    font-size: 38px;
	    color:#000;
    }
    h3{
    	margin:4px auto 30px;
	    font-size: 28px;
	    color: #999;
    }
    .div-plugin-download{
    	position: relative;
    	z-index:1;
    	float:right;
    	width:220px;
    	margin-top:-60px;
    	margin-bottom:20px;
    	text-align:center;
    	a.plugin-button{
    		border:2px solid #75EDFF;
    		.border-radius(3px);
    		display:block;
    		padding:10px 6px 10px 24px;
    		text-align:center;
    		color:#555;
    		margin-bottom:4px;
    		font-size:15px;
    		background:white url(/site_media/img/download-icon.png) no-repeat 10px  center;
    		margin:3px;
    		.transition(all linear 0.2s);
    		&:hover{
    			.box-shadow(~"0 0 4px #75EDFF");
    		}
    	}
    	a{
    		color:#888;
    	}
    }
    /*.div-invite{
    	width:475px;
    	margin:20px auto;
    	position:relative;
    	#response{
    		margin:10px;
    		text-align:center;
    		font-size:13px;
    		text-align:center;
    		color:#000;
    	}
    	#loader{
    		position:absolute;
    		left:480px;
    		top:12px;
    	}
    }
    #request_form{
	   	input[type="text"]{
	    	border:2px solid #cfeeff;
	    	border-radius:2px;
	    	padding:6px;
	    	width:300px;
	    	font-size:16px;
	    	margin-right:15px;
	    	vertical-align:middle;
	    	.box-shadow(none);
	    	&:focus{
	    		outline:none;
	    	}
	    }
	    
    }*/
}
.bookmarklet_botton{
    padding:10px 50px;
    border:1px dashed #CCC;
    font-size:18px;
    background-color: #efe;
    .display-inline();
    color:#555;
    .transition(0.2s linear all);
    margin-bottom:10px;
    &:hover{
        border:1px dashed #aaa;
        background-color:#bfb;
        color:#111;
        cursor:move;
    }
    &:active, &:link, &:visited{
    	color:#555;
    }
}
/*#div_login.modal{
	width:412px;
	border:1px solid @blue-border;
	padding:0px;
	margin-left:-206px;
	.close{margin-right:10px;}
	.center_box{margin:0px;}
}*/
.modal-body h4{
	font-size: 18px;
	color: #444;
}
.modal{
    .loader{
        float: right;
        margin-top: 4px;
        margin-right:10px;
    }
    .message{
        text-align:center;
        padding: 7px 0;
        background-color:#DDF4FB;
        color:#333; 
        border:1px solid #C6EDF9;
        &.error{
            background-color: #FDDFDE;
            border-color: #FBC7C6;
        }
    }
    .modal-footer{
		a{
		    line-height:31px;
		    color:#111;
		    margin:0 15px 0 0;
		}
	}
}
div.slideshow{
	font-family:"Arial Narrow", sans-serif;
	border: 1px solid #eee;
	.box-shadow(~"inset 0 0 20px rgba(180,180,180,0.1), 0 0 5px rgba(90,90,90,0.1)");
	#gradient > .vertical(#FFF,#fcfcfc);
	overflow:hidden;
	position:relative;
	.slideshowContainer{
		width:10000px;
		overflow: hidden;
		height:348px;
		position:relative;
	}
	.slide{
		width:918px;
		height:308px;
		.display-inline();
		padding: 20px;
		
	}
	.leftBox, .rightBox{
		width:359px;
		float:left;
		padding-left:50px;
		padding-right:50px;
	}
	/*.centerPic{
		width:30%;
		padding:0 5%;
		height:100%;
		float:left;
	}*/
	.leftBox{
		
		h4{
			font-size:30px;
			font-weight:300;
			color:#000;
		}
		h5{
			font-size:20px;
			color:#999;
			margin:5px 0 10px;
			font-weight:300;
		}
		p{
			line-height:1.4;
			font-size:18px;
			text-shadow:0 0 1px #fff;
			/*text-align:justify;*/
		}
		blockquote{
			text-shadow:0 0 1px #fff;
			margin-top:15px;
			font-size:15px;
			color:#888;
			font-style:italic;
			line-height:1.3;
			text-align:justify;
			em{
				margin-top:4px;
				font-size:15px;
				font-weight:bold;
				display:block;
				text-align:right;
			}
		}
	}
	.rightBox{
		/*h4{
			font-size:18px;
			color:#999;
		}
		li{
			list-style:disc inside;
			margin:8px 0;
			font-size:13px;
		}*/
		text-align:center;
		img.img-blue{
			border:1px solid #33DBFE;
			.box-shadow(0 0 2px rgba(0, 0, 0, 0.4));
			.border-radius(5px);
			padding:4px;
			background:#fff;
		}
	}
	#slide1 .leftBox{
		padding-top:15px;
	}
	#slide2 .leftBox{
		padding-top:40px;
	}
	#slide2 .rightBox{
		padding-top:25px;
	}
	#slide3{
		.rightBox{
			padding:30px 0 0 0;
			width:520px;
			overflow:hidden;
		}
		.leftBox{
			width:276px;
			padding-top:20px;
		}
	}
}


/*.slideShowController{
	margin:10px auto;
	.display-inline();
	li{
		cursor: pointer;
		.display-inline();
		width:10px;
		height:10px;
		.border-radius(5px);
		background-color:#CCC;
		margin:0 5px;
		&.selected{
			background-color:#77FF92;
		}
	}
}*/
.tabs{
	width:70%;
	margin:20px auto;
	font-family:"Arial Narrow", Arial, sans-serif;
	td{
		width:33%;
		text-align:center;
	}
	div{
		text-align:center;
		cursor: pointer;
		h5{
			font-size:24px;
			color:#111;
			text-align:center;
			.transition(color linear 0.2s);
		}
		h6{
			font-size:18px;
			color:#999;
			margin:5px 0 8px;
			text-align:center;
		}
		span{
			width:10px;
			height:10px;
			margin:0px auto 5px;
			.border-radius(5px);
			background-color:#77FF92;
			.display-inline();
			visibility: hidden;
		}
		&.selected {cursor: default;}
		&.selected span{visibility: visible;}
		&.selected:hover{
			h5{
				color:#111;
			}
		}
		&:hover{
			h5{
				color:#22d8fe;
			}
		}
		&.middle{
			margin:0 109px;
		}
	}
}
/*
.tabs{
	margin:70px auto 50px;
	height:230px;

	.tab{
		float:left;
		margin-right:20px;
		border:3px solid #bdf5d0;
		border-radius:10px;
		&:last-child{
			margin-right:0px;
		}
		h4{display:none;}
	}
	.content{
		width:293px;
		height:225px;
	}
	.discover{
		border-color:#bdf5d0;
		background:rgba(189,245,208,0.3);
		.content{
			background:transparent url(/site_media/img/home-text.png) no-repeat 19px -416px;	
		}
	}
	.share{
		border-color:#f7f686;
		background:rgba(247,246,134,0.3);
		.content{
			background:transparent url(/site_media/img/home-text.png) no-repeat 24px -109px;	
		}
	}
	.search{
		border-color:#9feefc;
		background:rgba(159,238,252,0.3);
		.content{
			background:transparent url(/site_media/img/home-text.png) no-repeat -406px -110px;	
		}
	}
}
*/
.center_box{
	border: 1px solid #8FCDEE;
    margin: 0px auto;
    padding: 20px 40px 18px;
    text-align: center;
    width: 330px;
    margin-top:20px;
    background-color:white;
    .border-radius(5px);
    p{
    	margin:10px 0;
    }
    .input_box{
		width:320px;
		margin-bottom:25px;
		font-size:16px;
	}
}


/* used on login page */

.text_align{
	text-align:center;
}
label.error {
	font-size: 10px;
	line-height: 1.3em;
	color: #F60;
	margin: 0 0 0 0 !important;
	position: relative;
	top: -2px;
}

.error-msg{
	color:#F60;
	margin:-15px 0 15px;
}
/* end login page */

/* For registration Page */
.thanks_note{
	.font-family-narow();
	color: #666;
    font-size: 29px;
    font-weight: normal;
    line-height: 37px;
    margin-bottom: 45px;
    text-align: center;
    text-shadow:0 1px 1px rgba(0, 0, 0, .5);
}
h2.bigHeadOverCenterBox{
	color: #111111;
    font-family: 'Arial Narrow',sans-serif;
    font-size: 38px;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 25px;
    text-shadow: 0 0 3px #FFFFFF;
}
#first_name{
	width:145px;

}
#last_name{
	width: 145px;
}
.common{
	margin-bottom:5px;
}
.home_form .input_box {
	text-align: center;
	margin-bottom:15px;
	height:28px !important;
}
/* end for registration page */



/* Invite page */
.center_content{
    text-align:center;
    margin-top:30px;
    h2.focus_head{
    	background-color:#DDF4FB;
		border:1px solid #C6EDF9;
		padding:15px;
		width:60%;
		margin:0px auto;
		.border-radius(5px);
		font-size:20px;
		margin-bottom:35px;
		text-align:center;
        u{
            text-decoration:none;
            color:#45c3e9;
        }
    }
    .context_name{
    	h3{
            font-size:42px;
            color:#333;
            font-family: Arial Narrow;
            font-weight:normal;
            text-shadow: 0 0 1px #fff;
            letter-spacing:1px;
            margin-bottom:5px;
        }
        p{
        	font-size:18px;
            color:#888;
        }
    }
    .join_context{
    	text-align:right;
    	margin-bottom:30px;
    	padding:15px 0;
    	input#join_button{
    		font-size:18px;
    		height:42px;
    		padding:0px 38px;
    		position:relative;
    	}
    }
    h4{
    	color:#888;
    	margin-bottom:10px;
    }
    .green-bg{
    	background-color:#f5fdef;
    	border:1px solid #D9F7C2;
    	.border-radius(5px);
    	padding:10px 15px;
    	a{
    		color:#000;
    	}
    	img{
    		vertical-align:bottom;
    		margin-right:4px;
    	}
    	ul.left80{
    		border-right:1px solid #D9F7C2;
    		.box-shadow(1px 0 0 #fff);
    	}
    	ul.right20{
    		padding-left:10px;
    		border-left:1px solid white;
    	}
    	li{
    		margin:15px 0;
    	}
    	span{
    		color:#888;
    	}
    }
	p.tagline{
		span{
			font-weight:bold;
			color:#333;
		}
        font-size:18px;
        margin:30px 0;
        text-align:center;
        color:#888;
        text-shadow:0 0 1px #fff;
    }
    p.action{
        font-size:16px;
        text-align:center;
        margin-bottom:20px;
    }
    #hidden_buttons{
    	text-align:left;
    	width:215px;
    	height:38px;
    	padding-top:4px;
    	right:-215px;
    	position:relative;
    	opacity:0;
    	filter:alpha(opacity=0);
    	display:none;
    	input[type="button"].signup, input[type="button"].signin{
    		height:35px;
    		font-size:16px;
    		.button(#666666, #222222, #ffffff, 0 -1px 0 rgba(0, 0, 0, 0.25), 14px, 5px 25px 6px, 4px, 1px solid #111);
    	}
    }
}
.box_content{
	label{
		display:inline-block;
		width:80px;
		color:#555;
		text-shadow:0 0 1px #fff;
		&.error{
			display:block;
			padding-left:85px;
			width:150px
		}
	}
	p{
		padding:10px 0;
		input{margin-right:20px;}
	}
	.help_text{
		font-size:12px;
		color:#999;
		margin-left:85px;
		margin-top:-3px;
	}
	.big-textbox{
		width:250px;
	}
}
/* end invite page */