// Clearize w/ adapted CSS Reset by Eric Meyer
html, body { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; font-weight: normal; font-style: normal; font-size: 100%; line-height: 1; font-family: inherit; text-align: left; }
table { border-collapse: collapse; border-spacing: 0; }
ol, ul { list-style: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; }

// Bootstrap it!
@import "bootstrap.less";

//global help classes
.hide{
    display:none !important;
}

html{
	height:500px;
}

body {
  color: @gray;
  text-rendering: optimizeLegibility;
  /*text-shadow: 0 1px 2px rgba(0,0,0,.5);
  .box-shadow(inset 0 50px 200px rgba(0,0,0,.2));*/
  height:100%;
}
body{
  #font > .sans-serif(normal,13px,1.6);
}

// Bangin' links
@link-color: #fff;
a, a:visited {
  color: @linkColor;
  text-decoration: none;
  &:hover {
    color: @linkColorHover;
  }
}

.notification{
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
	position:relative;
	ul li{
		overflow-y: auto;
		padding:0 10px;
		border-top: 1px solid #efefef;
		background: #f8f8f8;
		&:hover{
			background: #fcfcfc;
			cursor: pointer;
		}
	}
	ul{
		border-bottom: 1px solid #efefef;
		overflow-x:hidden;
		overflow-y:auto;
	}
	h4{
		padding:15px 10px;
		font-size: 20px;
		color: #B8B8B8;
		.box-shadow(0 1px 4px #aaa);
		position:relative;
		z-index:5;
		.right{
			font-size: 13px;
			float: right;
			line-height: 22px;
		}
	}
	img.icon{
		float: left;
		margin: 15px 10px 12px 0;
		width: 24px;
	}
	div.notification_entry{
		margin: 10px 0px 15px 34px;
		.noti_context{
			float: right;
			font-size: 15px;
			font-weight: bold;
			color: #7D7D7D;
			line-height: 1.4;
			margin: 0 0 5px 5px;
		}
		.noti_head{
			color: #CBCBCB;
			padding-top: 3px;
			line-height: 1.4;
			em{
				color: #aaa;
				font-weight:normal;
			}
		}
		.noti_body{
			color: #888;
			a{
				color: #888;
			}
		}
	}
	#main_pane{
		width: 400px;
		height:100%;
	}
}

a.disabled{
	color: #888;
	cursor: text;
}
#notification_container{
	position:relative;
	width: 400px;
	overflow-x: hidden;
	.notification-pane{
		background-color:#fff;
		position:absolute;
		top:0px;
		width:100%;
	}
}


/* Notification Like Google +
.notification{
	width: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
	position:relative;
	ul li{
		overflow-y: auto;
		padding:0 10px;
		border-top: 1px solid #efefef;
		background: #f8f8f8;
		&:hover{
			background: #fcfcfc;
			cursor: pointer;
		}
	}
	ul{
		border-bottom: 1px solid #efefef;
	}
	h4{
		margin: 0px 10px 15px;
		font-size: 20px;
		color: #B8B8B8;
		.right{
			font-size: 13px;
			float: right;
			line-height: 22px;
		}
	}
	img.icon{
		float: left;
		margin: 15px 10px 12px 0;
		width: 24px;
	}
	div.notification_entry{
		margin: 10px 0px 15px 34px;
		.noti_context{
			float: right;
			font-size: 15px;
			font-weight: bold;
			color: #7D7D7D;
			line-height: 1.4;
			margin: 0 0 5px 5px;
		}
		.noti_head{
			color: #CBCBCB;
			padding-top: 3px;
			line-height: 1.4;
			em{
				color: #aaa;
				font-weight:normal;
			}
		}
		.noti_body{
			color: #888;
			a{
				color: #888;
			}
		}
	}
	#main_pane{
		padding-top:15px;
		position:absolute;
		width: 400px;
	}
	#next_pane{
		padding-top:15px;
		position:absolute;
		left:400px;
		top:0px;
		width:400px;
		background-color:#fff;
		overflow-x: hidden;
	}
}

a.disabled{
	color: #888;
	cursor: text;
}
#notification_container{
	position:relative;
	width: 400px;
	overflow-x: hidden;
	.notification-pane{
		background-color:#fff;
		position:absolute;
		top:0px;
		width:100%;
	}
}
.entry{
    border-top:1px solid #dfdfdf;
    padding:15px 10px 0;
    a, a:visited, a:hover{
        color:@grayDark;
    }
    h4.title{
        img{
            vertical-align:middle;
            .square(16px);
            margin-top:-2px;
        }
        font-size:14px;
        line-height:14px;
        color:@orange;
        margin:0 0 5px;
    }
    h3{
        font-family: 'Arial Narrow', sans-serif;
        font-size:22px;
        line-height:1.1;
        margin-bottom:6px;
        text-shadow:0 0 3px #fff;
        a{
            color:@gray;
        }
        a.edit_link{
            .background("/site_media/img/blue add.png");
            color:@white;
            #font > .sans-serif(bold,13px,1);
            padding:2px 20px 2px 20px;
            text-shadow:none;
            .opacity(0);
            white-space: nowrap;
        }
    }
    .subtext{
        color:@grayLighter;
    }
    .view_all_comment{
        border:1px dotted #CCC;
        border-width:1px 0;
        .background("/site_media/img/comment.png", 5px, 5px);
        padding:4px 0 4px 28px;
        margin:10px 0;
        a{
            color:@blue1;
        }
    }
}

.entry{
    textarea{
        .box-shadow(none);
        margin-top:10px;
        padding: 4px;
        width:90%;
        height: 50px;
        outline: none;
        resize: none;
        #font > .sans-serif(normal,13px,1);
        &:focus{
        	border:1px solid #222;
        }
        &.inactive{
        	height: 13px;
        	color: #AAA;
        	border:1px solid #AAA;
        }
    }
    .submit{
        .button(#D8EFC2, #555, 0 1px 1px rgba(255,255,255,.75), 13px, 3px 15px 4px, 5px, 1px solid #94B48E);
        
    }
    .submit.disabled{
        .button(#FFF, #CCC, 0 1px 1px rgba(255,255,255,.75), 13px, 3px 15px 4px, 5px, 1px solid #CCC);
        &:hover{
            background-position: 0 0;
        }
    }
    .cancel{
        .button(#f5f5f5, #555, 0 1px 1px rgba(255,255,255,.75), 13px, 3px 15px 4px, 5px, 1px solid #CCC);
    }
}
.context_select{
    margin-right:119px;
    margin-top:2px;
    float:right;
    position:relative;
    width:200px;
    text-align:right;
    span{
        padding-right:4px;
        color:@gray;
        font-size:13px;
    }
    button{
        .button(#f5f5f5, #555, 0 1px 1px rgba(255,255,255,.75), 13px, 3px 15px 4px, 2px, 1px solid #CCC);
    }
}
*/