/* Clearize w/ adapted CSS Reset by Eric Meyer */
html, body { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; font-weight: normal; font-style: normal; font-size: 100%; line-height: 1; font-family: inherit; text-align: left; }
table { border-collapse: collapse; border-spacing: 0; }
ol, ul { list-style: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; }

/* Bootstrap it! */
@import "home_bootstrap.less";

@gray:              #555;
@grayLight:         #777;
@white:             #fff;
@grayLightBorder:   #EFF5F5;
@grayLightMid:      #999;
@grayDark:          #333; 
@orange:            #f89406;
@grayLighter:       #bbb;

@blue:              #3AE0FF;
@blue1:             #05CFFB;

// Grid System
// Griditude
@gridColumns:       16;
@gridColumnWidth:   40px;
@gridGutterWidth:   20px;
@siteWidth:         (@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 1));

.container {
  width: @siteWidth;
  margin: 0 auto;
  .clearfix();
  position:relative;
}
.columns(@columnSpan: 1) {
  display: inline;
  float: left;
  width: (@gridColumnWidth * @columnSpan) + (@gridGutterWidth * (@columnSpan - 1));
  margin-left: @gridGutterWidth;
  &:first-child {
    margin-left: 0;
  }
}
.offset(@columnOffset: 1) {
  margin-left: (@gridColumnWidth * @columnOffset) + (@gridGutterWidth * (@columnOffset - 1)) !important;
}


/*global help classes*/
.hide{
    display:none;
}
.text-left{
	text-align: left;
}
/* Nice bod */
html, body {height: 100%;}

#wrap {
    min-height: 100%;
    width:100%;
}

#main {
	overflow:auto;
	padding-bottom: 80px;
	padding-top: 80px;
}  /* must be same height as the footer */

/*.twitter-link{
    position:absolute;
    width:100%;
    top:50px;
    div{
        float:right;
        width:940px;
        margin:0px auto;
    }
    
}*/
#footer {position: relative;
	margin-top: -20px; /* negative value of footer height */
	height: 20px;
	text-align:center;
	clear:both;
	a{
		color: #111;
	}
} 

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}

body {
  color: @gray;
  text-rendering: optimizeLegibility;
  /*text-shadow: 0 1px 2px rgba(0,0,0,.5);
  .box-shadow(inset 0 50px 200px rgba(0,0,0,.2));*/
}
body, p, li {
  #font > .sans-serif(normal,13px,1.6);
}

/* Bangin' links */
@link-color: #fff;
a, a:visited {
  color: @linkColor;
  text-decoration: none;
  &:hover {
    color: @linkColorHover;
  }
}

/* Header Section */
#header{
    @color: #888;
    background: transparent url('/site_media/img/used/header-bg.png') repeat-x left -1px;
    /*#gradient > .vertical(#555,#333);
    .box-shadow(~"0 2px 5px rgba(0,0,0,.6), inset 0 1px 0px rgba(255,255,255,0.3)");
    border-top:1px solid #444;
    border-bottom:1px solid #222;*/
    height:38px;
    margin-bottom:30px;
    color:@white;
    position: fixed;
    width: 100%;
    z-index: 8;
    top:0;
    left:0;
    a{
        color:@white;
    }
    /*h1{
        float: left;
        padding-top:2px;
        padding: 4px 0 8px;
        vertical-align: middle;
    }
    h1 a{
        display: block;
        font-size:26px;
        line-height:1;
        color:white;
        text-shadow: 0 1px 2px rgba(0,0,0,.5);
        line-height:1;
        text-indent:-900px;
        width:64px;
        overflow:hidden;
        background:transparent url('/site_media/img/used/logo.png') no-repeat 0 0;
    }*/
    .smallIcons{
    	width: 23px;
    	overflow: hidden;
    }
    .header_link{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width:105px;
        color:#444;
        /*text-shadow:0 0 2px #999;*/
        font-weight:bold;
        a{
            margin:0px 4px;
            color:#AAA;
            display:inline;
            text-shadow:0 0 2px #444;
            font-weight:bold;
        }
    } 
}
#notification_count{
	display: inline;
	float: left;
	margin-left: 10px;
	line-height: 44px;
	font-size: 13px;
	padding: 0 10px;
	cursor: pointer;
	span{
		padding: 3px 8px;
		background-color: @gray;
		border-radius: 3px;
	}
}
#header{
	.active{
		span{
			background-color: @white;
		}
	}
}
div#load_links{
    position:fixed;
    top:37px;
    background-color:#DDF4FB;
    border:2px solid #C6EDF9;
    padding:3px 10px 4px;
    color:#555;
    font-weight:bold;
    border-top:none;
    z-index:9;
    left:50%;
    .box-shadow(0 2px 5px rgba(0,0,0,0.3));
    display:none;
    &.loading{
        display:block;
    }
}

div.visual_search{
    width: 450px;
    width: 530px;
    float: left;
    margin: 2px 0 3px 20px;
}
div.visual_search.bigger{
	width: 530px;
}
.width2{
    display: inline;
    float: left;
    padding: 8px 5px 11px 5px;
    margin-left: 10px;
    max-width:140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    img{
        vertical-align:middle;
        margin-top:-4px;
    }
}
#addLink{
    width:17px;
    height:16px;
    .display-inline();
    padding:0;
    background:transparent url(/site_media/img/used/add-grey-dark-16.png) no-repeat 0 0;
    margin-top:10px;
    margin-right:10px;
    &:hover{
        .transition(background linear 0.2s);
        background:transparent url(/site_media/img/used/add-blue-16.png) no-repeat 0 0;
    }
}

/* Home Page Styles */
.paddingLeft20{
    padding-left:20px;
}
.homeSideBar{
    .columns(4);
    margin-left:0px;
    h4{
        font-size:16px;
        background:#F2FEFF;
        text-shadow: 0 1px 2px #F2FEFF;
        padding:4px 5px 6px;
        color:@grayLight;
        border:1px solid @grayLightBorder;
        border-width:1px 0;
        margin:35px 0 5px;
        font-weight:bold;
        &:first-child{
            margin-top:0;
        }
        a{
            color:darker(@blue1,3);
            font-size:12px;
            line-height:17px;
            font-weight:bold;
            float:right;
            img{margin:1px 5px 0 0;}
            
        }
    }
    ul{
        a{
            color:@gray;
            font-size:13px;
            /*padding-left:22px;
            .background("/site_media/img/twitter16.png");*/
            white-space: nowrap;
            width: 150px;
            height:16px;
            overflow: hidden;
            text-overflow: ellipsis;
            display:inline-block;
            line-height:16px;
            &:hover, &:active, &:visited{
                color:@gray;
            }
            &.Personal{
                background:transparent url(/site_media/img/used/heart-icon-small.jpg) no-repeat -1px 0;
                padding-left:18px;
            }
        }
        li{
            margin:12px 5px;
            em{
                float:right;
                font-style:normal;
                margin:4px 0 0 0;
                font-size:11px;
                display:block;
                padding:0px 5px;
                background-color:#f2f2f2;
                color:#999;
                border-radius:2px;
                text-shadow:0 1px 1px #FFF;
                line-height:13px;
            }
        }
        li.selected{
            a{
                color:#000;
            }
        }
    }
}
a#link-new-context img{
    
}
.homeContent{
    .columns(12);
    margin-bottom: 60px;
    overflow: hidden;
    
    h2.headSmall{
        font-weight:bold;
        color:@grayLightMid;
        font-size:14px;
        border-left: 1px solid #E7E7E7;
        
        padding:6px 0 20px 20px;
    }
    h2.headBig{
        .font-family-narow();
    	color:@gray;
    	font-size:32px;
    	padding-bottom:10px;
    	border-left: 1px solid #E7E7E7;
    	.paddingLeft20;
    	.rightHead{
    	    font-size:15px;
    	    font-weight:normal;
    	    float:right;
    	    color:#999;
    	    line-height:32px;
    	}
    }
    p.no_entry{
    	border-left: 1px solid #E7E7E7;
    	.paddingLeft20;
    	padding-bottom: 20px;
    	padding-top:20px;
    }
    ul.subLinks{
    	border-left: 1px solid #E7E7E7;
    	.paddingLeft20;
    	padding-bottom:10px;
    	li{
    		display: inline-block;
    		margin-right: 20px;
    	}
    }
    h4#facets{
        .paddingLeft20;
        border-left: 1px solid #E7E7E7;
        font-size:14px;
        color:#999;
        em{
            font-weight:bold;
            color:#555;
        }
    }
}
div.invitation{
    .paddingLeft20;
    padding-bottom:5px;
    border-left: 1px solid #E7E7E7;
    position: relative;
    div{
        background-color:#ebf8fb;
        border:1px solid #C6EDF9;
        padding:5px 10px;
        margin:0px auto;
        .border-radius(5px);
        font-size:16px;
        line-height:30px;
        u{
            text-decoration:none;
            color:#111;
        }
        input{
            float:right;
            margin-left:10px;
        }
        .loader{
            margin-top:6px;
        }
    }
}
#import_message{
    div{
        font-size:13px;
        line-height:1.6;
        a{
            color:darken(@blue,15);
        }
    }
    a.close{
        font-size:11px;
        position: absolute;
        right:8px;
        top:5px;
    }
}
#entry_container{
    /*border-left:1px solid #eee;*/
    position:relative;
    min-height:500px;
}

.entry{
    padding:20px;
    border-left: 1px solid #E7E7E7;
    border-bottom:1px solid #eee;
    /*a, a:visited, a:hover{
        color:@grayDark;
    }*/
    a.favicon-link{
        float:left;
        display:block;
        .square(18px);
        background:#f5f5f5;
        border: 1px solid #ccc;
        position: relative;
        margin-top:2px;
        padding:1px;
        .box-shadow(0 0 2px #ccc);
        img.favi{
            .square(18px);
        }
    }
    textarea{
        margin:10px 0 5px;
        width:70%;
        height:30px;
        .border-radius(2px);
        .box-shadow(none);
        &:focus{
            border-color:#666;
        }
    }
    input.button, button.button{
        .border-radius(2px);
    }
    h4.title{
        font-size:14px;
        color:@orange;
        margin-bottom:5px;
    }
    h3{
        font-family: 'Arial Narrow', sans-serif;
        font-size:24px;
        line-height:1.2;
        margin-bottom:2px;
        /*text-shadow:0 0 1px #fff;*/
        width:608px;
        margin-left:30px;
        overflow: hidden;
        a:link{
            color:#408EB4;
        }
        a:hover{
            color:#333;
        }
        a:visited, a:active{
            color:#777;
        }
        img.favi{
            margin-top: -6px;
            *margin-top: 0px
        }
    }
    a.hidden_link{
    	display: none;
    }
    /*a.edit_link{
    	.background("/site_media/img/tools.png");
    	float: right;
		.square(16px);
		overflow: hidden;
		text-indent: -999px;
    }*/
    h5.tags{
    	.background("/site_media/img/used/tag-grey.png",0,-1px);
    	padding-left: 22px;
    	line-height: 16px;
    	margin-top: 3px;
    	color: #999;
        position: relative;
        &:hover{
            .edit{
                .transition(opacity linear 0.3s);
                .opacity(100);
            }
        }
    }
    .context-container{
        /*border:1px dashed #f5f5f5;*/
        margin:10px 0;
        /*border-width:1px 0;*/
        padding:5px 0 10px;
        font-size:15px;
        position:relative;
        h6{
            margin-bottom:5px;
        }
        &:hover{
            .edit{
                .transition(opacity linear 0.3s);
                .opacity(100);
            }
        }
        
    }
    .contexts{
        height:35px;
        overflow:hidden;
        position:relative;
        .more-context{
            position:absolute;
            right:0px;
            top:11px;
            width:10px;
            height:10px;
            background:transparent url(/site_media/img/used/expand.png) no-repeat center center;
            &.collapse{
                background:transparent url(/site_media/img/used/collapse.png) no-repeat center center;
            }
        }
        .context-name{
            display:block;
            float:left;
            margin-right:10px;
            margin-bottom:12px;
            line-height:1;
            background-color:#EBF8FB;
            text-align:right;
            padding:3px 6px 3px 20px;
            
            text-shadow:none;
            a{
                text-align:right;
                text-transform:capitalize;
                display:block;
                line-height:1.4;
                font-weight:bold;
                width:100%;
                /*.font-family-narow();*/
                font-size:13px;
                /*display:block;*/
                color:#62C4E5;
                .transition(color linear 0.2s);
                text-shadow:0 0 1px #EBF8FB;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                &:visited{color:#62C4E5;}
                &:hover{
                    color:darken(#62C4E5,10);
                }
            }

            span{
                color:#444;
            }
            div{
                font-size:10px;
                color:#bbb;
                text-shadow:none;
            }
        }
    }
    span.subtext{
        margin:0;
    }
    .subtext{
        color:@grayLighter;
        margin-left:30px;
        a, a:visited, a:hover{
            color:#666;
        }
    }
    /*.view_all_comment{
        border:1px dotted #CCC;
        border-width:1px 0;
        .background("/site_media/img/comment.png", 5px, 5px);
        padding:4px 0 4px 28px;
        margin:10px 0;
        a{
            color:@blue1;
        }
    }*/
    .special{
        font-size:16px;
        color:#999;
        span{
            color:@gray;
        }
        a{
            color:@blue;
            &:hover{
                color:darken(@blue, 10);
            }
        }
    }
    .edit{
        .background("/site_media/img/used/edit.png", 0, 0);
        position:absolute;
        left:-40px;
        top:20px;
        width:59px;
        height:21px;
        display:block;
        .opacity(0);
    }
    h5 .edit{
        top:-2px;
    }
    .context-container .edit{
        top:13px;
    }
}
/*
a.context_link, .arrow-button{
    .display-inline();
	color:@white !important;
	#font > .sans-serif(bold,12px,1);
	text-shadow:none;
	white-space: nowrap;
	background-color: #ACE5FE;
	border: 0 none;
	text-align: center;
	margin-left: 20px;
	position: relative;
	padding: 3px 6px 4px 2px;
}

a.context_link::before{
	content: "";
	border-color: transparent #ACE5FE transparent transparent;
    border-style: solid;
    border-width: 9px 9px 9px 0;
    float: left;
    height: 0;
    width: 0;
    position:absolute;
    left: -9px;
    top: 0px;
}
*/

.comment-head{
    
    
    a{color:#111;}
    .link_all_comment{
        background:transparent url(/site_media/img/used/comment-grey.png) no-repeat 0 center;
        padding-left:20px;
    }
    .line{
        border-bottom:1px solid #f9f9f9;
        margin-left:100px;
        position:relative;
        top:-9px;
    }
}
.comments_container{
    .comment-subtext{
        
    }
    
    .comment_body{
        p{
            font-size:14px;
            color:#111;
        }
        .comment-subtext{
            font-size:11px;
            color:#999;
            em{
                color:#333;
            }
            a{
                font-style:normal;
                color:#000;
            }
        }
    }
    .comment{
        margin-top:10px;
        /*&:first-child{
            border-top:1px solid #eee;
        }*/
    /*    .comment_user{
            padding-top:3px;
            width:52px;
            float:left;
            img{
                padding:1px;
                border:1px solid #EEE;
                background-color:@white;
                .square(42px);
            }
        }
        .comment_body{
            margin-left:52px;
            color:@grayDark;
            p{
                line-height:1.3;
                margin:4px 0;
            }
        }
        .clearfix;*/
    }
}
.level-0{margin-left:0px;}
.level-1{margin-left:52px;}
.level-2{margin-left:104px;}
.level-3{margin-left:156px;}
.level-4{margin-left:208px;}
.entry{
    
    /*.submit{
        .button(#D8EFC2, #555, 0 1px 1px rgba(255,255,255,.75), 13px, 3px 15px 4px, 5px, 1px solid #94B48E);
        
    }
    .submit.disabled{
        .button(#FFF, #CCC, 0 1px 1px rgba(255,255,255,.75), 13px, 3px 15px 4px, 5px, 1px solid #CCC);
        &:hover{
            background-position: 0 0;
        }
    }
    .cancel{
        .button(#f5f5f5, #555, 0 1px 1px rgba(255,255,255,.75), 13px, 3px 15px 4px, 5px, 1px solid #CCC);
    }*/
}
.context_select{
    margin-right:179px;
    margin-top:2px;
    float:right;
    position:relative;
    width:200px;
    text-align:right;
    span{
        padding-right:4px;
        color:@gray;
        font-size:13px;
    }
    button{
        .button(#f5f5f5, #555, 0 1px 1px rgba(255,255,255,.75), 13px, 3px 15px 4px, 2px, 1px solid #CCC);
    }
}

ul.ul_dropdown{
    color:@gray;
    font-size:13px;
    border:1px solid #CCC;
    .box-shadow(0px 1px 5px rgba(0,0,0,.3));
    background:@white;
    position:absolute;
    right:0px;
    li{
        padding:5px 5px 3px 26px;
        border-bottom:1px solid #eee;
        .background("/site_media/img/checkbox_no.png",6px,6px);
        cursor:pointer;
        width:150px;
        input{
            margin-right:6px;
        }
        label{
            #font > .sans-serif(normal,13px,1.6);
            margin:0px;
        }
        &:first-child{
            border-bottom:1px solid #ddd;
            background-color:#f5f5f5;
        }
    }
    li.selected{
        .background("/site_media/img/checkbox_yes.png",6px, 6px);
        &:first-child{
            background-color:#f5f5f5;
        }
    }
}


.MoogPlus {
    background: @blue1;
    width: 1px;
    top: 0;
    left: 0px;
    position: absolute;
    height:0px;
}
.active {
    background:#fefefe;
    border-left:1px solid @blue1;
    .transition( all 200ms ease-out);
}
.modal{
    .loader{
        float: left;
        margin-top: 4px;
    }
    .message{
        text-align:center;
        padding: 7px 0;
        background-color:#DDF4FB;
        color:#333; 
        border:1px solid #C6EDF9;
        &.error{
            background-color: #FDDFDE;
            border-color: #FBC7C6;
        }
    }
    &.link-modal{
        width:400px;
        height:395px;
        margin-left:-205px;
        padding: 5px;
        border: 2px solid #33DBFE;
        .box-shadow(0 0 10px rgba(0, 0, 0, 0.5));
        overflow: visible;
    }
    &.comment-modal{
        width:600px;
        height:auto;
        margin-left:-310px;
        padding: 15px;
        border: 2px solid #33DBFE;
        .box-shadow(0 0 10px rgba(0, 0, 0, 0.5));
        overflow: visible;
        max-height:90%;
        margin-top:0px;
        .entry{
            height:100%;
            overflow-y:auto;
            overflow-x:hidden;
            padding:0px;
            border:none;
            max-height:100%;
            h3{
                margin-left:0px;
            }
            h5{
                margin-bottom:15px;
            }
        }
        .loading{
            
        }
        &.fade.in{
            top:3%;
        }
        #popup-comments{
            overflow-y:auto;
            overflow-x:hidden;
            border:1px solid #eee;
            border-width:1px 0;
            .comment:first-child{
                border-top:none;
            }
        }
        .popup-form{
            padding-bottom:25px;
        }
    }
    .linkPopupBox{
        width:400px;
        height:395px;
        background-color:#fff;
        text-align:center;
        overflow: hidden;
    }
    img.close-img{
        padding:0px;
        border:0px;
        position:absolute;
        right:-14px;
        top:-14px;
    }
}
.load_more{
    display:block;
    padding:4px 0;
    font-size:13px;
    color:#ccc;
    text-align:center;
    margin:20px 0;
    cursor:text;
}
.load_more img{
    display:none;
    vertical-align:middle;
}
.load_more span{
    display:inline;
}
.load_more.loading img{
    display:inline;
    margin-bottom:-5px;
}
.load_more.loading span{
    display:none;
}

#header .tab-active{
	background-color: #555;
	span{
		background-color: #ccc;
	}
	a{
        color:#ddd;
	    text-shadow:none;
	}
}
.header_popup{
    position: absolute;
	background: @white;
	.box-shadow(0 1px 3px rgba(0,0,0,.3));
	right: 0px;
	top: 37px;
    overflow:hidden;
    z-index:7;
}
#notification{
	width: 400px;
}
#notification_frame{
	width: 100%;	
}
#header_links{
    background:#555;
    width:220px;
    padding:2px 0;
    .border-radius(0 0 5px 5px);
    h5{
        font-size:15px;
        color:#fff;
        margin:5px 10px;
    }
    .sublink{
        display:block;
        font-size:11px;
        color:#999;
        padding:0 10px 5px;
        border-bottom:1px solid #494949;
    }
    ul{
        border-top:1px solid #5f5f5f;
        border-bottom:1px solid #494949;
        &:last-child{
            border-bottom:none;
        }
    }
    li{
        &:hover{
			background: #333;
            a{
                border-color:#333;
                color:#fff;
            }
		}
        a{
            color:#999;
            display:block;
            padding:7px 0;
            margin:0 10px;
            border-bottom:1px solid #595959;
            &:last-child{
            }
        }
    }
}

/* Modal Box Styling */
.streamList{
	width:100%;
    margin:5px 0;
    li{
    	list-style:none;
    	float:left;
    	width:46%;
    	margin:5px 2% 5px 0;
    }
    a{
    	color:#555;
    	padding:2px 0 2px 22px;
    	background:transparent url(/site_media/img/radio-off.png) no-repeat 0px center;
    	&.selected{
    		background:transparent url(/site_media/img/radio-on.png) no-repeat 0px center;
    	}
    	&.loading{
    		background:transparent url(/site_media/img/8.gif) no-repeat 0px center;
    		&:hover{
    			cursor:busy;
    		}
    	}
    	&.noedit{
    		background:transparent url(/site_media/img/1303821038_OK.png) no-repeat 0px center;
    		cursor:text;
    	}
    	&.checkbox{
    		background:transparent url(/site_media/img/checkbox_no.png) no-repeat 0px center;
    		&.selected{
    			background:transparent url(/site_media/img/checkbox_yes.png) no-repeat 0px center;
    		}
    	}
    }
}


/* Settings Page */
.settingSideBar{
    .columns(3);
    padding-top: 30px;
    li{
        margin:10px 0;
    }
    li.selected{
        font-size:14px;
        color:#333;
    }
    h4{
        font-size:16px;
        font-weight:bold;
        margin-bottom:10px;
        color: #111;
    }
    a{
        color:#999;
    }
}
.settingContent{
    .columns(13);
    .settingContainer{
    	padding-left: 20px;
    	border-left: 1px solid #D0D0D0;
    }
    h2{
    	font-family: 'Arial Narrow', sans-serif;
    	font-size:28px;
    	font-weight: normal;
    	line-height:1.1;
    	margin-bottom:6px;
    	text-shadow:0 0 1px #fff;
    	color: #444;
        &.no-hr{
            margin-bottom:35px;
        }
    }
    h4{
    	font-size: 18px;
    	color: #444;
    }
    hr.bottom{
        margin:35px 0;
        color:#ccc;
        background-color:#ccc;
        border:1px solid #ccc;
        border-width:1px 0 0;
    }
}
.servicesContainer{
	margin-top: 40px;
	overflow-y: auto;
	.service{
		width: 335px;
		border: 1px solid #B5FEFF;
		/*.box-shadow(inset 0 0 15px #DEFEFF);*/
		.border-radius(8px);
		padding: 10px;
		margin: 0 0 25px 0;
		float: left;
		&.right{
			margin-right: 0px;
			float: right;
		}
		.service_thumb{
			.square(24px);
			margin-right: 4px;
			vertical-align: top;
		}
		.service_name{
			color: #999;
			font-size: 15px;
			line-height: 24px;
		}
		.username{
			color: #111;
			font-size: 15px;
		}
		.service_settings{
			.square(16px);
			display: block;
			float: right;
			text-indent: -100px;
			overflow: hidden;
			background: transparent url(/site_media/img/settings.png) no-repeat 0 0;
		}
		p{
			color: #999;
			margin: 10px 0;
		}
		p.p_button{
			text-align: center;
			margin: 0px;
		}
	}
}



.activity_info{
    padding-left:20px;
    border-left:1px solid #eee;
    h4{
        font-size:16px;
        font-weight:bold;
        padding:10px 0px 5px;
        /*.font-family-narow();*/
        color:#555;
    }
    .gray_bg{
        margin:10px 0 20px;
        background-color:#f2f2f2;
        border-radius:5px;
        color:#333;
        padding:10px 15px;
        em{
            font-weight:bold;
            border-bottom:1px dotted #ccc;
        }
    }
    #invite_friend_list{
        width:450px;
        border-top:1px solid #f5f5f5;
        margin-bottom:30px;
        li{
            padding:5px 0;
            border-bottom:1px solid #f5f5f5;
            text-align:right;
            color:#999;
            span.user{
                float:left;
                font-size:14px;
                .display-inline();
                width:200px;
                text-align:left;
            }
            img{vertical-align: middle;}
        }
    }
}


#goto-top{
    position:fixed;
    display:block;
    width:200px;
    bottom:20px;
    right:20px;
    line-height:24px;
    color:#fff;
    p{
        position:relative;
        z-index:2;
        text-align:center;
    }
    span{
        font-size:16px;
    }
    div{
        position:absolute;
        width:200px;
        height:28px;
        background:rgba(4,4,4,0.8);
        top:0px;
        left:0px;
        z-index:1;
        .border-radius(4px);
    }
}



/*
.activity-color-div{
    .square(12px);
    background-color:#ACE5FE;
    .border-radius(2px);
    float:left;
    margin-right:5px;
    border:1px solid #CCC;
}
#available-color-div{
    position:absolute;
    width:126px;
    padding:0px;
    top:0px;
    left:0px;
    background:white;
    border:1px solid #ddd;
    .box-shadow(0 6px 6px rgba(0, 0, 0, 0.4));
    li{
        border:1px solid #ccc;
        .border-radius(3px);
        width:16px;
        height:16px;
        display:block;
        float:left;
        margin:6px 6px 6px 0;
    }
}
*/

form.full_form{
    label{
        width:150px;
        font: 13px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
        display:block;
        float:left;
        &.full_width{
            width:auto;
            float:none;
        }
    }
    input[type="text"], input[type="password"]{
        width:200px;
    }
    .textarea{
        width:80%;
        height:70px;
    }
}
.error{
    color:#c00;
    margin:5px 0 0;
}

.table{
    width:100%;
}
#table_notification tr{
    background-color:#efefef;
    border-bottom: 1px solid #CCCCCC;
}
#table_notification tr:last-child{
    border:0;
}
#table_notification  td{
    padding:5px;
}
.bookmarklet_botton{
    padding:10px 60px;
    border:1px dashed #CCC;
    font-size:18px;
    background-color: #efe;
    display:inline-block;
    color:#555;
    .transition(0.2s linear all);
    margin-bottom:10px;
    &:hover{
        border:1px dashed #aaa;
        background-color:#bfb;
        color:#111;
        cursor:move;
    }
}
/*
.input_box{
    background-color:#FFF9C8;
    border: 1px solid #F2D95E;
    border-radius: 3px 3px 3px 3px;
    margin: 0 0 15px ;
    padding: 8px;
    width: 270px;
}
.input_box:hover{
    border-color: #EFCB1B;
}
.input_box:focus{
    border-color: #B18D45;
}
.button{
    background-color:#32A2D6;
    background-image: -moz-linear-gradient(#42C6FF, #2A7CA1);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#42C6FF), to(#2A7CA1));
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 0 none;
    color: white;
    cursor: pointer;
    font-size: 13px;
    margin-bottom:5px;
    padding: 7px 0;
    width: 105px;
}
.button:focus{
    background-image:none;
    -moz-box-shadow:inset 1px 1px 3px #444444;
    -webkit-box-shadow:inset  1px 1px 3px #444444 inset;
    box-shadow:inset  1px 1px 3px #444444 inset;
    background-color:#32A2D6;
}
.box_content{
    label{
        font-weight:bold;
    }
    .help_text{
        margin-top:-10px;margin-bottom:15px;
        font-size:12px;
    }
}
*/

.bubble{
    .font-family-narow();
    width:250px;
    border:2px solid #6BE8FF;
    background:white;
    padding:6px 10px;
    .border-radius(5px);
    position:absolute;
    top:100px;
    left:100px;
    z-index:10;
    img{margin: 2px 10px 0 0;float:left;}
    font-size:20px;
    line-height:1.2;
    text-shadow:0 0 1px #fff;
    .box-shadow(3px 3px 5px rgba(0,0,0,0.4));
    a{color:#333;}
    .arrow{
        position:absolute;
        width:0px;
        border-style:solid;
        width:0px;height:0px;
        &.rightTop{
            border-color: transparent transparent #6BE8FF transparent;
            border-width:20px 10px 20px 10px;
            left:90px;
            top:-42px;
            div{
                position:relative;
                width:0px;
                border-color: transparent transparent white transparent;
                border-style:solid;
                border-width:20px 10px 20px 10px;
                width:0px;height:0px;
                left:-10px;
                top:-14px;
            }
        }
        &.leftArrow{
            float:none;
            border-color: transparent  #6BE8FF transparent transparent;
            border-width:10px 20px 10px 20px;
            left:-40px;
            top:20px;
            div{
                position:relative;
                width:0px;
                border-color: transparent  white transparent transparent;
                border-style:solid;
                border-width:10px 20px 10px 20px;
                width:0px;height:0px;
                left:-15px;
                top:-10px;
            }
        }
        
    }
    .close{
        margin-top:-7px;
        margin-right:-7px;
        font-size:12px;
    }

    &#bubble_plugin{
        top:70px;
        left:660px;
        .arrow.rightTop{
            left:220px;
        }
    }
    &#bubble_context{
        top:65px;
        left:250px;
    }
    &#bubble_import{
        top:160px;
        left:0px;
        .arrow.rightTop{
            left:30px;
        }
    }
}
.button{
    /*.button(#049cdb, #0064cd, #ffffff, 0 -1px 0 rgba(0, 0, 0, 0.25), 13px, 5px 15px 6px, 4px, 1px solid #999999);*/
    .button(#6FD4FE, #66C8F0, #ffffff, 0 -1px 0 rgba(0, 0, 0, 0.25), 13px, 4px 15px 5px, 4px, 1px solid #999999);
    border-color: #66C8F0 #0064cd #62C0E6;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    vertical-align:middle;
    &.secondary{
        .button(#FFFFFF, #eeeeee, #333, 0 1px 1px rgba(255,255,255,.75), 13px, 4px 15px 5px, 4px, 1px solid #ccc);
        font-size:13px;
    }
    &.big{
        padding:6px 25px 7px;
        font-size:14px;
        .smallMarginBottom();
    }
    &.primary{
        font-size:13px;
    }
}
.button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.about{
    .font-family-narow();
    .notice{
        width:500px;
        margin:0px auto;
        border:2px solid @blue-border;
        text-align:center;
        font-size:20px;
        color:#999;
        .border-radius(5px);
        a{
            color:#111;
        }
    }
    h2{
        font-size:38px;
        margin:0 0 30px 0;
    }
    h3{
        font-size:32px;
        margin:30px 0 10px;
    }
    img{
        margin-top:10px;
        border:1px solid #33DBFE;
        .border-radius(5px);
        .box-shadow(0 0 2px rgba(0, 0, 0, 0.4));
        padding:4px;
    }
    p{
        margin:5px 0;
        .font-family-narow();
        font-size:18px;
        text-shadow:0 0 1px #fff;
    }
}


/* Invite page */
.center_content{
    text-align:center;
    h2.focus_head{
        background-color:#DDF4FB;
        border:1px solid #C6EDF9;
        padding:15px;
        width:60%;
        margin:0px auto;
        .border-radius(5px);
        font-size:20px;
        margin-bottom:35px;
        text-align:center;
        u{
            text-decoration:none;
            color:#45c3e9;
        }
    }
    .context_name{
        h3{
            font-size:42px;
            color:#333;
            font-family: Arial Narrow;
            font-weight:normal;
            text-shadow: 0 0 1px #fff;
            letter-spacing:1px;
            margin-bottom:5px;
        }
        p{
            font-size:18px;
            color:#888;
        }
    }
    .join_context{
        text-align:right;
        padding:15px 0;
        input{
            margin-left:10px;
            float:right;
        }
        input#join_button{
            font-size:18px;
            height:42px;
            padding:0px 38px;
            position:relative;
        }
    }
    h4{
        color:#888;
        margin-bottom:10px;
    }
    .green-bg{
        background-color:#f5fdef;
        border:1px solid #D9F7C2;
        .border-radius(5px);
        padding:10px 15px;
        a{
            color:#000;
        }
        img{
            /*
            This style was working in chrome but not in firefox
            vertical-align:bottom;
            margin-right:4px;*/
            margin-right: 4px;
            position: relative;
            top: 3px;
        }
        ul.left80{
            border-right:1px solid #D9F7C2;
            .box-shadow(1px 0 0 #fff);
        }
        ul.right20{
            padding-left:10px;
            border-left:1px solid white;
        }
        li{
            margin:15px 0;
        }
        span{
            color:#888;
        }
    }
    p.tagline{
        span{
            font-weight:bold;
            color:#333;
        }
        font-size:18px;
        margin:30px 0;
        text-align:center;
        color:#888;
        text-shadow:0 0 1px #fff;
    }
    p.action{
        font-size:16px;
        text-align:center;
        margin-bottom:20px;
    }
}
.heart_container{
    
    .heart{
        font-size:26px;
        text-shadow:0 1px 1px rgba(80,80,80,0.5);
        font-weight:bold;
        color:#D51A3A;
        line-height:13px;
        .display-inline();
        margin-top:-3px;
    }
}

.response_message{
    background-color:#f5fdef;
    border:1px solid #D9F7C2;
    .border-radius(5px);
    padding:5px 10px;
    margin-bottom:10px;
}
.coming-soon{
    .font-family-narow();
    font-size:44px;
    color: #3AB5FF;
    padding:100px 0 300px;
    text-align:center;
}