/* @group Global Settings */

body{
	font: normal normal 13px/1.5 "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin: 0px;
}
::-webkit-scrollbar {
width: 6px;
height: 6px;
position:absolute;
z-index:2;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
height: 0px;
display: block;
background-color: transparent;
}
::-webkit-scrollbar-track-piece  {
background-color: #eee;
-webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical {
height: 30px;
background-color: #ccc;
-webkit-border-radius: 6px;
}
#container{
	width: 400px;
	min-height: 350px;
	background: transparent url(img/load.gif) no-repeat center 30px;
}
#status{
    position:absolute;
    left:0px;
    bottom:0px;
    padding:1px 7px 3px;
    color:black;
    background:#FFF1A8;
}
#status.success{
    background:#080;
    color:white;
}

.hide{
    display:none;
}
#login{
	width: 370px;
	min-height: 280px;
	display: none;
	padding:15px 10px;
}
.clearfix{
	clear: both;
	float: none;
}
/* @end */

/* @group Head */
a{
	color: #8cd0f5;
}
a.icon{
	width: 16px;
	height: 16px;
	display: block;
	text-indent: -900px;
	overflow: hidden;
	margin: 3px 0;
	float: left;
}
#head{
	overflow: auto;
	margin-bottom: 10px;
	margin-top: 5px;
}
#head a.icon.inactive{
	height: 24px;
	width: 24px;
	margin: 3px 0 1px;
	background: transparent url('img/Hearts.png') no-repeat left top;
}
#head a.icon.active{
	height: 24px;
	width: 24px;
	margin: 1px 0;
	background: transparent url('img/Hearts.png') no-repeat left bottom;
}
#head a.icon.settings{
	background: transparent url('img/settings.png') no-repeat left top;
}
#head h1{
	color: #666;
	font-size: 24px;
	line-height: 28px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: normal;
	float: left;
	width: 340px;
	margin: 0 6px;
}
#tags{
	overflow: auto;
}
a.icon.tag{
	background: transparent url('img/tag.png') no-repeat left top;
}
#view_tags{
    color:#999;
    margin-left:25px;
    border:1px solid white;
    padding:0px 4px;
}
#view_tags:hover{
    border:1px dashed orange;
    background-color:#FFFBD7;
}
#input_tag{
	margin-left: 9px;
	width: 300px;
	padding: 3px 5px;
	border: 1px solid #333;
	outline:none;
	margin-right: 9px;
	font-size: 13px;
}
#input_tag.loading{
    background:transparent url(img/loading.gif) no-repeat 290px center;
}
/* @end */

/* @group Context Selection */
#searchBox{
	width: 100%;
	height: 29px;
	overflow: hidden;
}
ul.context{
	margin: 10px 0 0;
	padding: 0;
	max-height:231px;
	overflow:auto;
}
ul.context .indicator{
	float: left;
	width: 0px;
	height: 0px;
	border: 5px solid #B6FFB9;
	border-radius: 5px;
	display: block;
	margin: 5px 8px;
}
ul.context .subtext{
	font-size: 12px;
    color: #CCC;
    float: right;
    width: 130px;
    text-align: right;
    padding-right: 5px;
    margin-top: 1px;
    text-overflow: ellipsis;
    overflow: hidden;
}
ul.context li{
	list-style: none;
	padding: 5px 0;
	height:23px;
	margin: 0;
	line-height: 20px;
	background: #fcfcfc; /* Old browsers */
	background: -moz-linear-gradient(top, #fcfcfc 0%, #f7f7f7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#f7f7f7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fcfcfc 0%,#f7f7f7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fcfcfc 0%,#f7f7f7 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #fcfcfc 0%,#f7f7f7 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #fcfcfc 0%,#f7f7f7 100%); /* W3C */
}
ul.context li.inactive:hover{
	
}
ul.context li.active:hover{
	background: #DBFED8;
	cursor: pointer;
}
ul.context li.focus{
	background: #fdf3c5;
}
ul.context h3{
	color: #787878;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 0 25px;
    margin-bottom: 3px;
    width: 230px;
}
div#contexts, #no-context{
	margin-top: 25px;
}
div#contexts span.title{
	padding: 4px 10px 4px;
	font-weight: bold;
	border: 1px solid #999;
	border-right: 0px;
	color: #666;
	margin: 0px;
	float: left;
}
#input_context{
	margin: 0px;
	padding: 5px 5px 6px;
	width: 263px;
	border: 1px solid #999;
	font-size: 13px;
	outline: none;
}
/* @end */

