<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>{%block title%}{%endblock%} 23spaces.com</title>
    
    {% load assets %}
    
    
    
    {% assets filters="cssprefixer", output="gen/main.css", "css/main.css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" /> 
    {% endassets %}

    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold' rel='stylesheet' type='text/css'> 
    {% block css %}{%endblock%}
</head>
<body>

<div id="wrap"><div id="top-bar-bg"></div> 
    <div id="header"> 
      <h1><a href="/">Focal</a></h1> 
      <ul class="nav">
        <li><a href="/createactivity/">Create an Activity</a></li>
        <li class='sep'><span></span></li>
        <li><a href="/sharealink/">Share A Webpage</a></li> 
        <li class='sep'><span></span></li> 
        <li>
            <a href="/"><b>Hi {{actuser.username}}</b></a> |
            <a href="/logout/"><b>Sign Out</b></a>
        </li>
      </ul>
    </div> 
    <div id="main"> 
	{%block content%}
    
    {%endblock%}
</div>  

</div> 
<div id="footer"> 
    &copy; 23spaces.com
</div> 
    
    {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    
    {% block js %}
    {% endblock %}
</body>
</html>