<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>Login</title>
</head>
<body>
{%if mesg%}
    {{mesg}}
{%else%}
    <form method="POST">{% csrf_token %}
	    <table>
		    <tr>
			    <td>Email</td>
    			<td><input name="email" type="text" value={{email}} readonly /></td>
	    	</tr>
		    <tr>
			    <td>Password</td>
    			<td><input type="password" name="password" /></td>
	    	</tr>
		    <tr>
			    <td></td>
    			<td><input type="submit" name="submit" /></td>
	    	</tr>
    	</table>

</form>
{%endif%}
</body>
</html>
