{% extends "base.html" %}
{% block content %}

<div class="left250">
	<ul class="manageChannel">
		<li><a href="/settings/">Account Settings</a></li>
    	<li><a href="/notification_settings/">Notification Settings</a></li>
    	<li class="selected">Import / Export</li>
	</ul>
</div>

<div class="right250">
    <h3 class="impact">Save Bookmarks</h3>
    <hr />
    <form action="/bulk_import/" class="full_form" method="post">
    <p>To save links in bulk, Please enter a list of site addresses, one per line:</p>
    <p><textarea name="links" style="width:700px;height:8em;"></textarea></p>
    <!--<label for="pass2">Save In : </label>
    <select name='activity'>
        {%for i in user.activities%}<option value="{{i.id}}">{{i.activityname}}</option>{%endfor%}
    </select>-->
	<p>Links will be saved in your personal context.</p>
    <br /><br />
    <label for="pass1"></label>
    <input class="button big gray" value="Save Bookmarks" type="submit" />
    </form>

    <br /><br />
    <h3 class="impact">Import Bookmarks</h3>
    <hr />
    <p>You can upload a backup from your browser or other online bookmarking service, such as delicious, pinboard, historio.us etc. Just upload a file below, we will scan it for links and save them.</p>
    <form action="/import_from_file/" method="post" class="full_form" enctype="multipart/form-data">
        
        <label for="pass2">Choose File : </label>
        <input type="file" name="bookmarks" value="Upload Bookmarks" /> <br />
		<p>Bookmarks will be imported in your personal context.</p>
        <!--<label for="pass2">Save In : </label>
        <select name='activity'>
            {%for i in user.activities%}<option value="{{i.id}}">{{i.activityname}}</option>{%endfor%}
        </select>-->
        <br /><br />
        <label for="pass1"></label>
        <input class="button" value="Upload Bookmark" type="submit" />
    </form>
    
    
    <br /><br />
    <h3 class="impact">Export Saved Links</h3>
    <hr />
    Exporting your saved links is also very easy. Just <a href="/export/">click here</a> to download your saved links.
    <br /><br />
</div>
<div class="clearfix"></div><br /><br />
{% endblock %}
