<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>Focal : Add New Bookmark</title>
    <link rel="stylesheet" href="/site_media/css/bookmarklet.css" />
</head>
<body>
	<div id="container">
        
        <div id="header">
            <a href="http://www.focal.io/" target="_blank"><img src="/site_media/img/logo-small.png" alt=""/></a>
        	<b>Signed in as : {{actuser.nickname}} | 
            <a href="http://www.focal.io/logout/" target="_blank">logout</a></b>
        </div>
        <h1 id="linkTitle">{{title}}</h1>
        <h3><a href="{{link}}" id="linkURL">{{link}}</a></h3>
        
        <div class="bold">Add URL to following activity streams</div>
        
        <ul id="streamList">
        {%for act in activities%}
            <li><a href="#" {%if act.can_delete%}onclick="linkActivity(this)"{%else%}onclick="can_not_delete(this);"{%endif%} {%if act.added%}class="selected"{%endif%} rel="{{act.id}}">{{act.name}}</a></li>
        {%endfor%}
        </ul>
    </div>
    
    <script type="text/javascript" src="/site_media/js/mootools.js"></script>
    <script type="text/javascript">
        function linkActivity(link){
            if($(link).hasClass('loading'))
                return;
            var DOMAIN  = 'http://www.focal.io/';
            var actId = $(link).get('rel');
            var url = $(link).hasClass('selected') ? DOMAIN + "/delfromact/" :  DOMAIN + "/sharealink/";
            $(link).removeClass('selected').addClass('loading');
            var jsonRequest = new Request.JSON({url: url, onSuccess: function(obj){
                this.className = obj.flag == 0 ? '':'selected';
            }.bind($(link))}).post({
                'contexts': actId, 
                'link':$('linkURL').get('text'), 
                'title':$('linkTitle').get('text')
              });
        }
        function can_not_delete(link){
            
        }
    </script>
</body>
</html>
