<div id="new_activity_form_ajax" class="hide">
    <form method="POST" action="/create/" onsubmit="return submit_form(this)">
        {% csrf_token %}
        <div class="modal_head">
            <h2>Create New Channel</h2>
        </div>
        <div class="modal_content">
            <label>Name : </label>
            <input name="activity" type="text" />
            <div class="help_text">Enter the name of the Context to Create</div>
            
            <div class="gray_bg">Circles are a great way to filter out irrelevant news feed. Anything you share within a circle will only be seen by the friends you choose to be in the circle. To learn more about circles, click here.</div>
        </div>
        <div class="message"></div>
        <div class="modal_foot">
            <img src="/site_media/img/load.gif" alt="" class="hide loader" />
            <input class="button mtl action" type="submit" name="submit" value="Submit" />
            <div class="clearfix"></div>
        </div>
    </form>
</div>
