<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"> 
<head> 
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" /> 
    <title>Share and Manage Bookmark</title> 
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold' rel='stylesheet' type='text/css'> 
    <link rel="stylesheet" href="/site_media/css/style.css" /> 
    <script src="https://ajax.googleapis.com/ajax/libs/mootools/1.3.0/mootools-yui-compressed.js" type="text/javascript" ></script> 
    <script src="/site_media/js/mootools-more.js" type="text/javascript"></script> 
    <script src="/site_media/js/main.js" type="text/javascript"></script> 
</head> 
<body> 
<div id="wrap"><div id="top-bar-bg"></div> 
    <div id="header"> 
      <h1><a href="/">Focal</a></h1> 
      <ul class="nav">
        <li><a href="/createactivity/">Create an Activity</a></li>
        <li class='sep'><span></span></li>
        <li><a href="/sharealink/">Share A Webpage</a></li> 
        <li class='sep'><span></span></li> 
        <li>
            <a href="/"><b>Hi {{actuser.nickname}}</b></a> |
            <a href="/logout/"><b>Sign Out</b></a>
        </li>
      </ul>
    </div> 
    <div id="main"> 
      <form method="POST"> {% csrf_token %}
        <fieldset> 
            <legend>Share a Webpage</legend> 
            <p><label for="link">Link</label> <input style="width:600px;"  type="text" id="link" name="link" value="" /></p> 
            <p><label for="title">Title</label> <input style="width:600px;"  type="text" id="title" name="title" value="" /></p> 
            <p>
              <label for="title">Choose Activity</label>
              <select name="contexts" multiple >
                {% for ua in user_activitylist %}
                  <option value="{{ua.id}}">{{ua.activityname}}
                {% endfor %}
              </select>
            </p> 
            <p><label for="note">Notes</label> 
            <div id="wmd-button-bar"></div> 
            <textarea style="width:600px;" id="note" name="note"></textarea><br /></p> 
            <p class="submit"><input class='button bigrounded gray' type="submit" value="Share It" /></p> 
        </fieldset> 
      </form> 

      <script type="text/javascript"> 
          wmd_options = {
              output: "HTML",
              lineLength: 40,
              buttons: "bold italic | link blockquote | ol ul heading",
              autostart: true
          };
      </script> 
      <script type="text/javascript" src="/site_media/js/wmd.js"></script> 
    </div> 
</div> 
<div id="footer"> 
    &copy; 23spaces.com
</div> 
</body> 
</html>
