{% extends "base.html" %}

{%load get_domain%}

{% block title %}Your Bookmarks : {% endblock %}

{% block content %}
    <div class="leftSidebar sidebar">
        <h4 class="blue">Contexts <a href="/create/" class="add_context" title="Create new Context">Add New Context</a></h4>
        <ul>
            {% for act, count in activities.items %}
        	<li><a href="?activity={{act.activityname}}">{{act.activityname}} <em>{{count}}</em></a> </li>
            {% endfor %}
        </ul>
        <!--<a href="#" class="button">Add Context</a>-->
        
        <h4 class="green">Friends <a href="#" class="add_friend" title="Create new Context">Add New Context</a></h4>
        <ul>
            {% for u, count in user_friends %}
        	<li><a href="?user={{u.id}}">{{u.nickname}} <em>{{count}}</em></a></li>
            {% endfor %}
        </ul>
        <!--<a href="#" class="button">Invite Friends</a>-->
        
    </div>    
    <div class="rightContent">
		<h2 class="head">Your Bookmarks</h2>
        {%for l in ret_list%}
            <div class="entry"> 
                {%domain for l.link%}
                <h3 class="title">
                    {%if l.favicon%}<img class='favi' src="{{l.favicon}}" /> {%endif%}
                    <a rel="{{l.id}}" class="bookmark" href="{{l.link}}">{{l.title}}</a> <em>(<span class="domain">{{domain}}</span>)</em></h3>
                <!--<h4><img class='favicon' src="{{l.favicon}}" /> </h4>-->
                
                <div class="subtext"> 
                    {% for u,al in l.linkshared_status%}
                      <a href="#">{{u.nickname}}</a> Posted in 
                      {% for a in al%}
                        <a class="context" id='c-{{a.id}}' {%if not a.can_delete%}tip="Cannot remove link from this Channel" edit="false" {%endif%}href="?activity={{a.activityname}}">{{a.activityname}}</a>{%if not forloop.last%}, {%endif%}
                      {% endfor %}{%if not forloop.last%}<br /> {%endif%}
                    {% endfor %}
                    <a href="javascript:void(0);" rel="div_edit_context" class="edit_link hidden_link">edit</a>
                    <br />
                    {{l.shared_time|timesince}} ago | <a class="comment_link" href="/discuss/{{l.id}}/">{{l.comment_count}} Comments</a>
                </div> 
            </div> 
        {%endfor%}
        {% if not ret_list %}
            <p>Looks like you don't have any link shared. Download Chrome plugin and start saving and sharing new links.</p>
        {% endif %}
    </div>
    <div class="clearfix"></div>


    <div class="hide" id="div_edit_context">
        <div class="modal_head">
            <h2>Post Link in Channel</h2>
        </div>
        <div class="modal_content">
            <span class="link" style='display:none'></span>
            <h3>Some Link</h3>
            <h4>www.google.com</h4>
            <ul class="streamList">
                {%for i,j in activities.items%}<li><a rel="{{i.id}}" class="clickable a-{{i.id}}" href="javascript:void(0);" onclick="share_in_channel(this);">{{i.activityname}}</a></li> {%endfor%}
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="modal_foot">
            <input class="button mtl action" onclick="editModalBox.hide();"  type="button" name="submit" value="Close" />
            <div class="clearfix"></div>
        </div>
    </div>


    
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/site_media/css/lightbox.css" />
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/site_media/js/modal.js"  ></script>
    <script type="text/javascript" src="/site_media/js/facetip.js"  ></script>
    <script type="text/javascript" src="/site_media/js/home.js"  ></script>
{% endblock %}
