<a href="{{link.link}}">{{link.title}}</a> shared in 
{%for act in activities%}
<b>{{act.activityname}}</b>, 
{%endfor%}
<br/><br/>
Your comment:<br/>
<p>{{parent_comment.comment_text}}</p>
<br/>
{{new_comment.user.nickname}} said in response to your comment:<br/>
<p>{{new_comment.comment_text}}</p>
<br/>
