{% load get_domain %}
<a href="http://www.focal.io/redirect?url={{link.link}}">{{link.title}}</a><br/><br/>

by {{by.nickname}} in {{activity.activityname}}<br/><br/>

manage your notifications - <a href="http://www.focal.io/notification_settings/">http://www.focal.io/notification_settings/</a><br>

