<p>{{new_comment.comment_text}}</p><br/>

by {{new_comment.user.first_name}}{{new_comment.user.last_name}} in 
{%for activity in activities%}
	{{activity.activityname}}, 
{%endfor%}
<br/><br/>

manage your notifications - <a href="http://www.focal.io/notification_settings/">http://www.focal.io/notification_settings/</a><br/><br/>

so long!<br/>
focal team<br/>

